<ion-view title="Acerca de" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">
        Aplicación desarrollada en el marco de un Proyectos de innovación e investigación para el mejoramiento de la enseñanza de grado (PIIMEG).
      </p>
      <hr>
      <b>Autores:</b>
      <br> Alejandro Becerra, Baltazar Parra, Yanina Chilano, Silvana Amín y Américo Degioanni.
      <br>
      <font size="2px">Sistema Suelo - Dpto. Ecología Agraria. </font>
      <p></p>
    </div>
    <div>
      <img src="img/tm4NiLUTQSqoZ68IV82g_LogoAyVyUNRCblanco.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <b>Contacto:</b>
      <br> mabecerra@ayv.unrc.edu.ar
      <br>
      <br> Cualquier sugerencia o colaboración será bien recibida
      <hr>
      <p align="justify">
        Agradecemos la colaboración de la International Union of Soil Science (IUSS) para el desarrollo de esta aplicación.
      </p>
    </div>
    <div>
      <img src="img/i9nnwDE6TaeFNSTggozG_IUSSLogogoldtext.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/CvIgiCBiRF6zhmn6qUeP_IUSSIDSLogohorizontal.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <hr>
      <p>
        <b>Créditos imágenes</b>
      </p>
    </div>
    <font size="1">
      <ul style="list-style-type:disc">
        <li>Barbosa, I. et al .2010 - Soils distribution model based on relation between geology, geomorphology and pedology, at the High Plateau of Distrito Federal, Brazil (Rev. Asoc. Geol. Argent. 66(4)</li>
        <li>Delpupo, C. et al. 2017. Soil and landform interplay in the dry valley of Edson Hills, Ellsworth Mountains, continental Antarctica. Geomorphology 295.</li>
        <li>Catálogo de Suelos de Extremadura. Universidad de Extremadura. http://www.eweb.unex.es/eweb/edafo/CatSuelos.html</li>
        <li>Edafología, Universidad de Granada (www.edafologia.ugr.es)</li>
        <li>Imbellone, P. et al. Suelos calcáreos del litoral noreste de la provincia de Buenos Aires, Argentina en 'Suelos con acumulacion es calcáreas y yesíferas de Argentina' </li>
        <li>Jim Turenne. USDA-NRCS</li>
        <li>John Kelley. USDA-NRCS</li>
        <li>Jorge Mataix-Solera (imaggeo.egu.eu)</li>
        <li>Karen Vaughan. University of Idaho</li>
        <li>Lea Ann Pytlik. USDA-NRCS
        </li>
        <li>Megan Balks. University of Waikato</li>
        <li>Michigan State University Soil Profiles web page. http://geo.msu.edu/extra/soilprofiles/</li>
        <li>Panigatti, J.L. "Argentina: 200 años, 200 suelos". 2010. Ed. INTA.</li>
        <li>Rachel Owen, https://www.rachelkowen.com/ </li>
        <li>Society of Soils Judgers</li>
        <li>Soils Division, Waikato Regional Council. http://nzsoils.org.nz/</li>
        <li>Soils of the Great Plains Slide Set. University of Nebraska</li>
        <li>SoilScience.info</li>
        <li>SSSA Marbut Slide Set</li>
        <li>SSSA Multimedia Gallery</li>
        <li>Stan Buol (solscience.info)</li>
        <li>University of Idaho, College of Agricultural and Life Sciences - https://www.cals.uidaho.edu/soilorders/</li>
        <li>US Department of Agriculture</li>
        <li>USDA-NRCS. "Illustrated guide to soil taxonomy". Soil Survey Staff, 2015. USDA, NRCS, Lincoln, Nebraska. </li>
        <li>USDA-NRCS. US Department of Agriculture. National Resources Conservation Service. </li>
        <li>Soil Survey Staff. 1999. Soil taxonomy: A basic system of soil classification for making and interpreting soil surveys. 2nd ed. NRCS. USDA. Handbook 436.</li>
      </ul>
    </font>
  </ion-content>
</ion-view>