<ion-view title="Acrotorroxes" id="page169">
  <ion-content padding="true" class="has-header">
    <p>
      Baja
      <a ui-sref="cIC">CICE aparente</a> (menor a 1,5 cmol/kg de arcilla) y pH mayor que 5 en los primeros 150 cm.
      <a ui-sref="menu.cIC">
      </a>
    </p>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="acrotorroxes-markdown269" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Torrox
          <ul>
            <li>Acrotorrox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>