<ion-view title="Acrudoxes" id="page183">
  <ion-content padding="true" class="has-header">
    <p>
      Baja
      <a ui-sref="menu.cIC">CICE aparente</a> (menor a 1,5 cmol/kg de arcilla) y pH mayor que 5 en los primeros 150 cm.
      <a ui-sref="menu.cIC">
      </a>
    </p>
    <div>
      <img src="img/Efn45uKkSbSFKLvgkJOY_Acrudox.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acrudoxes-markdown297" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Udox
          <ul>
            <li>Acrudox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>