<ion-view title="Acrustoxes" id="page178">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Baja
        <a ui-sref="menu.cIC">CICE aparente</a> (menor a 1,5 cmol/kg de arcilla) y pH mayor que 5 en los primeros 150 cm.
        <a ui-sref="menu.cIC">
        </a>
      </p>
      <a ui-sref="menu.cIC">
      </a>
    </div>
    <div>
      <img src="img/MkL8DvnSj2SPOJ0TpzMw_Acrustox.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acrustoxes-markdown287" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Ustox
          <ul>
            <li>Acrustox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>