<ion-view title="Acualfes" id="page389">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>•
          <a ui-sref="menu.Cuico"> Condiciones ácuicas</a>. </li>
        <li>•
          <a ui-sref="menu.rasgosRedoximRficos">Rasgos redoximórficos</a>.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/6fEcrWEbTNW8w5v3iGBi_Natracualf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acualfes-markdown677" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Acualf?</p>
    </div>
    <div id="acualfes-button-bar63" class="button-bar">
      <a ui-sref="menu.subRdenesAlfisoles()" id="acualfes-button446" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposAcualfes()" id="acualfes-button447" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>