<ion-view title="Acuentes" id="page490">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.Cuico"> Condiciones ácuicas</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/zPRKEqKdTmubGGmydoFQ_Fluvacuent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acuentes-markdown865" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Acuent?</p>
    </div>
    <div id="acuentes-button-bar78" class="button-bar">
      <a ui-sref="menu.subRdenesEntisoles()" id="acuentes-button553" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposAcuentes()" id="acuentes-button554" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>