<ion-view title="Acueptes" id="page437">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.Cuico"> Condiciones ácuicas</a> o
        <a ui-sref="menu.pSIPorcentajeSodioInterc">PSI</a> ≤ 15 en por lo menos la mitad de los primeros 50 cm.</p>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/iuaHaByBSz6DQdz8ujWv_Endoacuept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acueptes-markdown767" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Acuept?</p>
    </div>
    <div id="acueptes-button-bar71" class="button-bar">
      <a ui-sref="menu.subRdenesInceptisoles()" id="acueptes-button496" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposAcueptes()" id="acueptes-button497" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>