<ion-view title="Acuiturbeles" id="page268">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.Cuico"> Condiciones ácuicas</a> y empobrecimiento redox (
        <a ui-sref="menu.cromaChromaSdv">chroma</a> de 2 o menos) en los primeros 50 cm.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/r6kTLuVhRtO8PUhR9blx_Acuiturbel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acuiturbeles-markdown456" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisol</strong>
      </h5>

      <ul>
        <li>Turbel
          <ul>
            <li>Acuiturbel</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>