<ion-view title="Acuicambides" id="page265">
  <ion-content padding="true" class="has-header">
    <p>
      <a ui-sref="menu.borrar2">Saturado</a> con agua en una o más capas dentro de los primeros 100 cm por un mes o más en años normales.
    </p>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="acuicambides-markdown450" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Cambid
          <ul>
            <li>Acuicambid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>