<ion-view title="Acultes" id="page233">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <ul>
        <li>• Régimen de humedad
          <a ui-sref="menu.Cuico"> ácuico</a>.
        </li>
        <li>•
          <a ui-sref="menu.rasgosRedoximRficos">Rasgos redoximórficos</a>. </li>
        <li>•
          <a ui-sref="menu.epipedN">Epipedón</a>
          <a ui-sref="menu.CricoHorizonte">ócrico</a>.</li>
      </ul>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/ZcwFsw8vTaawFZHQ9WIG_Plinthacult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acultes-markdown389" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Acult?</p>
    </div>
    <div id="acultes-button-bar53" class="button-bar">
      <a ui-sref="menu.subRdenesUltisoles()" id="acultes-button294" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposAcultes()" id="acultes-button295" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>