<ion-view title="Acuoxes" id="page156">
  <ion-content padding="true" class="has-header">
    <div>
      <p>

      </p>
      <ul>
        <li>•
          <a ui-sref="menu.Cuico"> Condiciones ácuicas</a>. </li>
        <li> • Horizonte
          <a ui-sref="menu.hSticoHorizonte">hístico</a> o
          <a ui-sref="menu.contactoDNsico">rasgos redoximórficos</a>.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/2Jbn7C2RFu81u2WTHBhA_Haplacuox.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acuoxes-markdown247" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Acuox?</p>
    </div>
    <div id="acuoxes-button-bar34" class="button-bar">
      <a ui-sref="menu.subRdenesOxisoles()" id="acuoxes-button193" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposAcuoxes()" id="acuoxes-button194" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>