<ion-view title="Acuodes" id="page75">
  <ion-content padding="true" class="has-header">
    <p>•
      <a ui-sref="menu.Cuico"> Condiciones ácuicas</a> dentro de los primeros 50 cm.
      <br> • Horizonte
      <a ui-sref="menu.hSticoHorizonte">hístico</a> o
      <a ui-sref="menu.rasgosRedoximRficos">rasgos redoximórficos</a> en el horizonte
      <a ui-sref="menu.Lbico"> álbico</a> o
      <a ui-sref="menu.spDicoHorizonte">spódico</a>.</p>
    <div>
      <img src="img/nhpZ1kyLRJWKo8rHHBWJ_Endoacuod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acuodes-markdown100" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Acuod?</p>
    </div>
    <div id="acuodes-button-bar21" class="button-bar">
      <a ui-sref="menu.subRdenesSpodosoles()" id="acuodes-button111" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposAcuodes()" id="acuodes-button112" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>