<ion-view title="Acuoles" id="page335">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Régimen de humedad
          <a ui-sref="menu.Cuico"> ácuico</a>.
        </li>
        <li>• Suelos de áreas bajas con
          <a ui-sref="menu.hidromorfismo">hidromorfismo</a>.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/HnjIFVMjSlif5vslXzGs_Natracuol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acuoles-markdown577" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Acuol?</p>
    </div>
    <div id="acuoles-button-bar59" class="button-bar">
      <a ui-sref="menu.subRdenesMolisoles()" id="acuoles-button382" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposAcuoles()" id="acuoles-button383" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>