<ion-view title="Acuorteles" id="page275">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.Cuico"> Condiciones ácuicas</a> y empobrecimiento redox (
        <a ui-sref="cromaChroma">chroma</a> de 2 o menos) en los primeros 50 cm.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/WHTFRSpxQr2riNrJ91fK_Acuorthel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="acuorteles-markdown470" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisol</strong>
      </h5>

      <ul>
        <li>Ortel
          <ul>
            <li>Acuortel</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>