<ion-view title="Albacultes" id="page290">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <ul>
        <li>
          •
          <a ui-sref="menu.cambioTexturalAbrupto">Cambio textural abrupto</a>
          abrupto entre el
          <a ui-sref="menu.epipedN">epipedón</a>
          <a ui-sref="menu.CricoHorizonte">ócrico</a> o un horizonte
          <a ui-sref="menu.Lbico"> álbico</a> y el horizonte
          <a ui-sref="menu.argLicoHorizonte">argílico</a> o
          <a ui-sref="menu.kNdicoHorizonte">kándico</a>. </li>
        <li>•
          <a ui-sref="menu.conductividadHidrUlicaSaturadaKsat">Ksat</a> ≤0,4 cm/h en el horizonte
          <a ui-sref="menu.argLicoHorizonte">argílico</a> o
          <a ui-sref="menu.kNdicoHorizonte">kándico</a>. </li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/ri74un7fTFGVxM8mIDZc_Albacult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="albacultes-markdown489" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Acult
          <ul>
            <li>Albacult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>