<ion-view title="Alboles" id="page324">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Suelos de áreas planas con horizonte
          <a ui-sref="menu.Lbico"> álbico</a> sobre
          <a ui-sref="menu.argLicoHorizonte">argílico</a> o
          <a ui-sref="menu.nTricoHorizonte">nátrico</a>.
        </li>
        <li>• Régimen de temperatura más cálido que el
          <a ui-sref="menu.crIco">críico</a>.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/cJS64PtNRJa7tpuVX2zR_Argialbol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="alboles-markdown558" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Albol?</p>
    </div>
    <div id="alboles-button-bar56" class="button-bar">
      <a ui-sref="menu.subRdenesMolisoles()" id="alboles-button370" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposAlboles()" id="alboles-button371" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>