<ion-view title="Alfisoles" id="page39">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Suelos con horizonte
        <a ui-sref="menu.argLicoHorizonte">argílico</a> o
        <a ui-sref="menu.nTricoHorizonte">nátrico</a> o
        <a ui-sref="menu.kNdicoHorizonte">kándico</a> o
        <a ui-sref="menu.fragipN">fragipán</a>.
        <br>No tienen epipedón
        <a ui-sref="menu.plGenoHorizonte">plágeno</a>. </p>
      <hr>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider10" delegate-handle="slider10" id="alfisoles-slider10" style="width:100%;height:300px;">
      <ion-slide-page id="alfisoles-slide228">
        <div>
          <img src="img/Dpkdqqa5RiKM89qI2p7A_Albacualf.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="alfisoles-slide229" style="background:url(&quot;img/kp6psgWfTBKJddQpAtwe_Alfisoles_cr300centro.jpg&quot;) no-repeat center;background-size:cover;">
        <p align="center">
          Distribución mundial de los Alfisoles
        </p>
      </ion-slide-page>
      <ion-slide-page id="alfisoles-slide230">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <p align="center">Distribución de los Alfisoles en Argentina
                <img src="img/btndOsxMRSvMNFoBbCRZ_Alfisoles1y2.jpeg" style="max-width: 200px; max-height: 250px" alt="Distribución de los Alfisoles en Argentina">
                <br>
                <font color="green">• Dominantes </font> &nbsp; &nbsp;
                <font color="purple"> • Secundarios </font>
              </p>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <div id="alfisoles-markdown35" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">¿El suelo es un Alfisol?</p>
    </div>
    <div id="alfisoles-button-bar13" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="alfisoles-button47" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesAlfisoles()" id="alfisoles-button48" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Sí</a>
    </div>
  </ion-content>
</ion-view>
