<ion-view title="Alortodes" id="page105">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Menos del 0,1% de Fe en el horizonte
        <a ui-sref="menu.spDicoHorizonte">spódico</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/zhPKiJjTdCCu5ktbrdlE_Alorthod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="alortodes-markdown155" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spododol</strong>
      </h5>

      <ul>
        <li>Ortod
          <ul>
            <li>Alortod</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>