<ion-view title="Aluvial" id="page552">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      Suelo formado por depósitos recientes en zonas de valle con frecuencia sometidos a inundación por ríos que aportan el material.
      <br>La granulometría del material es heterogénea en distintas capas. Es común encontrar capas de materiales finos (limos, arcillas) sobre capas de materiales más gruesos (arenas, gravas).
    </p>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	   <a ui-sref="menu.Lbico()" id="aluvial-button861" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="aluvial-button862" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.Ndico()" id="aluvial-button863" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>