<ion-view title="Anhiorteles" id="page276">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.anhidrasCondiciones">Condiciones anhidras</a>.</p>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/DOmaZM11TfGOuxaQ6Pxw_Anhiortel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="anhiorteles-markdown472" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisol</strong>
      </h5>

      <ul>
        <li>Ortel
          <ul>
            <li>Anhiortel</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>