<ion-view title="Anhidras (condiciones)" id="page522">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Condiciones anhidras</b>
      </p>
      <p align="justify">
        Similares a las condiciones
        <a ui-sref="menu.arDico">arídicas</a> o
        <a ui-sref="menu.tRricoRGimenDeHumedad">tórricas</a> de régimen de humedad, excepto que se da en suelos de desiertos fríos con temperaturas menores de 0º C y en áreas de
        <a ui-sref="menu.permafrost">permafrost</a>.


      </p>
      <p></p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.Ndico()" id="anhidrasCondiciones-button602" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="anhidrasCondiciones-button603" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.antrPicoHorizonte()" id="anhidrasCondiciones-button604" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>