<ion-view title="Anhiturbeles" id="page269">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.anhidrasCondiciones">Condiciones anhidras</a>.</p>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/N1qbU6VmQUu2sYAn204f_Anhiturbel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="anhiturbeles-markdown458" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisol</strong>
      </h5>

      <ul>
        <li>Turbel
          <ul>
            <li>Anhiturbel</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>