<ion-view title="Antrópico (horizonte)" id="page523">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Horizonte antrópico</b>
      </p>
      <p align="justify">
        Horizonte diagnóstico formado por la acción del hombre con la agricultura. Tiene todas las propiedades de un epipedón
        <a ui-sref="menu.mLicoHorizonte">mólico</a> pero está enriquecido en fósforo (más de 250 ppm) por los aportes de fertilizantes fosforados y nitrogenados.


      </p>
      <p></p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.anhidrasCondiciones()" id="antrPicoHorizonte-button605" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="antrPicoHorizonte-button606" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.arcillasExpansibles()" id="antrPicoHorizonte-button607" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>