<ion-view title="Arcillas expansibles" id="page649">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      Las arcillas expansibles son minerales propensos a cambios de volumen (expansión/contracción) en función del contenido de humedad.
      <br> Arcillas del tipo de las smectitas (como la montmorillonita) muestran esta propiedad. porque presentan estructuras que permiten que el agua penetre entre las láminas tetraédricas y octaédricas a través de enlaces de hidrógeno aumentando el espacio
      interlaminar.
      <br> La presencia de estas arcillas pueden formar microrelieves de
      <a ui-sref="menu.gilgaiMicrorrelieve">gilgai</a> dando una forma irregular en la superficie del suelo.
    </p>
	</ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.antrPicoHorizonte()" id="arcillasExpansibles-button903" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="arcillasExpansibles-button904" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.argLicoHorizonte()" id="arcillasExpansibles-button905" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>