<ion-view title="Arídico" id="page525">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Régimen de humedad arídico:</b>
      </p>
      <p align="justify">
        Arídico (seco), Tórrico (seco y caliente). En ambos la
        <a ui-sref="menu.secciNDeControlDeHumedad">sección de control</a> se encuentra seca por más de la mitad del tiempo en que la temperatura del suelo es mayor a 5ºC y nunca está húmeda por 90 días acumulativos cuando la temperatura del suelo es mayor a 8 ºC.
        <br>Se usa el régimen Arídico en las categorías superiores de la taxonomía y el Tórrico a nivel de Sub Grupos.</p>
    </div>
	</ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.argLicoHorizonte()" id="arDico-button611" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="arDico-button612" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.bioturbaciN()" id="arDico-button613" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>