<ion-view title="Argixeroles" id="page355">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con horizonte
        <a ui-sref="menu.argLicoHorizonte">argílico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/D8E9RULTxkbqGDdXZDQb_Argixerol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="argixeroles-markdown614" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Xerol
          <ul>
            <li>Argixerol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>