<ion-view title="Argiacuoles" id="page330">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con horizonte
        <a ui-sref="menu.argLicoHorizonte">argílico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/3h3G9CTfRe6ByUnhUn1P_Argiacuol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="argiacuoles-markdown569" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Acuol
          <ul>
            <li>Argiacuol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>