<ion-view title="Argiudoles" id="page372">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con horizonte
        <a ui-sref="menu.argLicoHorizonte">argílico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/iDqgsY6JTa2GEGKsHghA_Argiudol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="argiudoles-markdown646" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Udol
          <ul>
            <li>Argiudol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>