<ion-view title="Argialboles" id="page323">
  <ion-content padding="true" class="has-header">
    <div id="argialboles-markdown555" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Alboles.</p>

      <hr>
    </div>
    <div>
      <img src="img/cJS64PtNRJa7tpuVX2zR_Argialbol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="argialboles-markdown556" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Albol
          <ul>
            <li>Argialbol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>