<ion-view title="Argiorteles" id="page279">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Con horizonte
        <a ui-sref="menu.argLicoHorizonte">argílico</a> dentro de los primeros 100 cm.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="argiorteles-markdown478" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisol</strong>
      </h5>

      <ul>
        <li>Ortel
          <ul>
            <li>Argiortel</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>