<ion-view title="Argicrioles" id="page346">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con horizonte
        <a ui-sref="menu.argLicoHorizonte">argílico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/gl0wXI9QHaKv3C69QpXQ_Argicriol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="argicrioles-markdown597" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Criol
          <ul>
            <li>Argicriol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>