<ion-view title="Argidurides" id="page250">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Horizonte
        <a ui-sref="menu.argLicoHorizonte">argílico</a> sobre el
        <a ui-sref="menu.duripN">duripán</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/QjUkULAjRteLIgHQtWJt_Argidurid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="argidurides-markdown416" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Durid
          <ul>
            <li>Argidurid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>