<ion-view title="Argílico (horizonte)" id="page524">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Horizonte argílico</b>
      </p>
      <p align="justify">
        <p align="justify" style="font-style:italic">(del latín 'argilla': arcilla).</p>
        <br> <p align="justify">Horizonte
        <a ui-sref="menu.iluviaciNIluvial">iluviado</a>, con acumulación de arcilla. Presencia de cutanes (barnices: películas de arcilla) en los agregados. En caso de
        <a ui-sref="menu.till">texturas</a> arenosas, los cutanes se presentan como puntos de arcilla entre los granos minerales.
        <br> El horizonte argílico siempre debe tener mayor contenido de arcilla que el horizonte
        <a ui-sref="menu.eluviaciNEluvial">eluvial</a> según estos criterios

      </p>
      <table style="width: 100%">
        <tbody>
          <tr>
            <th>
              <b>% Arc en Hz. Eluvial </b>
            </th>
            <th>
              <b>% Arc en Hz. Argílico</b>
            </th>
          </tr>
          <tr>
            <td>
              <p align="center">&lt; 15</p>
            </td>
            <td>
              <p align="center">3% más (absoluto)</p>
            </td>
          </tr>
          <tr>
            <td>
              <p align="center">15-40</p>
            </td>
            <td>
              <p align="center">1,2 veces más</p>
            </td>
          </tr>
          <tr>
            <td>
              <p align="center">&gt;40</p>
            </td>
            <td>
              <p align="center">8% más (absoluto)</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.arcillasExpansibles()" id="argLicoHorizonte-button608" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="argLicoHorizonte-button609" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.arDico()" id="argLicoHorizonte-button610" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>