<ion-view title="Aridisol" id="page526">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">
        Orden de suelos formados en climas áridos, donde la falta de humedad hace que las sales y otros minerales se acumulen en el suelo.
        <br> Tienen un epipedón
        <a ui-sref="menu.CricoHorizonte">ócrico</a>, nunca tienen un
        <a ui-sref="menu.mLicoHorizonte">mólico</a> u otro epipedón, pueden o no presentar horizontes
        <a ui-sref="menu.argLicoHorizonte">argílicos</a>,
        <a ui-sref="nTricoHorizonte">nátricos</a>, horizontes
        <a ui-sref="menu.petrocLcicoHorizonte">petrocálcicos</a>,
        <a ui-sref="menu.gypsicoHorizonte">gypsicos</a>,
        <a ui-sref="menu.petrogPsicoHorizonte">petrogypsicos</a>, o
        <a ui-sref="menu.duripN">duripanes</a> y es común la presencia de horizontes
        <a ui-sref="menu.cMbicoHorizonte">cámbicos</a> o
        <a ui-sref="menu.cLcicoHorizonte">cálcicos</a>. Los procesos pedogéneticos son los mismos que los de las regiones húmedas, sin embargo las reacciones físicas y químicas están limitadas por la falta de agua, por lo tanto los perfiles mantienen mucho de los caracteres morfológicos
        de los materiales originarios.
      </p>
    </div>
  </ion-content>
</ion-view>