<ion-view title="Bioturbación" id="page527">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">
        Remoción del suelo y la materia orgánica por acción de lombrices, hormigas, topos, roedores, etc. los cuales provocan la mezcla y la formación de complejos de suelo y materia orgánica</p>
    </div>
	</ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.arDico()" id="bioturbaciN-button614" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="bioturbaciN-button615" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.caCO3Equivalente()" id="bioturbaciN-button616" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>