<ion-view title="CaCO<sub>3</sub> equivalente" id="page624">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>CaCO<sub>3</sub> Equivalente:</b>
      <br> El contenido de carbonato en un material calcáreo o suelo calcáreo calculado como si todo el carbonato estuviera en forma de CaCO
      <sub>3</sub>.
      <br> Se expresa como porcentaje en peso de la fracción de suelo de tamaño inferior a 2 mm.
    </p>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.bioturbaciN()" id="caCO3Equivalente-button592" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="caCO3Equivalente-button764" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.cLcicoHorizonte()" id="caCO3Equivalente-button765" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>