<ion-view title="Calcixeroles" id="page354">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <ul>
        <li>• Horizonte
          <a ui-sref="menu.cLcicoHorizonte">cálcico</a> o
          <a ui-sref="menu.gypsicoHorizonte">gípsico</a> dentro de los primeros 150 cm. </li>
        <li>• Carbonatos libres o
          <a ui-sref="textura">textura</a> arena franca fina o más gruesa por encima del horizonte
          <a ui-sref="menu.cLcicoHorizonte">cálcico</a> o
          <a ui-sref="menu.gypsicoHorizonte">gípsico</a>.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/klUKAKoRHqqKU5gwnHZv_Calcixerol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="calcixeroles-markdown612" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Xerol
          <ul>
            <li>Calcixerol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>