<ion-view title="Calciustertes" id="page222">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Horizonte
        <a ui-sref="menu.cLcicoHorizonte">cálcico</a> o
        <a ui-sref="menu.petrocLcicoHorizonte">petrocálcico</a> dentro de los primeros 100 cm. </p>
      <hr>
    </div>
    <div>
      <img src="img/wAqArYIgQGSJDky6cg4M_Calciustert.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="calciustertes-markdown368" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisol</strong>
      </h5>

      <ul>
        <li>Ustert
          <ul>
            <li>Calciustert</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>