<ion-view title="Calciusteptes" id="page450">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Horizonte
          <a ui-sref="menu.cLcicoHorizonte">cálcico</a> dentro de los primeros 100 cm o
          <a ui-sref="menu.petrocLcicoHorizonte">petrocálcico</a> a los 150 cm.</li>
        <li>•
          <a ui-sref="menu.carbonatosLibres">Carbonatos libres</a> o
          <a ui-sref="menu.textura">textura</a> más gruesa que areno franco fina por encima del horizonte
          <a ui-sref="menu.cLcicoHorizonte">cálcico</a> o
          <a ui-sref="menu.petrocLcicoHorizonte">petrocálcico</a>.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/8syxgiiZR4wSl1Vy6owc_Calciustept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="calciusteptes-markdown791" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Ustept
          <ul>
            <li>Calciustept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>