<ion-view title="Calcigipsides" id="page255">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Horizonte
        <a ui-sref="menu.cLcicoHorizonte">cálcico</a> dentro de los primeros 100 cm. </p>
      <hr>
    </div>
    <div>
      <img src="img/5xNxoQ2SimIyJ33pDIrT_Calcigipsid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="calcigipsides-markdown426" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Gipsid
          <ul>
            <li>Calcigipsid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>