<ion-view title="Calciacuoles" id="page329">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <ul>
        <li>
          • Horizonte
          <a ui-sref="menu.cLcicoHorizonte">cálcico</a> o
          <a ui-sref="menu.gypsicoHorizonte">gípsico</a> en los primeros 40 cm.</li>
        <li>• Sin horizonte
          <a ui-sref="menu.argLicoHorizonte">argílico</a> (o está enterrado).</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/OCdsLLJ4TmegucrtXgk4_Calciacuol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="calciacuoles-markdown567" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Acuol
          <ul>
            <li>Calciacuol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>