<ion-view title="Calcides" id="page232">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Con horizonte
        <a ui-sref="menu.cLcicoHorizonte">cálcico</a> o
        <a ui-sref="menu.petrocLcicoHorizonte">petrocálcico</a> en el primer metro.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/zEzYXTBTkyN5MhSwWhAo_Petrocalcid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="calcides-markdown387" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Calcid?</p>
    </div>
    <div id="calcides-button-bar52" class="button-bar">
      <a ui-sref="menu.subRdenesAridisoles()" id="calcides-button292" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposCalcides()" id="calcides-button293" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>