<ion-view title="Calcixereptes" id="page459">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Horizonte
          <a ui-sref="menu.cLcicoHorizonte">cálcico</a> dentro de los primeros 100 cm o
          <a ui-sref="menu.petrocLcicoHorizonte">petrocálcico</a> a los 150 cm.</li>
        <li>• Carbonatos libres en todas partes por encima del horizonte
          <a ui-sref="menu.cLcicoHorizonte">cálcico</a> o
          <a ui-sref="menu.petrocLcicoHorizonte">petrocálcico</a>.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/zrrnjm5R4C37aFfb0efw_Calcixerept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="calcixereptes-markdown808" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Xerept
          <ul>
            <li>Calcixerept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>