<ion-view title="Cambides" id="page607">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Otros Aridisoles.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/ReZzJI2PSA2hjcS9kCDh_Haplocambid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="cambides-markdown114" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Cambid?</p>
    </div>
    <div id="cambides-button-bar83" class="button-bar">
      <a ui-sref="menu.subRdenesAridisoles()" id="cambides-button555" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposCambides()" id="cambides-button556" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>