<ion-view title="Cambio textural abrupto" id="page530">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">Se caracteriza por un incremento considerable en el contenido de arcilla dentro de una distancia vertical muy corta en la zona de contacto.
        <br>Es un tipo específico de cambio que puede ocurrir entre un epipedón
        <a ui-sref="menu.CricoHorizonte">ócrico</a> o un horizonte
        <a ui-sref="menu.Lbico"> álbico</a> y un horizonte
        <a ui-sref="menu.argLicoHorizonte">argílico</a>. </p>
    </div>
    <div>
      <img src="img/nyzyC6XRqqL3wrlbmNpA_cambiotexturalabrupto.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.cMbicoHorizonte()" id="cambioTexturalAbrupto-button623" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="cambioTexturalAbrupto-button624" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.capaGlCica()" id="cambioTexturalAbrupto-button625" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>