<ion-view title="Capa glácica" id="page531">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Una capa glácica es hielo masivo o hielo basal en forma de lentes o cuñas de hielo. La capa tiene un espesor de 30 cm o más y contiene 75 por ciento o más de hielo visible.</p>
    </div>
    <div>
      <img src="img/aCrGEPVKRVqC6vVr3xM7_Glacistel.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.cambioTexturalAbrupto()" id="capaGlCica-button626" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="capaGlCica-button627" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.cIC()" id="capaGlCica-button628" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>