<ion-view title="Características de diagnóstico" id="page631">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Características de diagnóstico para suelos minerales</b>
        <br>
        <br> •
        <a ui-sref="menu.cambioTexturalAbrupto">Cambio textural abrupto</a>
        <br> •
        <a ui-sref="menu.cromaChroma">Carbonatos secundarios</a>
        <br> • COLE
        <br> •
        <a ui-sref="menu.anhidrasCondiciones">Condiciones anhidras</a>
        <br> •
        <a ui-sref="menu.petrofRricoContacto">Contacto petroférrico</a>
        <br> •
        <a ui-sref="menu.discontinuidadLitolGica">Discontinuidad litológica</a>
        <br> •
        <a ui-sref="menu.durinDulos">Durinódulos</a>
        <br> •
        <a ui-sref="menu.interdigitacionesDeMatLbicos">Interdigitados de materiales álbicos</a>
        <br> •
        <a ui-sref="menu.lamela">Lamelas</a>
        <br> •
        <a ui-sref="menu.Lbico"> Materiales álbicos</a>
        <br> •
        <a ui-sref="menu.spDicosMateriales">Materiales spódicos</a>
        <br> • Minerales meteorizables
        <br> • Minerales resistentes
        <br> •
        <a ui-sref="menu.plintita">Plintita</a>
        <br> •
        <a ui-sref="menu.Ndico">Propiedades ándicas</a>
        <br> •
        <a ui-sref="menu.frGicasPropiedades">Propiedades frágicas</a>
        <br> •
        <a ui-sref="menu.slickensides">Slickensides</a>
        <br> •
        <a ui-sref="menu.valorN"> Valor 'n'</a>
        <br>


        <br>
      </p>
      <hr>
      <b>Características de diagnóstico para suelos orgánicos</b>
      <br>
      <br> ◾&nbsp;
      <u>Tipos de material orgánico:</u>
      <br> &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Fibras
      <br> &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;
      <a ui-sref="menu.fBricosMateriales">Materiales fíbricos</a>
      <br> &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;
      <a ui-sref="menu.hMicoMaterial">Materiales hémicos</a>
      <br> &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;
      <a ui-sref="menu.sPricosMateriales">Materiales sápricos</a>
      <br> &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;
      <a ui-sref="menu.humilVicosMateriales">Materiales humilúvicos</a>
      <br> &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;Materiales límnicos
      <br>
      <br> ◾&nbsp;
      <u>Espesor del material orgánico</u>
      <br>
      <br>
      <hr>
      <b>Características de diagnóstico para suelos minerales y orgánicos</b>
      <br>
      <br> •
      <a ui-sref="menu.capaGlCica">Capa glácica</a>
      <br> •
      <a ui-sref="menu.Cuico"> Condiciones ácuicas</a>
      <br> •
      <a ui-sref="menu.contactoDNsico">Contacto dénsico</a>
      <br> •
      <a ui-sref="menu.contactoLTico">Contacto lítico</a>
      <br> •
      <a ui-sref="menu.contactoParalTico"> Contacto paralítico</a>
      <br> •
      <a ui-sref="menu.crioturbaciN">Crioturbación</a>
      <br> •
      <a ui-sref="menu.sulfRicoHorizonte">Horizonte sulfúrico</a>
      <br> • Materiales dénsicos
      <br> •
      <a ui-sref="menu.materialesGLicos">Materiales gélicos</a>
      <br> • Materiales paralíticos
      <br> •
      <a ui-sref="menu.sulfDicosMateriales">Materiales sulfídicos</a>
      <br> •
      <a ui-sref="menu.permafrost">Permafrost</a>
      <br> •
      <a ui-sref="menu.regMenesDeHumedadDeSuelo">Regímenes de humedad de suelo</a>
      <br> •
      <a ui-sref="menu.regMenesDeTemperaturaDeSuelo">Regímenes de temperatura</a>
      <br>
      <p></p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.cIC()" id="horizontesYCaracterSticasDeDiagnStico-button900" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="horizontesYCaracterSticasDeDiagnStico-button901" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.carbonatosLibres()" id="horizontesYCaracterSticasDeDiagnStico-button902" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>