<ion-view title="Carbonatos libres" id="page612">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">Carbonatos del suelo que no son recubrimientos, ni uniones y que efervescen visible o audiblemente cuando se les trata con HCl diluido en frío.
        <br> El término “carbonatos libres” es casi un sinónimo del término “calcáreo”. Suelos que tienen carbonatos libres generalmente presentan al carbonato de calcio como un mineral común, aun cuando el carbonato de sodio y de magnesio, también están
        incluidos en el concepto.
        <br>No existe una implicación de pedogénesis en el concepto de carbonatos libres como sucede para los
        <a ui-sref="menu.carbonatosSecundariosIdentificables">carbonatos secundarios identificables</a>.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.caracterSticasDeDiagnStico()" id="carbonatosLibres-button894" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="carbonatosLibres-button895" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.carbonatosSecundariosIdentificables()" id="carbonatosLibres-button896" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>