<ion-view title="Carbonatos secundarios identificables" id="page532">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">Carbonato de calcio translocado que ha sido precipitado in situ desde la solución del suelo más que heredado de materiales del suelo calcáreos tales como
        <a ui-sref="menu.loess">loess</a> o
        <a ui-sref="menu.till">till</a>. Puede estar distribuido en la masa del suelo como
        <a ui-sref="menu.concrecionesCalcReas">concreciones</a>, nódulos o agregados esferoidales blancos, blandos y quebradizo en seco. También se puede presentar como revestimiento de poros o en las caras de las agregados.</p>
    </div> 
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.carbonatosLibres()" id="carbonatosSecundariosIdentificables-button629" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="carbonatosSecundariosIdentificables-button630" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.cementaciN()" id="carbonatosSecundariosIdentificables-button631" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>