<ion-view title="Cementación" id="page636">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      Endurecimiento de una capa haciéndola físicamente restrictiva a las raíces.
      <br> Los agentes cementantes pueden ser los carbonatos, la sílice, el hierro o sales más solubles que el yeso.
    </p>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.carbonatosSecundariosIdentificables()" id="cementaciN-button858" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="cementaciN-button859" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.cromaChroma()" id="cementaciN-button860" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>