<ion-view title="CIC" id="page610">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>
        <u>Capacidad de intercambio catiónico (CIC)</u>
      </b>
      <br> Es el número de miliequivalentes capaces de ser adsorbidos por 100 g de material. Es decir que es la suma de las cargas positivas que, en forma de cationes de cambio, puede adsorber un suelo.
      <br> Debido a que su valor depende del pH se refiere siempre al valor determinado a pH 7.

      <br>
      <br>
      <b>
        <u>CIC Efectiva</u>
      </b>
      <br> Es la capacidad de cambio medida al pH natural del suelo.
      <br> En los suelos ácidos esta medida es menor que la capacidad de cambio estándar.
      <br>
      <br>
      <b>
        <u>CICE aparente</u>
      </b>
      <br> Es el valor de la CIC de la muestra dividida por el total de arcilla (%).
      <br> Dicha relación se utiliza para identificar horizontes
      <a ui-sref="menu.kNdicoHorizonte">kándico</a> y
      <a ui-sref="menu.XicoHorizonte">óxico</a>.
    </p>
      </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	   <a ui-sref="menu.capaGlCica()" id="cIC-button864" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="cIC-button865" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.caracterSticasDeDiagnStico()" id="cIC-button866" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>