<ion-view title="Clasificación" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="clasificaciN-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">
        <strong>Órdenes de suelo</strong>
      </p>
    </div>
    <a ui-sref="menu.gelisoles()" id="clasificaciN-button1" class="button button-positive button-block">Gelisol</a>
    <a ui-sref="menu.histosoles()" id="clasificaciN-button6" class="button button-positive button-block">Histosol</a>
    <a ui-sref="menu.spodosoles()" id="clasificaciN-button7" class="button button-positive button-block">Spodosol</a>
    <a ui-sref="menu.andisoles()" id="clasificaciN-button9" class="button button-positive button-block">Andisol</a>
    <a ui-sref="menu.oxisoles()" id="clasificaciN-button8" class="button button-positive button-block">Oxisol</a>
    <a ui-sref="menu.vertisoles()" id="clasificaciN-button11" class="button button-positive button-block">Vertisol</a>
    <a ui-sref="menu.aridisoles()" id="clasificaciN-button12" class="button button-positive button-block">Aridisol</a>
    <a ui-sref="menu.ultisoles()" id="clasificaciN-button13" class="button button-positive button-block">Ultisol</a>
    <a ui-sref="menu.molisoles()" id="clasificaciN-button14" class="button button-positive button-block">Molisol</a>
    <a ui-sref="menu.alfisoles()" id="clasificaciN-button15" class="button button-positive button-block">Alfisol</a>
    <a ui-sref="menu.inceptisoles()" id="clasificaciN-button16" class="button button-positive button-block">Inceptisol</a>
    <a ui-sref="menu.entisoles()" id="clasificaciN-button17" class="button button-positive button-block">Entisol</a>
  </ion-content>
</ion-view>