<ion-view title="Clave Epipedones" id="page519">
  <ion-content padding="true" class="has-header">
    <p>
      La siguiente es una clave simplificada para la identificación de epipedones.
      <br> No debe utilizarse como una definición de las condiciones necesarias de debe cumplir un epipedón.
    </p>
    <div>
      <img src="img/VKICr8BgSIe6ZhxxCgME_ClavesEpipedones.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="claveEpipedones-markdown103" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:10px;">
        <em>Adaptado de: Sabine Grunwald (https://soils.ifas.ufl.edu/faculty/grunwald/teaching/eSoilScience/organic.shtml)
        </em>
      </p>
    </div>
  </ion-content>
</ion-view>