<ion-view title="Cálcico (horizonte)" id="page528">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">
        Horizonte de acumulación secundaria de CaCO
        <sub>3</sub> y/o Mg (15% o más) y 5% más (absoluto) que el horizonte C. Debe tener un espesor mayor a 15 cm.
        <br> El carbonato precipitado puede tener el aspecto de formaciones pulverulentas, blancuzcas, semejantes a filamentos denominados pseudomicelios o el de
        <a ui-sref="menu.concrecionesCalcReas">concreciones</a> globulares o en masa.</p>
    </div>
    <div>
      <img src="img/n7xymiO1TCeBvIOlF2mY_Calciustol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.caCO3Equivalente()" id="cLcicoHorizonte-button617" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="cLcicoHorizonte-button618" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.cMbicoHorizonte()" id="cLcicoHorizonte-button619" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>