<ion-view title="Cámbico (horizonte)" id="page529">
  <ion-content padding="true" class="has-header">
    <h5 id="cMbicoHorizonte-heading3" style="color:#000000;font-weight:300;font-style:italic;">(del latín 'cambiare': cambiar, mudar)</h5>
    <p align="justify">
      Horizonte de alteración que ha adquirido una estructura propia si la
      <a ui-sref="menu.textura">textura</a> del material permite cambios de volumen con las alternancias de humectación y desecación y presenta otras señales de alteración, como formación de arcilla o pérdida de hierro “combinado” o complejado o redistribución de carbonatos.
      <br>Carece de las propiedades de un B
      <a ui-sref="menu.argLicoHorizonte">argílico</a>,
      <a ui-sref="menu.nTricoHorizonte">nátrico</a> o
      <a ui-sref="menu.spDicoHorizonte">spódico</a>. Carece de colores oscuros, contenido de materia orgánica y estructura del horizonte
      <a ui-sref="menu.hSticoHorizonte">hístico</a> o de los horizontes
      <a ui-sref="menu.mLicoHorizonte">mólico</a> o
      <a ui-sref="menu.MbricoHorizonte">úmbrico</a>. </p>
      </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.cLcicoHorizonte()" id="cMbicoHorizonte-button620" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="cMbicoHorizonte-button621" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.cambioTexturalAbrupto()" id="cMbicoHorizonte-button622" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>