<ion-view title="Conductividad eléctrica" id="page533">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">La conductividad eléctrica (CE) de una disolución es la capacidad de conducir la corriente eléctrica. Está relacionada con la presencia de sales, cuya disociación genera iones positivos y negativos capaces de transportar la energía eléctrica si
        se somete el líquido a un campo eléctrico. Por eso la CE de mezclas de suelo-agua estima la cantidad de sales presentes en el suelo.
        <br>Las unidades utilizadas para medir la CE son dS/m (deciSiemens por metro) que equivale a mmhos/cm utilizada anteriormente.</p>
    </div>
   
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.cromaChroma()" id="conductividadElCtrica-button632" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
    <a ui-sref="menu.glosario()" id="conductividadElCtrica-button633" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
    <a ui-sref="menu.concrecionesCalcReas()" id="conductividadElCtrica-button634" style="font-weight:lighter;font-size:14px;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>