<ion-view title="Conductividad hidráulica saturada (Ksat)" id="page536">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Velocidad con la que el agua puede circular por el suelo estando éste
        <a ui-sref="menu.saturaciNAgua">saturado</a>.
      </p>Generalmente medida en cm/h. </div>
    </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.concrecionesCalcReas()" id="conductividadHidrUlicaSaturadaKsat-button638" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="conductividadHidrUlicaSaturadaKsat-button639" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.contactoDNsico()" id="conductividadHidrUlicaSaturadaKsat-button640" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>