<ion-view title="Contacto dénsico" id="page601">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">Es el límite entre el material no consolidado del suelo y una capa que restringe el paso de las raíces. La capa debe ser no
        <a ui-sref="menu.cementaciN">cementada</a>, compacta y densa.
        <br> Al ser no
        <a ui-sref="menu.cementaciN">cementada</a> un fragmento seco al aire se disgregará en agua.
        <br>

        <br>
        <u>Características:</u>
      </p>
      <ul>
        <li>
          <p align="justify">• El contacto es con una capa densa, compacta y no cementada.</p>
        </li>
        <li>
          <p align="justify">• Los espacios por donde las raíces pueden penetrar están a más de 10 cm unos de otros.</p>
        </li>
      </ul>
      <p></p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.conductividadHidrUlicaSaturadaKsat()" id="contactoDNsico-button641" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="contactoDNsico-button642" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.contactoLTico()" id="contactoDNsico-button643" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>