<ion-view title="Contacto lítico" id="page537">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Es el límite entre un suelo y un material coherente y continuo subyacente. Este material debe ser lo suficientemente coherenteen húmedo para que sea impracticable excavarlo manualmente con una pala. Si hay grietas penetrables por raíces, deben ser
        escasas y estar espaciadas a más de 10 cm una de otras.</p>
    </div>
    <div>
      <img src="img/5DSgPYOQ5S9VByEYlaQz_Contactoltico.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.contactoDNsico()" id="contactoLTico-button644" style="font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="contactoLTico-button645" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.contactoParalTico()" id="contactoLTico-button646" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>