<ion-view title="Contacto paralítico" id="page538">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <p align="justify"> Es el límite entre un suelo y materiales paralíticos.
        <br>Para que se dé el contaco paralítico no deben existir grietas o éstas estar más separadas que 10 cm.
        <br>
        <br>
        <u>
          <b>Materiales paralíticos</b>
        </u>
        <br>Materiales relativamente inalterados con cementación moderada a débil. La cementación, densidad aparente y la organización son tales que las raíces no pueden penetrar excepto por grietas.</p>
    </div>
    <div>
      <img src="img/i2isqA74TiqcgiKny5dH_Argiustolconcontactoparaltico.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
   
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.contactoLTico()" id="contactoParalTico-button647" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="contactoParalTico-button648" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.petrofRricoContacto()" id="contactoParalTico-button649" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>