<ion-view title="Criacueptes" id="page430">
  <ion-content padding="true" class="has-header">
    <div>
      <p> Régimen de temperatura
        <a ui-sref="menu.crIco">críico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/iKcudedIRRSzYWQr9FuV_Criacuept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="criacueptes-markdown755" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Acuept
          <ul>
            <li>Criacuept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>