<ion-view title="Crialfes" id="page393">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de temperatura
        <a ui-sref="menu.crIco">críico</a> o
        <a ui-sref="menu.isomSico">isofrígido</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/nLAgayqRQFyv5vRFRYUl_Haplocrialf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="crialfes-markdown684" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Crialf?</p>
    </div>
    <div id="crialfes-button-bar67" class="button-bar">
      <a ui-sref="menu.subRdenesAlfisoles()" id="crialfes-button459" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposCrialfes()" id="crialfes-button460" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>