<ion-view title="Ócrico (horizonte)" id="page566">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> El epipedón ócrico no cumple con las definiciones de cualquiera de los otros siete
        <a ui-sref="menu.epipedN">epipedones</a>, debido a que es muy delgado o muy seco, tiene colores de value o de
        <a ui-sref="menu.cromaChroma">chroma</a> muy altos, contiene muy poco carbono orgánico, tiene
        <a ui-sref="menu.valorN"> valor n</a> o
        <a ui-sref="menu.NdiceMelNico">índice melánico</a> muy altos o es masivo y duro o durísimo en seco.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.nTricoHorizonte()" id="CricoHorizonte-button749" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="CricoHorizonte-button750" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.orden()" id="CricoHorizonte-button751" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>