<ion-view title="Críico" id="page539">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p>
        <b>Régimen de temperatura críico:</b>
      </p>
      <p align="justify"> Suelos con temperatura media anual superior a 0ºC pero inferior a 8ºC.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	   <a ui-sref="menu.petrofRricoContacto()" id="crIco-button653" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="crIco-button654" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.crioturbaciN()" id="crIco-button655" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>