<ion-view title="Crieptes" id="page448">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de temperatura
        <a ui-sref="menu.crIco">críico</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/hlHXjeTqStSy55rRKIXx_Distrocriept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="crieptes-markdown787" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Criept?</p>
    </div>
    <div id="crieptes-button-bar73" class="button-bar">
      <a ui-sref="menu.subRdenesInceptisoles()" id="crieptes-button512" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposCrieptes()" id="crieptes-button513" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>