<ion-view title="Criides" id="page227">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de temperatura
        <a ui-sref="menu.crIco">críico</a>.</p>
      <hr>
      <p></p>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="criides-markdown377" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Criid?</p>
    </div>
    <div id="criides-button-bar47" class="button-bar">
      <a ui-sref="menu.subRdenesAridisoles()" id="criides-button281" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposCriDes()" id="criides-button282" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>