<ion-view title="Criofibristes" id="page62">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de temperatura
        <a ui-sref="menu.crIco">críico</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/ePqS5F07QTuzdb3lpLl9_Criofibrist.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="criofibristes-markdown73" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Fibrist
          <ul>
            <li>Criofibrist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>