<ion-view title="Crioturbación" id="page540">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> La crioturbación (esmerilado con frío) es el mezclado de la matriz del suelo dentro del pedón que da por resultado horizontes irregulares o interrumpidos, involuciones, acumulaciones de materia orgánica sobre el
        <a ui-sref="menu.permafrost">permafrost</a>, fragmentos de roca orientados y casquetes limosos sobre fragmentos de roca.</p>
    </div>
    <div>
      <img src="img/98O86o5VSUa46MoHD9ey_Haploturbel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.crIco()" id="crioturbaciN-button659" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="crioturbaciN-button660" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.cuneiforme()" id="crioturbaciN-button661" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>