<ion-view title="Criodes" id="page77">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de temperatura
        <a ui-sref="menu.crIco">críico</a>, climas fríos.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/vE7upTmvSG2mb664Lank_Haplocriod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="criodes-markdown104" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Criod?</p>
    </div>
    <div id="criodes-button-bar23" class="button-bar">
      <a ui-sref="menu.subRdenesSpodosoles()" id="criodes-button115" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposCriodes()" id="criodes-button116" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>