<ion-view title="Criosapristes" id="page68">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de temperatura
        <a ui-sref="menu.crIco">críico</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/2fqV5TcLSiffuCY8qAtJ_Criosaprist.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <p>
      <small>
        Imagen: http://www.cookinletwetlands.info</small>
    </p>
    <div id="criosapristes-markdown85" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Saprist
          <ul>
            <li>Criosaprist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>