<ion-view title="Crioles" id="page350">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de temperatura
        <a ui-sref="menu.crIco">críico</a>.</p>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/lD8yH4MQ6KF7LA35Lhh3_Haplocriol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="crioles-markdown604" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Criol?</p>
    </div>
    <div id="crioles-button-bar62" class="button-bar">
      <a ui-sref="menu.subRdenesMolisoles()" id="crioles-button403" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposCrioles()" id="crioles-button404" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>