<ion-view title="Cuarsipsammentes" id="page493">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Más de 90% de minerales resistentes (en la fracción de 0,02 a 2 mm).
      </p>
      <hr>
    </div>
    <div>
      <img src="img/2ofmdnZuRqGpHd6AQinr_Cuarsipsamment.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="cuarsipsammentes-markdown871" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Psamment
          <ul>
            <li>Cuarsipsamment</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>