<ion-view title="Ácuico" id="page516">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">
        <b>Régimen de humedad ácuico:</b>
        <br> El régimen de humedad ácuico (L.<i>aqua</i>, agua) es un régimen de reducción en un suelo que está virtualmente libre de oxígeno disuelto porque está
        <a ui-sref="menu.saturaciNAgua">saturado</a> con agua.
        <br> Está implícito en el concepto que la temperatura del suelo está arriba del cero biológico (5 °C) por algún tiempo mientras el suelo esté
        <a ui-sref="menu.saturaciNAgua">saturado</a>. La duración de la
        <a ui-sref="menu.saturaciNAgua">saturado</a> deberá ser al menos de unos pocos días.
        <br>
      </p>
      <hr>
      <p align="justify">
        <b>Condiciones ácuicas:</b>
        <br> Se dan cuando los materiales del suelo se encuentran bajo un período de
        <a ui-sref="menu.saturaciNAgua">saturado</a> contínua y reductora, indicada por la presencia de
        <a ui-sref="menu.rasgosRedoximRficos">rasgos redoximórficos</a>.
      </p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.glosario()" id="Cuico-button588" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.Grico()" id="Cuico-button589" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>