<ion-view title="Densidad aparente" id="page595">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Es la masa por unidad de volumen de suelo seco. El volumen incluye el volumen ocupado por los sólidos y el volumen ocupados por los poros del suelo.
        <br> Por lo general se expresa en g/cm
        <sup>3</sup>.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.cuneiforme()" id="densidadAparente-button665" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="densidadAparente-button666" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.discontinuidadLitolGica()" id="densidadAparente-button667" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>