<ion-view title="Údico (régimen de humedad)" id="page589">
  <ion-content padding="true" class="has-header">
    <div>
     <p align="justify"> La
        <a ui-sref="menu.secciNDeControlDeHumedad">sección de control de humedad</a> del suelo no se encuentra seca por lo menos 90 días acumulativos, en la mayoría de los años.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.tRricoRGimenDeHumedad()" id="DicoRGimenDeHumedad-button812" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="DicoRGimenDeHumedad-button813" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.MbricoHorizonte()" id="DicoRGimenDeHumedad-button814" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>