<ion-view title="Discontinuidad litológica" id="page541">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Son cambios significativos en la distribución del tamaño de partículas o mineralógicos, representan diferencias en litología dentro del suelo. Una discontinuidad litológica puede también denotar una diferencia en edad (diferentes etapas de génesis).</p>
    </div>
    <div>
      <img src="img/i2isqA74TiqcgiKny5dH_Argiustolconcontactoparaltico.jpg" style="display: block; width: auto; height: 70%; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.densidadAparente()" id="discontinuidadLitolGica-button671" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="discontinuidadLitolGica-button672" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.durinDulos()" id="discontinuidadLitolGica-button673" style="font-weight:lighter;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>