<ion-view title="Distrocrieptes" id="page445">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Sin carbonatos libres en los primeros 200 cm.</li>
        <li>•
          <a ui-sref="menu.saturaciNConBases">Saturación con bases</a> menor a 50% en los primeros horizontes.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/hlHXjeTqStSy55rRKIXx_Distrocriept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="distrocrieptes-markdown782" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Criept
          <ul>
            <li>Distrocriept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>