<ion-view title="Distracuertes" id="page202">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Dentro de los primeros 50 cm al menos 25 cm con:

      </p>
      <ul>
        <li>•
          <a ui-sref="menu.conductividadElCtrica">Conductividad eléctrica</a> menor a 4 dS/m.</li>
        <li>• pH (en agua 1:1) menor a 5.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/XseOIg1fQrSPHgVpXPKo_Distracuert.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="distracuertes-markdown333" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisol</strong>
      </h5>

      <ul>
        <li>Acuert
          <ul>
            <li>Distracuert</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>