<ion-view title="Distrustertes" id="page219">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Dentro de los primeros 50 cm, al menos 25 cm con:

      </p>
      <ul>
        <li>•
          <a ui-sref="menu.conductividadElCtrica">Conductividad eléctrica</a> menor a 4 dS/m.</li>
        <li>• pH (en agua 1:1) menor a 5.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="distrustertes-markdown362" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisol</strong>
      </h5>

      <ul>
        <li>Ustert
          <ul>
            <li>Distrustert</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>