<ion-view title="Distrudeptes" id="page469">
  <ion-content padding="true" class="has-header">
    <div id="distrudeptes-markdown826" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Udeptes.</p>

      <hr>
    </div>
    <div>
      <img src="img/JgVsOrZVSDSFyglP0n9x_Distrudept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="distrudeptes-markdown827" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Udept
          <ul>
            <li>Distrudept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>