<ion-view title="Distroxereptes" id="page460">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Sin carbonatos libres en los primeros 200 cm.</li>
        <li>•
          <a ui-sref="menu.saturaciNConBases">Saturación con bases</a> con bases menor a 60% entre los 25 y 75 cm de profundidad.</li>
      </ul>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="distroxereptes-markdown810" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Xerept
          <ul>
            <li>Distroxerept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>