<ion-view title="Distrogeleptes" id="page439">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.saturaciNConBases">Saturación con bases</a> menor a 50% en al menos la mitad de los primeros 50 cm.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="distrogeleptes-markdown771" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Gelept
          <ul>
            <li>Distrogelept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>