<ion-view title="Distrusteptes" id="page452">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Sin
          <a ui-sref="menu.carbonatosLibres">carbonatos libres</a> en los primeros 200 cm.</li>
        <li>•
          <a ui-sref="menu.saturaciNConBases">Saturación con bases</a> con bases menor a 60% entre los 25 y 75 cm de profundidad.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/t9895nXRRtmHIi19oq1P_Distrustept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="distrusteptes-markdown795" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Ustept
          <ul>
            <li>Distrustept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>