<ion-view title="Duracuodes" id="page89">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.eluviaciNEluvial">Duripán</a> dentro de los primeros 100 cm de suelo mineral.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/LS3145SfTwKxGw2foe2m_Duracuod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="duracuodes-markdown123" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spododol</strong>
      </h5>

      <ul>
        <li>Acuod
          <ul>
            <li>Duracuod</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>