<ion-view title="Duripán" id="page543">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Horizonte subsuperficial que presenta
        <a ui-sref="menu.cementaciNwefwe">cementación</a> por sílice por lo menos en la mitad de la masa. Los agregados secos al aire no se desintegran en agua.</p>
    </div>
    <div>
      <img src="img/88l1Tef1Tcai1r0v1PkP_Duripan.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <small>Imagen: Soil Survey Staff (NRCS-USDA)</small>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.durinDulos()" id="duripN-button662" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="duripN-button663" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.eluviaciNEluvial()" id="duripN-button664" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>