<ion-view title="Duricriodes" id="page95">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.eluviaciNEluvial">Duripán</a> dentro de los primeros 100 cm de suelo mineral.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/zrqMdap0S7SdFm8VI24c_Duricriod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="duricriodes-markdown135" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spododol</strong>
      </h5>

      <ul>
        <li>Criod
          <ul>
            <li>Duricriod</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>