<ion-view title="Durinódulos" id="page542">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Nódulos endurecidos a débilmente cementados con sílice.
        <br>Los durinódulos secos no se disuelven apreciablemente en agua, pero una inmersión prolongada libera láminas delgadas de material.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.discontinuidadLitolGica()" id="durinDulos-button677" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="durinDulos-button678" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.duripN()" id="durinDulos-button679" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>