<ion-view title="Duricriandes" id="page133">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">
        <a ui-sref="menu.eluviaciNEluvial">Duripán</a> dentro de los primeros 100 cm del suelo mineral o de la parte superior de una capa orgánica con
        <a ui-sref="menu.Ndico">propiedades ándicas</a> de suelo, cualquiera que esté menos profunda. </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="duricriandes-markdown202" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Criand
          <ul>
            <li>Duricriand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>