<ion-view title="Durustoles" id="page360">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.duripN">Duripán</a> dentro de los primeros 100 cm de suelo mineral. </p>
      <hr>
    </div>
    <div>
      <img src="img/YctG47cSCKjWYSkxBwch_DurustolST1999.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <small>Imagen: Soil Survey Staff (NRCS-USDA)</small>
    <div id="durustoles-markdown623" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Ustol
          <ul>
            <li>Durustol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>