<ion-view title="Elementos formativos Suborden" id="page626">
  <ion-content padding="true" class="has-header">
    <div>
      <style>
        #table1 {
          font-family: bahnschrift, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 2px solid #476b6b;
          text-align: center;
          padding: 7px;
        }
        
        tr:nth-child(even) {
          background-color: #b3cccc;
        }
      </style>



      <h4>Elementos formativos de los
        <u>Subórdenes</u> de suelos</h4>

      <table id="table1">
        <tbody>
          <tr>
            <th>
              <b>ELEMENTO
                <br>FORMATIVO</b>
            </th>
            <th>
              <b>CONNOTACIÓN</b>
            </th>
          </tr>
          <tr>
            <td>alb</td>
            <td>Presencia de horizonte álbico</td>
          </tr>
          <tr>
            <td>anthr</td>
            <td>Modificado por el humano</td>
          </tr>
          <tr>
            <td>acu</td>
            <td>Condiciones ácuicas</td>
          </tr>
          <tr>
            <td>ar</td>
            <td>Horizonte mezclado</td>
          </tr>
          <tr>
            <td>arg</td>
            <td>Presencia de horizonte argílico</td>
          </tr>
          <tr>
            <td>calc</td>
            <td>Presencia de horizonte cálcico</td>
          </tr>
          <tr>
            <td>camb</td>
            <td>Presencia de horizonte cámbico</td>
          </tr>
          <tr>
            <td>cri</td>
            <td>Frío</td>
          </tr>
          <tr>
            <td>dur</td>
            <td>Presencia de duripán</td>
          </tr>
          <tr>
            <td>fibr</td>
            <td>Poco descompuesto</td>
          </tr>
          <tr>
            <td>fluv</td>
            <td>Llanura de inundación</td>
          </tr>
          <tr>
            <td>fol</td>
            <td>Masa de hojas</td>
          </tr>
          <tr>
            <td>gyps</td>
            <td>Presencia de horizonte gypsico</td>
          </tr>
          <tr>
            <td>hem</td>
            <td>Estado intermedio de descomposición</td>
          </tr>
          <tr>
            <td>hist</td>
            <td>Presencia de materiales orgánicos</td>
          </tr>
          <tr>
            <td>hum</td>
            <td>Presencia de materia orgánica</td>
          </tr>
          <tr>
            <td>orth</td>
            <td>Común</td>
          </tr>
          <tr>
            <td>per</td>
            <td>Régimen de humedad perúdico</td>
          </tr>
          <tr>
            <td>psamm</td>
            <td>Textura arenosa</td>
          </tr>
          <tr>
            <td>rend</td>
            <td>Alto contenido de carbonato de calcio</td>
          </tr>
          <tr>
            <td>sal</td>
            <td>Presencia de horizonte sálico</td>
          </tr>
          <tr>
            <td>sapr</td>
            <td>Estado de mayor descomposición</td>
          </tr>
          <tr>
            <td>torr</td>
            <td>Régimen de humedad tórrico</td>
          </tr>
          <tr>
            <td>turb</td>
            <td>Presencia de crioturbación</td>
          </tr>
          <tr>
            <td>ud</td>
            <td>Régimen de humedad údico</td>
          </tr>
          <tr>
            <td>ust</td>
            <td>Régimen de humedad ústico</td>
          </tr>
          <tr>
            <td>vitr</td>
            <td>Presencia de vidrio</td>
          </tr>
          <tr>
            <td>xer</td>
            <td>Régimen de humedad xérico</td>
          </tr>

        </tbody>
      </table>

    </div>
    <div>
      <br>
      <hr>
    </div>
  </ion-content>
</ion-view>