<ion-view title="Elementos formativos Orden" id="page625">
  <ion-content padding="true" class="has-header">
    <div>
      <style>
        #table2 {
          font-family: bahnschrift, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 2px solid #ac7339;
          text-align: center;
          padding: 7px;
        }
        
        tr:nth-child(even) {
          background-color:  #d9b38c;
        }
      </style>



      <h4>Elementos formativos de los
        <u>Órdenes</u> de suelos</h4>

      <table id="table2">
        <tbody>
          <tr>
            <th>
              <b>ORDEN</b>
            </th>
            <th>
              <b>ELEMENTO
                <br>FORMATIVO</b>
            </th>
          </tr>
          <tr>
            <td>Gelisol</td>
            <td>el</td>
          </tr>
          <tr>
            <td>Histosol</td>
            <td>ist</td>
          </tr>
          <tr>
            <td>Spodosol</td>
            <td>od</td>
          </tr>
          <tr>
            <td>Andisol</td>
            <td>and</td>
          </tr>
          <tr>
            <td>Oxisol</td>
            <td>ox</td>
          </tr>
          <tr>
            <td>Vertisol</td>
            <td>ert</td>
          </tr>
          <tr>
            <td>Aridisol</td>
            <td>id</td>
          </tr>
          <tr>
            <td>Ultisol</td>
            <td>ult</td>
          </tr>
          <tr>
            <td>Molisol</td>
            <td>ol</td>
          </tr>
          <tr>
            <td>Alfisol</td>
            <td>alf</td>
          </tr>
          <tr>
            <td>Inceptisol</td>
            <td>ept</td>
          </tr>
          <tr>
            <td>Entisol</td>
            <td>ent</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div>
      <br>
      <hr>
    </div>
  </ion-content>
</ion-view>