<ion-view title="Elementos formativos GG" id="page627">
  <ion-content padding="true" class="has-header">
    <div>
      <style>
        table {
          font-family: bahnschrift, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #661aff;
          text-align: center;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color:  #ccb3ff;
        }
      </style>



      <h4>Elementos formativos de los
        <u>Grandes Grupos</u> de suelos</h4>

      <table>
        <tbody>
          <tr>
            <th>ELEMENTO
              <br>FORMATIVO</th>
            <th>CONNOTACIÓN</th>
          </tr>
          <tr>
            <td>Acr</td>
            <td>Meteorización extrema</td>
          </tr>
          <tr>
            <td>Al</td>
            <td>Alto Aluminio, bajo Hierro</td>
          </tr>
          <tr>
            <td>Alb</td>
            <td>Presencia de horizonte álbico</td>
          </tr>
          <tr>
            <td>Anhi</td>
            <td>Muy seco</td>
          </tr>
          <tr>
            <td>Antr</td>
            <td>Presencia de epipedón antrópico</td>
          </tr>
          <tr>
            <td>Acu</td>
            <td>Condiciones ácuicas</td>
          </tr>
          <tr>
            <td>Argi</td>
            <td>Presencia de horizonte argílico</td>
          </tr>
          <tr>
            <td>Calci / Calc</td>
            <td>Presencia de horizonte cálcico</td>
          </tr>
          <tr>
            <td>Cri</td>
            <td>Frío</td>
          </tr>
          <tr>
            <td>Dur</td>
            <td>Presencia de duripán</td>
          </tr>
          <tr>
            <td>Distr / Dis</td>
            <td>Baja saturación con bases</td>
          </tr>
          <tr>
            <td>Endo</td>
            <td>Implica napa freática</td>
          </tr>
          <tr>
            <td>Epi</td>
            <td>Implica napa freática colgada</td>
          </tr>
          <tr>
            <td>Eutr</td>
            <td>Alta saturación con bases</td>
          </tr>
          <tr>
            <td>Ferr</td>
            <td>Presencia de hierro</td>
          </tr>
          <tr>
            <td>Fibr</td>
            <td>Estado de menor descomposición</td>
          </tr>
          <tr>
            <td>Fluv</td>
            <td>Llanura de inundación</td>
          </tr>
          <tr>
            <td>Fol</td>
            <td>Masa de hojas</td>
          </tr>
          <tr>
            <td>Fragi</td>
            <td>Presencia de fragipán</td>
          </tr>
          <tr>
            <td>Fragloss</td>
            <td>Combinación de elementos formativos 'Frag' y 'Gloss'</td>
          </tr>
          <tr>
            <td>Frasi</td>
            <td>No salino</td>
          </tr>
          <tr>
            <td>Fulv</td>
            <td>Color marrón oscuro, presencia de carbono orgánico</td>
          </tr>
          <tr>
            <td>Glac</td>
            <td>Cuñas o lentes de hielo</td>
          </tr>
          <tr>
            <td>Gyps</td>
            <td>Presencia de horizonte gypsico</td>
          </tr>
          <tr>
            <td>Gloss</td>
            <td>Presencia de horizonte glóssico</td>
          </tr>
          <tr>
            <td>Hal</td>
            <td>Salino</td>
          </tr>
          <tr>
            <td>Hapl</td>
            <td>Desarrollo mínimo de horizontes</td>
          </tr>
          <tr>
            <td>Hem</td>
            <td>Estado intermedio de descomposición</td>
          </tr>
          <tr>
            <td>Hist</td>
            <td>Presencia de materiales orgánicos</td>
          </tr>
          <tr>
            <td>Hum</td>
            <td>Presencia de materia orgánica</td>
          </tr>
          <tr>
            <td>Hidr</td>
            <td>Presencia de agua</td>
          </tr>
          <tr>
            <td>Kand / Kan</td>
            <td>Arcillas 1:1</td>
          </tr>
          <tr>
            <td>Luv</td>
            <td>Illuvial</td>
          </tr>
          <tr>
            <td>Melan</td>
            <td>Negro, presencia de carbono orgánico</td>
          </tr>
          <tr>
            <td>Moll</td>
            <td>Presencia de epipedón mólico</td>
          </tr>
          <tr>
            <td>Natr</td>
            <td>Presencia de horizonte nátrico</td>
          </tr>
          <tr>
            <td>Pale</td>
            <td>Desarrollo excesivo</td>
          </tr>
          <tr>
            <td>Petr</td>
            <td>Horizonte cementado</td>
          </tr>
          <tr>
            <td>Plac</td>
            <td>Presencia de horizonte fino de baja permeabilidad</td>
          </tr>
          <tr>
            <td>Plagg</td>
            <td>Presencia de epipedón plaggen</td>
          </tr>
          <tr>
            <td>Plint</td>
            <td>Presencia de plintita</td>
          </tr>
          <tr>
            <td>Psamm</td>
            <td>Textura arenosa</td>
          </tr>
          <tr>
            <td>Cuarz</td>
            <td>Alto contenido de cuarzo</td>
          </tr>
          <tr>
            <td>Rhod</td>
            <td>Color rojo oscuro</td>
          </tr>
          <tr>
            <td>Sal</td>
            <td>Presencia de horizonte sálico</td>
          </tr>
          <tr>
            <td>Sapr</td>
            <td>Estado de mayor descomposición</td>
          </tr>
          <tr>
            <td>Somb</td>
            <td>Presencia de horizonte sómbrico</td>
          </tr>
          <tr>
            <td>Sphagn</td>
            <td>Presencia de sphagnum</td>
          </tr>
          <tr>
            <td>Sulf</td>
            <td>Presencia de sulfuros o sus productos de oxidación</td>
          </tr>
          <tr>
            <td>Torr</td>
            <td>Régimen de humedad tórrico</td>
          </tr>
          <tr>
            <td>Ud</td>
            <td>Régimen de humedad údico</td>
          </tr>
          <tr>
            <td>Umbr</td>
            <td>Presencia de epipedón úmbrico</td>
          </tr>
          <tr>
            <td>Ust</td>
            <td>Régimen de humedad ústico</td>
          </tr>
          <tr>
            <td>Verm</td>
            <td>Mezclado por lombrices o animales</td>
          </tr>
          <tr>
            <td>Vitr</td>
            <td>Presencia de vidrio</td>
          </tr>
          <tr>
            <td>Xer</td>
            <td>Régimen de humedad xérico</td>
          </tr>
        </tbody>
      </table>


    </div>
    <div>
      <br>
      <hr>
    </div>
  </ion-content>
</ion-view>