<ion-view title="Endoacuentes" id="page488">
  <ion-content padding="true" class="has-header">
    <div id="endoacuentes-markdown861" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Acuentes.</p>

      <hr>
    </div>
    <div>
      <img src="img/6kp3vm0DTUOIj65dm4FE_Endoacuent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="endoacuentes-markdown862" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Acuent
          <ul>
            <li>Endoacuent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>