<ion-view title="Endopedones" id="page629">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Los endopedones son horizontes de diagnóstico subsuperficiales, que no necesariamente coinciden con los horizontes E o B.
        <br>
        <br>
        <b>
          <u>Listado de endopedones:</u>
        </b>

      </p>
      <table style="width:100%" textalign="center">
        <tbody>
          <tr>
            <td>•
              <a ui-sref="menu.Grico"> Ágrico</a>
            </td>
            <td>•
              <a ui-sref="menu.Lbico"> Álbico</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.argLicoHorizonte">Argílico</a>
            </td>
            <td>•
              <a ui-sref="menu.cLcicoHorizonte">Cálcico</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.cMbicoHorizonte">Cámbico</a>
            </td>
            <td>•
              <a ui-sref="menu.eluviaciNEluvial">Duripán</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.fragipN">Fragipán</a>
            </td>
            <td>•
              <a ui-sref="menu.glSsicoHorizonte">Glósico</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.gypsicoHorizonte">Gypsico</a>
            </td>
            <td>•
              <a ui-sref="menu.kNdicoHorizonte">Kándico</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.nTricoHorizonte">Nátrico</a>
            </td>
            <td>•
              <a ui-sref="menu.orsteinHorizonte">Orstein</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.XicoHorizonte">Óxico</a>
            </td>
            <td>•
              <a ui-sref="menu.petrocLcicoHorizonte">Petrocálcico</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.petrogPsicoHorizonte">Petrogypsico</a>
            </td>
            <td>•
              <a ui-sref="menu.plCicoHorizonte">Plácico</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.sLicoHorizonte">Sálico</a>
            </td>
            <td>•
              <a ui-sref="menu.sMbricoHorizonte">Sómbrico</a>
            </td>
          </tr>
          <tr>
            <td>•
              <a ui-sref="menu.spDicoHorizonte">Spódico</a>
            </td>
            <td>•
              <a ui-sref="menu.sulfRicoHorizonte">Sulfúrico</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.eluviaciNEluvial()" id="endopedones-button904" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="endopedones-button905" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.epipedN()" id="endopedones-button906" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>