<ion-view title="Endoacultes" id="page296">
  <ion-content padding="true" class="has-header">
    <div id="endoacultes-markdown505" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Acultes. </p>

      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="endoacultes-markdown506" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Acult
          <ul>
            <li>Endoacult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>