<ion-view title="Entisoles" id="page41">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Suelos no evolucionados, con perfil muy poco desarrollado.
      </p>
      <hr>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider12" delegate-handle="slider12" id="entisoles-slider12" style="width:100%;height:300px;">
      <ion-slide-page id="entisoles-slide234">
        <div>
          <img src="img/nwMtCSxJS8Cxz5OrluwN_Udorthent.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="entisoles-slide235" style="background:url(&quot;img/5Ou2bsfzQLmWCQtj5mBa_Entisoles_cr300centro.jpg&quot;) no-repeat center;background-size:cover;">
        <p align="center">
          Distribución mundial de los Entisoles
        </p>
      </ion-slide-page>
      <ion-slide-page id="entisoles-slide258">
        <p align="center">Distribución de los Entisoles en Argentina
          <img src="img/9mPkG0R6RqWLKaYer792_entisoles1y2.jpeg" style="max-width: 200px; max-height: 250px" alt="Distribución de los Entisoles en Argentina">
          <br>
          <font color="green">• Dominantes </font> &nbsp; &nbsp;
          <font color="purple"> • Secundarios </font>
        </p>
      </ion-slide-page>
    </ion-slides>
    <div id="entisoles-markdown37" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">¿El suelo es un Entisol?</p>
    </div>
    <div id="entisoles-button-bar15" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="entisoles-button51" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesEntisoles()" id="entisoles-button52" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Sí</a>
    </div>
  </ion-content>
</ion-view>