<ion-view title="Epiacuoles" id="page331">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con
        <a ui-sref="menu.episaturaciN">episaturación</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/OnBFFcB7T5a3PrHEWdNs_Epiacuol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="epiacuoles-markdown571" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Acuol
          <ul>
            <li>Epiacuol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>