<ion-view title="Epipedón" id="page544">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Epipedón: Epi (arriba) y Pedón (suelo). Parte superior del suelo coloreada por la materia orgánica. Puede comprender parte del horizonte “B”.
        <br>
        <a ui-sref="menu.claveEpipedones">Aquí</a> se puede consultar una clave simplificada para identificar epipedones.
        <br>
        <br>
        <u>Listado de epipedones:</u>
      </p>
      <ul>
        <li>•
          <a ui-sref="menu.antrPicoHorizonte">Antrópico</a>
        </li>
        <li>•
          <a ui-sref="menu.folSticoEpipedN">Folístico</a>
        </li>
        <li>•
          <a ui-sref="menu.hSticoHorizonte">Hístico</a>
        </li>
        <li>•
          <a ui-sref="menu.melNicoHorizonte">Melánico</a>
        </li>
        <li>•
          <a ui-sref="menu.mLicoHorizonte">Mólico</a>
        </li>
        <li>•
          <a ui-sref="menu.CricoHorizonte">Ócrico</a>
        </li>
        <li>•
          <a ui-sref="menu.plGenoPlaggenHorizonte">Plaggen</a>
        </li>
        <li>•
          <a ui-sref="menu.MbricoHorizonte">Úmbrico</a>
        </li>
      </ul>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.endopedones()" id="epipedN-button668" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="epipedN-button669" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.episaturaciN()" id="epipedN-button670" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>