<ion-view title="Episaturación" id="page545">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> El suelo está
        <a ui-sref="menu.saturaciNAgua">saturado</a> con agua en una o más capas dentro de los 200 cm de la superficie del suelo mineral y también tiene una o más capas no
        <a ui-sref="menu.saturaciNAgua">saturadas</a>, con un límite superior arriba de los 200 cm de profundidad, y por abajo de la capa
        <a ui-sref="menu.saturaciNAgua">saturada</a>, es decir, el nivel freático está localizado sobre una capa relativamente impermeable.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.epipedN()" id="episaturaciN-button680" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="episaturaciN-button681" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.fBricosMateriales()" id="episaturaciN-button682" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>