<ion-view title="Eutrudeptes" id="page468">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <ul>
        <li>
          •
          <a ui-sref="menu.carbonatosLibres">Carbonatos libres</a> dentro del suelo,</li> o
        <li>•
          <a ui-sref="menu.saturaciNConBases">Saturación con bases</a> mayor a 60% en algún horizonte entre los 25 y 75 cm de profundidad.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/h3iiNbHWQoKyPujViFdy_Eutrudept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="eutrudeptes-markdown825" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Udept
          <ul>
            <li>Eutrudept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>