<ion-view title="Eutrotorroxes" id="page170">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        35% o más de
        <a ui-sref="menu.saturaciNConBases">saturación con bases</a> en todos los horizontes dentro de los primeros 125 cm.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/w1PEAXc8TAqsMfcYkzjO_Eutrotorrox.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="eutrotorroxes-markdown271" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Torrox
          <ul>
            <li>Eutrotorrox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>