<ion-view title="Eutroperoxes" id="page174">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Al menos 35% de
        <a ui-sref="menu.saturaciNConBases">saturación con bases</a> en todos los horizontes dentro de los primeros 125 cm.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="eutroperoxes-markdown279" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Perox
          <ul>
            <li>Eutroperox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>