<ion-view title="Eutrudoxes" id="page184">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Al menos de 35% de
        <a ui-sref="menu.saturaciNConBases">saturación con bases</a> en todos los horizontes dentro de los primeros 125 cm.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/2twOys1bSMCfWoGotcNu_Eutrudox.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="eutrudoxes-markdown299" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Udox
          <ul>
            <li>Eutrudox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>