<ion-view title="Fibristeles" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.fBricosMateriales">Materiales fíbricos</a> a menos de 50 cm de profundidad.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/xIjZ98QITjaRcQ94jEEm_Fibristel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fibristeles-markdown21" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisol</strong>
      </h5>

      <ul>
        <li>Histel
          <ul>
            <li>Fibristel</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>