<ion-view title="Fibristes" id="page47">
  <ion-content padding="true" class="has-header">
    <p>
      Materia orgánica poco descompuesta (turba), sin horizonte
      <a ui-sref="menu.sulfRicoHorizonte">sulfúrico</a>.
    </p>
    <div>
      <img src="img/nToc4qtlQ8SDI9ACnCeU_Criofibrist.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fibristes-markdown48" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Fibrist?</p>
    </div>
    <div id="fibristes-button-bar18" class="button-bar">
      <a ui-sref="menu.subRdenesHistosoles()" id="fibristes-button77" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposFibristes()" id="fibristes-button78" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>