<ion-view title="Fluvacuentes" id="page486">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Menos de 50 cm de material transportado por el hombre y:
      </p>
      <ul>
        <li>• Pendiente &lt; 25%.</li>
        <li>• Más de 0,2% de carbono orgánico a una profundidad de 125 cm,</li>
        o
        <li>• Decrecimiento irregular del carbono orgánico entre los 25 y 125 cm.</li>
      </ul>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/zPRKEqKdTmubGGmydoFQ_Fluvacuent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fluvacuentes-markdown858" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Acuent
          <ul>
            <li>Fluvacuent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>