<ion-view title="Fluventes" id="page506">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Sin
          <a ui-sref="menu.contactoDNsico">contacto dénsico</a>,
          <a ui-sref="menu.contactoLTico">lítico</a> o
          <a ui-sref="menu.contactoParalTico">paralítico</a> en los primeros 25 cm.</li>
        <li>• En superficie no tienen un espesor de 50 cm de materiales transportados por el hombre o de material de suelo nuevo que no sea de origen
          <a ui-sref="menu.aluvial">aluvial</a>.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/DfU1yo9hTBwoHcqzl5uW_Torrifluvent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fluventes-markdown895" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Fluvent?</p>
    </div>
    <div id="fluventes-button-bar80" class="button-bar">
      <a ui-sref="menu.subRdenesEntisoles()" id="fluventes-button575" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposFluventes()" id="fluventes-button576" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>