<ion-view title="Folistes" id="page45">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.saturaciNAgua">Saturado</a> menos de 30 días acumulativos en años normales.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/UVeheSITRJCWbZjR4Xb4_Udifolist300.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div id="folistes-markdown44" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Folist?</p>
    </div>
    <div id="folistes-button-bar16" class="button-bar">
      <a ui-sref="menu.subRdenesHistosoles()" id="folistes-button73" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposFolistes()" id="folistes-button74" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>