<ion-view title="Folisteles" id="page9">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.saturaciNAgua">Saturados</a> por menos de 30 días al año.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="folisteles-markdown19" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisol</strong>
      </h5>

      <ul>
        <li>Histel
          <ul>
            <li>Folistel</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>