<ion-view title="Folístico (epipedón)" id="page546">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Capa (uno o más horizontes) que está
        <a ui-sref="menu.saturaciNAgua">saturada</a> por menos de 30 días (acumulativos) en años normales.
        <br>Material orgánico con al menos 20 cm de espesor y que contiene 75% o más de fibras o tiene una densidad aparente menor a 0,1 g/cm
        <sup>3</sup>.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.fBricosMateriales()" id="folSticoEpipedN-button686" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="folSticoEpipedN-button687" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.frGicasPropiedades()" id="folSticoEpipedN-button688" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>