<ion-view title="Fraglossudalfes" id="page415">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Con horizonte
          <a ui-sref="menu.glSsicoHorizonte">glósico</a>.</li>
        <li>•
          <a ui-sref="menu.fragipN">Fragipán</a> dentro de los primeros 100 cm del suelo mineral.</li>
      </ul>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="fraglossudalfes-markdown726" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Udalf
          <ul>
            <li>Fraglossudalf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>