<ion-view title="Fragiudeptes" id="page466">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.fragipN">Fragipán</a> dentro de los primeros 100 cm del suelo mineral. </p>
      <hr>
    </div>
    <div>
      <img src="img/4kVnv8LRuKWsbFsVWFJf_Fragiudept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fragiudeptes-markdown821" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Udept
          <ul>
            <li>Fragiudept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>