<ion-view title="Fragixeralfes" id="page406">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.fragipN">Fragipán</a> dentro de los primeros 100 cm del suelo mineral. </p>
      <hr>
    </div>
    <div>
      <img src="img/BlWwJqSjSMqR99Tf1Fgy_Fragixeralf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fragixeralfes-markdown709" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Xeralf
          <ul>
            <li>Fragixeralf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>