<ion-view title="Fragipán" id="page548">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Capa subsuperficial de alta densidad, quebradiza en húmedo y muy dura en seco. El fragipán no se ablanda con el humedecimiento, pero se puede romper con las manos. Los agregados secos al aire se desmoronan en agua.</p>
    </div>
    <div>
      <img src="img/BlWwJqSjSMqR99Tf1Fgy_Fragixeralf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.frGicasPropiedades()" id="fragipN-button674" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="fragipN-button675" style="font-weight:lighter;" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.frGido()" id="fragipN-button676" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>