<ion-view title="Frasiwassistes" id="page59">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.conductividadElCtrica">Conductividad eléctrica</a> &lt; 0,2 dS/m en los primeros 100 cm (mezcla suelo:agua de 1:5 en volumen).
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="frasiwassistes-markdown67" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Wassist
          <ul>
            <li>Frasiwassist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>