<ion-view title="Frasiwassentes" id="page473">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <a ui-sref="menu.conductividadElCtrica">CE</a> &lt; 0,2 dS/m en los primeros 100 cm (1:5 de suelo:agua en volumen).
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="frasiwassentes-markdown833" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Wassent
          <ul>
            <li>Frasiwassent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>