<ion-view title="Frágicas (propiedades)" id="page547">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Las propiedades frágicas de suelo son esencialmente las propiedades de un
        <a ui-sref="menu.fragipN">fragipán</a>, pero no tienen los requisitos de espesor de la capa, ni el volumen para ser un
        <a ui-sref="menu.fragipN">fragipán</a>.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.folSticoEpipedN()" id="frGicasPropiedades-button692" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="frGicasPropiedades-button693" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.fragipN()" id="frGicasPropiedades-button694" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>