<ion-view title="Frígido" id="page549">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Temperatura media anual entre 0 y 8ºC. Más cálido en verano que el suelo de régimen
        <a ui-sref="menu.crIco">críico</a>. La diferencia entre la media de verano y la de invierno es de más de 6ºC.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.fragipN()" id="frGido-button689" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="frGido-button690" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.gLicoRGimenDeTemperatura()" id="frGido-button691" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>