<ion-view title="Fulvicriandes" id="page136">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con una capa superficial que reúne los requisitos de profundidad, espesor y carbono orgánico de un
        <a ui-sref="menu.epipedN">epipedón</a>
        <a ui-sref="menu.melNicoHorizonte">melánico</a> pero de color más claro.
        <br>Comunmente tienen un horizonte O delgado, un
        <a ui-sref="menu.epipedN">epipedón</a>
        <a ui-sref="menu.MbricoHorizonte">úmbrico</a> y un horizonte
        <a ui-sref="menu.cMbicoHorizonte">cámbico</a>.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="fulvicriandes-markdown208" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Criand
          <ul>
            <li>Fulvicriand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>