<ion-view title="Fulvudandes" id="page152">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con una capa superficial que reúne los requisitos de profundidad, espesor y carbono orgánico de un
        <a ui-sref="menu.epipedN">epipedón</a>
        <a ui-sref="menu.melNicoHorizonte">melánico</a> pero de color más claro.
        <br>Comunmente tienen un horizonte O delgado, un
        <a ui-sref="menu.epipedN">epipedón</a>
        <a ui-sref="menu.MbricoHorizonte">úmbrico</a> y un horizonte
        <a ui-sref="menu.cMbicoHorizonte">cámbico</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/utGAQs8aSqak8w2pfzCT_Fulvudand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="fulvudandes-markdown240" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Udand
          <ul>
            <li>Fulvudand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>