<ion-view title="Galeria" id="page606">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider14" delegate-handle="slider14" id="galeria-slider14" style="width:100%;height:400px;">
      <ion-slide-page id="galeria-slide241" style="background:url(&quot;img/DPd2QtRN2sTXOrZEgilk_HistosolesPySbig.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="galeria-slide244" style="background:url(&quot;img/btndOsxMRSvMNFoBbCRZ_Alfisoles1y2.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="galeria-slide237" style="background:url(&quot;img/5deGRAZ6QiyCDDHjZXGO_Spodosoles2y3.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="galeria-slide239" style="background:url(&quot;img/CrM89EWgSjmNibiZjJlB_Molisoles1y2.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="galeria-slide245" style="background:url(&quot;img/YBgqrg7Ry6G1vwMhH0qA_Gelisoles1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="galeria-slide246" style="background:url(&quot;img/Het9qrcxSzKlTX9IZoZE_Andisoles1y2.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="galeria-slide247" style="background:url(&quot;img/EYDISjozSwWlLrpDGJih_vertisoles1y2.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="galeria-slide248" style="background:url(&quot;img/9mPkG0R6RqWLKaYer792_entisoles1y2.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="galeria-slide249" style="background:url(&quot;img/dFBeO8ZITu68qtmTadj6_Aridisoles1y2.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="galeria-slide250" style="background:url(&quot;img/n3eUV2NyRP2dRLD9Fnoc_Ultisoles1y2.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="galeria-slide251" style="background:url(&quot;img/VcNIRVBRxaTPdUZrJMIb_Oxisoles2y3.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="galeria-slide252" style="background:url(&quot;img/97rPP94ITjilFSV0uwHH_Inceptisoles1y2.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>