<ion-view title="Gelandes" id="page109">
  <ion-content padding="true" class="has-header">
    <div id="gelandes-markdown161" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Climas muy fríos (temperatura media anual del suelo &lt; a 0°C).</p>

      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="gelandes-markdown162" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Geland?</p>
    </div>
    <div id="gelandes-button-bar27" class="button-bar">
      <a ui-sref="menu.subRdenesAndisoles()" id="gelandes-button153" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposGelandes()" id="gelandes-button154" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>