<ion-view title="Geleptes" id="page442">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de temperatura
        <a ui-sref="menu.gLicoRGimenDeTemperatura">gélico</a>.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="geleptes-markdown776" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Gelept?</p>
    </div>
    <div id="geleptes-button-bar72" class="button-bar">
      <a ui-sref="menu.subRdenesInceptisoles()" id="geleptes-button506" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposGeleptes()" id="geleptes-button507" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>