<ion-view title="Gelisoles" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <ul>
        <li>
          <a ui-sref="menu.permafrost">Permafrost</a> dentro de los primeros 100 cm,</li> o
        <li>
          <a ui-sref="menu.materialesGLicos">materiales gélicos</a> dentro de los 100 cm y
          <a ui-sref="menu.permafrost">permafrost</a> dentro de los 200 cm.</li>
        <p></p>
        <hr>

      </ul>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="gelisoles-slider1" style="width:100%;height:300px;">
      <ion-slide-page id="gelisoles-slide24">
        <div>
          <img src="img/aCrGEPVKRVqC6vVr3xM7_Glacistel.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="gelisoles-slide26" style="background:url(&quot;img/uKgREOIhRpiJKoi8S5dm_Gelisoles_cr300centro.jpg&quot;) no-repeat center;background-size:cover;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <p align="center">
                Distribución mundial de los Gelisoles
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br> </p>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="gelisoles-slide22">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <p align="justify">
                En Argentina los Gelisoles se encuentran representados en la Antártida.
                <br> Por el momento no disponemos de mapa de distribución de Gelisoles en territorio argentino.
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              </p>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <div id="gelisoles-markdown25" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">¿El suelo es un Gelisol?</p>
    </div>
    <div id="gelisoles-button-bar2" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="gelisoles-button33" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesGelisoles()" id="gelisoles-button34" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Sí</a>
    </div>
  </ion-content>
</ion-view>