<ion-view title="Gelodes" id="page76">
  <ion-content padding="true" class="has-header">
    <div id="gelodes-markdown101" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Climas muy fríos, temperatura media anual del suelo &lt; 0°C.</p>

      <hr>
    </div>
    <div>
      <img src="img/DKDYSmNjQTyGmqK7JNS1_Humigelod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="gelodes-markdown102" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Gelod?</p>
    </div>
    <div id="gelodes-button-bar22" class="button-bar">
      <a ui-sref="menu.subRdenesSpodosoles()" id="gelodes-button113" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposGelodes()" id="gelodes-button114" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>