<ion-view title="Gilgai (microrrelieve)" id="page551">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Micro relieve típico de suelos ricos en arcilla expansible y que estacionalmente sufre apreciables cambios en el contenido de humedad. Este micro relieve puede alcanzar desniveles desde unos pocos centímetros hasta 1 metro. Excepcionalmente pueden
        acercarse a los 2 metros.</p>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider15" delegate-handle="slider15" id="gilgaiMicrorrelieve-slider15" style="width:auto;height:350px;">
      <ion-slide-page id="gilgaiMicrorrelieve-slide212" style="background:url(&quot;img/KKVl543S3WEOwjM1Q3Aw_gilgai300.jpg&quot;) no-repeat center;background-size:cover;" class="padding"></ion-slide-page>
      <ion-slide-page id="gilgaiMicrorrelieve-slide215" style="background:url(&quot;img/N3G2ErDdRImZnu1Ydkz2_Vertisolargiloturbacionsoilscience.info300.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.materialesGLicos()" id="gilgaiMicrorrelieve-button704" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="gilgaiMicrorrelieve-button705" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.glSsicoHorizonte()" id="gilgaiMicrorrelieve-button706" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>