<ion-view title="Gipsides" id="page230">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Horizonte
          <a ui-sref="menu.gypsicoHorizonte">gípsico</a> o
          <a ui-sref="menu.petrogPsicoHorizonte">petrogípsico</a> dentro del primer metro.
        </li>
        <li>• Sin horizonte
          <a ui-sref="menu.petrocLcicoHorizonte">petrocálcico</a>. </li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/FRoZkLBRhqmBoFNGYZWj_Haplogipsid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="gipsides-markdown383" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Gipsid?</p>
    </div>
    <div id="gipsides-button-bar50" class="button-bar">
      <a ui-sref="menu.subRdenesAridisoles()" id="gipsides-button288" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposGipsides()" id="gipsides-button289" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>