<ion-view title="Gipsitorrertes" id="page216">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Horizonte
        <a ui-sref="menu.gypsicoHorizonte">gípsico</a> dentro de los primeros 100 cm. </p>
      <hr>
    </div>
    <div>
      <img src="img/lDTKBtLvRvmf9MX6paIt_Gipsitorrert.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="gipsitorrertes-markdown356" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisol</strong>
      </h5>

      <ul>
        <li>Torrert
          <ul>
            <li>Gipsitorrert</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>