<ion-view title="Glacisteles" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Con
        <a ui-sref="menu.capaGlCica">capa glácica</a> a menos de 100 cm de profundidad.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/aCrGEPVKRVqC6vVr3xM7_Glacistel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="glacisteles-markdown20" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisol</strong>
      </h5>

      <ul>
        <li>Histel
          <ul>
            <li>Glacistel</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>