<ion-view title="Gélico (régimen de temperatura)" id="page599">
  <ion-content padding="true" class="has-header">
    <div>
    
      <p align="justify" style="font-style:italic"> (del latín 'gelare': congelar).</p> <p align="justify">Temperatura media anual menor a 0 °C (para suborden o Grandes Grupos Gélicos) o menor a 1 °C (en Gelisoles) a una profundidad de 50 cm o sobre un
        <a ui-sref="menu.contactoDNsico">contacto dénsico</a>,
        <a ui-sref="menu.contactoLTico">lítico</a> o
        <a ui-sref="menu.contactoParalTico">paralítico</a>, lo que sea más superficial.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.frGido()" id="gLicoRGimenDeTemperatura-button695" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="gLicoRGimenDeTemperatura-button696" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.materialesGLicos()" id="gLicoRGimenDeTemperatura-button697" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>