<ion-view title="Glosario" id="page515">
<ion-nav-buttons side="right">

    <button menu-toggle="left" class="button button-icon icon ion-navicon"
            ng-hide="config.showSelect"></button>

    <button class="button-clear button back-button"
            ng-click="toggleSelect()"
            ng-show="config.showSelect"> <i class="icon ion-chevron-left"></i> </button>

  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="glosario-markdown911" class="show-list-numbers-and-dots"></div>
    <ion-list id="glosario-list2">
      <ion-item id="glosario-list-item7" ui-sref="menu.Cuico()" class="bajo">Ácuico</ion-item>
      <ion-item id="glosario-list-item8" ui-sref="menu.Grico()" class="bajo">Ágrico</ion-item>
      <ion-item id="glosario-list-item9" ui-sref="menu.Lbico()" class="bajo">Álbico</ion-item>
      <ion-item id="glosario-list-item93" ui-sref="menu.aluvial()" class="bajo">Aluvial</ion-item>
	  <ion-item id="glosario-list-item119" ui-sref="menu.Ndico()" class="bajo">Ándicas (propiedades)</ion-item>
	  <ion-item id="glosario-list-item119" ui-sref="menu.anhidrasCondiciones()" class="bajo">Anhidras (condiciones)</ion-item>
      <ion-item id="glosario-list-item10" ui-sref="menu.antrPicoHorizonte()" class="bajo">Antrópico (horizonte)</ion-item>
	  <ion-item id="glosario-list-item120" ui-sref="menu.arcillasExpansibles()" class="bajo">Arcillas expansibles</ion-item>
      <ion-item id="glosario-list-item11" ui-sref="menu.argLicoHorizonte()" class="bajo">Argílico (horizonte)</ion-item>
      <ion-item id="glosario-list-item12" ui-sref="menu.arDico()" class="bajo">Arídico (régimen de humedad)</ion-item>
      <ion-item id="glosario-list-item13" ui-sref="menu.bioturbaciN()" class="bajo">Bioturbación</ion-item>
      <ion-item id="glosario-list-item95" ui-sref="menu.caCO3Equivalente()" class="bajo">CaCO<sub>3</sub> equivalente</ion-item>
      <ion-item id="glosario-list-item14" ui-sref="menu.cLcicoHorizonte()" class="bajo">Cálcico (horizonte)</ion-item>
      <ion-item id="glosario-list-item15" ui-sref="menu.cMbicoHorizonte()" class="bajo">Cámbico (horizonte)</ion-item>
      <ion-item id="glosario-list-item16" ui-sref="menu.cambioTexturalAbrupto()" class="bajo">Cambio textural abrupto</ion-item>
      <ion-item id="glosario-list-item17" ui-sref="menu.capaGlCica()" class="bajo">Capa glácica</ion-item>
      <ion-item id="glosario-list-item96" ui-sref="menu.cIC()" class="bajo">Capacidad de Intercambio Catiónico</ion-item>
      <ion-item id="glosario-list-item115" ui-sref="menu.caracterSticasDeDiagnStico()" class="bajo">Características de diagnóstico</ion-item>
      <ion-item id="glosario-list-item25" ui-sref="menu.carbonatosLibres()" class="bajo">Carbonatos libres</ion-item>
      <ion-item id="glosario-list-item118" ui-sref="menu.carbonatosSecundariosIdentificables()" class="bajo">Carbonatos secundarios identificables</ion-item>
      <ion-item id="glosario-list-item97" ui-sref="menu.cementaciN()" class="bajo">Cementación</ion-item>
      <ion-item id="glosario-list-item18" ui-sref="menu.cromaChroma()" class="bajo">Chroma / Croma</ion-item>
      <ion-item id="glosario-list-item98" ui-sref="menu.conductividadElCtrica()" class="bajo">Conductividad eléctrica (CE)</ion-item>
      <ion-item id="glosario-list-item20" ui-sref="menu.concrecionesCalcReas()" class="bajo">Concreciones calcáreas</ion-item>
      <ion-item id="glosario-list-item24" ui-sref="menu.conductividadHidrUlicaSaturadaKsat()" class="bajo">Conductividad hidráulica saturada (Ksat)</ion-item>
      <ion-item id="glosario-list-item21" ui-sref="menu.contactoDNsico()" class="bajo">Contacto dénsico</ion-item>
      <ion-item id="glosario-list-item22" ui-sref="menu.contactoLTico()" class="bajo">Contacto lítico</ion-item>
      <ion-item id="glosario-list-item26" ui-sref="menu.contactoParalTico()" class="bajo">Contacto paralítico</ion-item>
      <ion-item id="glosario-list-item27" ui-sref="menu.petrofRricoContacto()" class="bajo">Contacto petroférrico</ion-item>
      <ion-item id="glosario-list-item23" ui-sref="menu.crIco()" class="bajo">Críico</ion-item>
      <ion-item id="glosario-list-item29" ui-sref="menu.crioturbaciN()" class="bajo">Crioturbación</ion-item>
      <ion-item id="glosario-list-item28" ui-sref="menu.cuneiforme()" class="bajo">Cuneiforme</ion-item>
      <ion-item id="glosario-list-item30" ui-sref="menu.densidadAparente()" class="bajo">Densidad aparente</ion-item>
      <ion-item id="glosario-list-item31" ui-sref="menu.discontinuidadLitolGica()" class="bajo">Discontinuidad litológica</ion-item>
      <ion-item id="glosario-list-item32" ui-sref="menu.durinDulos()" class="bajo">Durinódulos</ion-item>
      <ion-item id="glosario-list-item33" ui-sref="menu.duripN()" class="bajo">Duripán</ion-item>
      <ion-item id="glosario-list-item99" ui-sref="menu.eluviaciNEluvial()" class="bajo">Eluvial</ion-item>
      <ion-item id="glosario-list-item117" ui-sref="menu.endopedones()" class="bajo">Endopedón</ion-item>
      <ion-item id="glosario-list-item34" ui-sref="menu.epipedN()" class="bajo">Epipedón</ion-item>
      <ion-item id="glosario-list-item35" ui-sref="menu.episaturaciN()" class="bajo">Episaturación</ion-item>
      <ion-item id="glosario-list-item36" ui-sref="menu.fBricosMateriales()" class="bajo">Fíbricos (materiales)</ion-item>
      <ion-item id="glosario-list-item37" ui-sref="menu.folSticoEpipedN()" class="bajo">Folístico (epipedón)</ion-item>
      <ion-item id="glosario-list-item38" ui-sref="menu.frGicasPropiedades()" class="bajo">Frágicas (propiedades)</ion-item>
      <ion-item id="glosario-list-item39" ui-sref="menu.fragipN()" class="bajo">Fragipán</ion-item>
      <ion-item id="glosario-list-item40" ui-sref="menu.frGido()" class="bajo">Frígido</ion-item>
      <ion-item id="glosario-list-item41" ui-sref="menu.gLicoRGimenDeTemperatura()" class="bajo">Gélico</ion-item>
      <ion-item id="glosario-list-item42" ui-sref="menu.materialesGLicos()" class="bajo">Gélicos (materiales)</ion-item>
      <ion-item id="glosario-list-item43" ui-sref="menu.gilgaiMicrorrelieve()" class="bajo">Gilgai</ion-item>
      <ion-item id="glosario-list-item45" ui-sref="menu.glSsicoHorizonte()" class="bajo">Glóssico (horizonte)</ion-item>
      <ion-item id="glosario-list-item46" ui-sref="menu.gypsicoHorizonte()" class="bajo">Gípsico (horizonte)</ion-item>
      <ion-item id="glosario-list-item47" ui-sref="menu.hMicoMaterial()" class="bajo">Hémico (material)</ion-item>
      <ion-item id="glosario-list-item48" ui-sref="menu.hidromorfismo()" class="bajo">Hidromorfismo</ion-item>
      <ion-item id="glosario-list-item49" ui-sref="menu.hipertRmico()" class="bajo">Hipertérmico</ion-item>
      <ion-item id="glosario-list-item50" ui-sref="menu.hSticoHorizonte()" class="bajo">Hístico (horizonte)</ion-item>
      <ion-item id="glosario-list-item116" ui-sref="menu.horizontesYCaracterSticasDeDiagnStico()" class="bajo">Horizonte de diagnóstico</ion-item>
      <ion-item id="glosario-list-item100" ui-sref="menu.hue()" class="bajo">Hue / Tono</ion-item>
      <ion-item id="glosario-list-item51" ui-sref="menu.humilVicosMateriales()" class="bajo">Humilúvicos (materiales)</ion-item>
      <ion-item id="glosario-list-item101" ui-sref="menu.iluviaciNIluvial()" class="bajo">Iluviación / Iluvial</ion-item>
      <ion-item id="glosario-list-item52" ui-sref="menu.NdiceMelNico()" class="bajo">Índice melánico</ion-item>
      <ion-item id="glosario-list-item102" ui-sref="menu.interdigitacionesDeMatLbicos()" class="bajo">Interdigitaciones de materiales álbicos</ion-item>
      <ion-item id="glosario-list-item53" ui-sref="menu.isofrGido()" class="bajo">Isofrígido</ion-item>
      <ion-item id="glosario-list-item110" ui-sref="menu.isohipertRmico()" class="bajo">Isohipertérmico</ion-item>
      <ion-item id="glosario-list-item111" ui-sref="menu.isomSico()" class="bajo">Isomésico</ion-item>
      <ion-item id="glosario-list-item112" ui-sref="menu.isotRmico()" class="bajo">Isotérmico</ion-item>
      <ion-item id="glosario-list-item54" ui-sref="menu.kNdicoHorizonte()" class="bajo">Kándico (horizonte)</ion-item>
      <ion-item id="glosario-list-item55" ui-sref="menu.lamela()" class="bajo">Lamela</ion-item>
      <ion-item id="glosario-list-item103" ui-sref="menu.loess()" class="bajo">Loess</ion-item>
      <ion-item id="glosario-list-item56" ui-sref="menu.melNicoHorizonte()" class="bajo">Melánico (horizonte)</ion-item>
      <ion-item id="glosario-list-item57" ui-sref="menu.mSico()" class="bajo">Mésico</ion-item>
      <ion-item id="glosario-list-item58" ui-sref="menu.mLicoHorizonte()" class="bajo">Mólico (epipedón)</ion-item>
      <ion-item id="glosario-list-item59" ui-sref="menu.nTricoHorizonte()" class="bajo">Nátrico (horizonte)</ion-item>
      <ion-item id="glosario-list-item60" ui-sref="menu.CricoHorizonte()" class="bajo">Ócrico (epipedón)</ion-item>
      <ion-item id="glosario-list-item61" ui-sref="menu.orden()" class="bajo">Orden (de suelo)</ion-item>
      <ion-item id="glosario-list-item62" ui-sref="menu.orsteinHorizonte()" class="bajo">Ortstein (horizonte)</ion-item>
      <ion-item id="glosario-list-item63" ui-sref="menu.XicoHorizonte()" class="bajo">Óxico (horizonte)</ion-item>
      <ion-item id="glosario-list-item64" ui-sref="menu.plGenoPlaggenHorizonte()" class="bajo">Plágeno / Plaggen (horizonte)</ion-item>
      <ion-item id="glosario-list-item65" ui-sref="menu.pergLico()" class="bajo">Pergélico</ion-item>
      <ion-item id="glosario-list-item66" ui-sref="menu.permafrost()" class="bajo">Permafrost</ion-item>
      <ion-item id="glosario-list-item67" ui-sref="menu.perDico()" class="bajo">Perúdico</ion-item>
      <ion-item id="glosario-list-item68" ui-sref="menu.petrocLcicoHorizonte()" class="bajo">Petrocálcico (horizonte)</ion-item>
      <ion-item id="glosario-list-item69" ui-sref="menu.petrogPsicoHorizonte()" class="bajo">Petrogípsico / Petrogypsico</ion-item>
      <ion-item id="glosario-list-item70" ui-sref="menu.plCicoHorizonte()" class="bajo">Plácico (horizonte)</ion-item>
      <ion-item id="glosario-list-item71" ui-sref="menu.plintita()" class="bajo">Plintita</ion-item>
      <ion-item id="glosario-list-item72" ui-sref="menu.pSIPorcentajeSodioInterc()" class="bajo">Porcentaje de sodio intercambiable (PSI)</ion-item>
      <ion-item id="glosario-list-item73" ui-sref="menu.rasgosRedoximRficos()" class="bajo">Rasgos redoximórficos</ion-item>
      <ion-item id="glosario-list-item113" ui-sref="menu.regMenesDeHumedadDeSuelo()" class="bajo">Régimen de humedad</ion-item>
      <ion-item id="glosario-list-item114" ui-sref="menu.regMenesDeTemperaturaDeSuelo()" class="bajo">Régimen de temperatura</ion-item>
      <ion-item id="glosario-list-item74" ui-sref="menu.sLicoHorizonte()" class="bajo">Sálico (horizonte)</ion-item>
      <ion-item id="glosario-list-item75" ui-sref="menu.sPricosMateriales()" class="bajo">Sápricos (materiales)</ion-item>
      <ion-item id="glosario-list-item104" ui-sref="menu.saturaciNAgua()" class="bajo">Saturación con agua</ion-item>
      <ion-item id="glosario-list-item76" ui-sref="menu.saturaciNConBases()" class="bajo">Saturación con bases</ion-item>
      <ion-item id="glosario-list-item77" ui-sref="menu.secciNDeControlDeHumedad()" class="bajo">Sección de control de humedad</ion-item>
      <ion-item id="glosario-list-item105" ui-sref="menu.secciNDeControlDeTamaODePartCulas()" class="bajo">Sección de control de tamaño de partículas</ion-item>
      <ion-item id="glosario-list-item106" ui-sref="menu.silicatos()" class="bajo">Silicatos</ion-item>
      <ion-item id="glosario-list-item78" ui-sref="menu.slickensides()" class="bajo">Slickensides</ion-item>
      <ion-item id="glosario-list-item79" ui-sref="menu.sMbricoHorizonte()" class="bajo">Sómbrico (horizonte)</ion-item>
      <ion-item id="glosario-list-item80" ui-sref="menu.sphagnum()" class="bajo">Sphangnum</ion-item>
      <ion-item id="glosario-list-item81" ui-sref="menu.spDicoHorizonte()" class="bajo">Spódico (horizonte)</ion-item>
      <ion-item id="glosario-list-item82" ui-sref="menu.spDicosMateriales()" class="bajo">Spódicos (materiales)</ion-item>
      <ion-item id="glosario-list-item83" ui-sref="menu.sulfDicosMateriales()" class="bajo">Sulfídicos (materiales)</ion-item>
      <ion-item id="glosario-list-item84" ui-sref="menu.sulfRicoHorizonte()" class="bajo">Sulfúrico (horizonte)</ion-item>
      <ion-item id="glosario-list-item85" ui-sref="menu.tRmicoRGimenDeTemperatura()" class="bajo">Térmico</ion-item>
      <ion-item id="glosario-list-item107" ui-sref="menu.textura()" class="bajo">Textura</ion-item>
      <ion-item id="glosario-list-item86" ui-sref="menu.till()" class="bajo">Till</ion-item>
      <ion-item id="glosario-list-item108" ui-sref="menu.tRricoRGimenDeHumedad()" class="bajo">Tórrico</ion-item>
      <ion-item id="glosario-list-item87" ui-sref="menu.DicoRGimenDeHumedad()" class="bajo">Údico</ion-item>
      <ion-item id="glosario-list-item88" ui-sref="menu.MbricoHorizonte()" class="bajo">Úmbrico (horizonte)</ion-item>
      <ion-item id="glosario-list-item89" ui-sref="menu.usticoRGimenDeHumedad()" class="bajo">Ústico</ion-item>
      <ion-item id="glosario-list-item90" ui-sref="menu.valorN()" class="bajo">Valor 'n'</ion-item>
      <ion-item id="glosario-list-item109" ui-sref="menu.value()" class="bajo">Value</ion-item>
      <ion-item id="glosario-list-item91" ui-sref="menu.xRicoRGimenDeHumedad()" class="bajo">Xérico</ion-item>
    </ion-list>
  </ion-content>
</ion-view>