<ion-view title="Glossudalfes" id="page421">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con horizonte
        <a ui-sref="menu.glSsicoHorizonte">glóssico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/u4pj2sP9Q62lIVgZoZK8_Glossudalf.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div id="glossudalfes-markdown738" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Udalf
          <ul>
            <li>Glossudalf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>