<ion-view title="Glosacualfes" id="page384">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con horizonte
        <a ui-sref="menu.glSsicoHorizonte">glósico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/ZcQ9I9PmTEmEbzuvOPxQ_Glossacualf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="glosacualfes-markdown669" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Acualf
          <ul>
            <li>Glosacualf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>