<ion-view title="Glóssico (horizonte)" id="page553">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> El horizonte glóssico (Gr. glossa, lengua) se desarrolla como resultado de la degradación de un horizonte
        <a ui-sref="menu.argLicoHorizonte">argílico</a>,
        <a ui-sref="menu.kNdicoHorizonte">kándico</a> o
        <a ui-sref="menu.nTricoHorizonte">nátrico</a>, en los cuales la arcilla y los óxidos de hierro libre han sido removidos. Presenta una parte
        <a ui-sref="menu.eluviaciNEluvial">eluvial</a> y una parte
        <a ui-sref="menu.iluviaciNIluvial">iluvial</a>.</p>
    </div>
    <div>
      <img src="img/FjPXGf5RIqHuYIWJRq6g_Glsico.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.gilgaiMicrorrelieve()" id="glSsicoHorizonte-button698" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="glSsicoHorizonte-button699" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.gypsicoHorizonte()" id="glSsicoHorizonte-button700" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>