<ion-view title="Grandes Grupos Salides" id="page235">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acuisalides()" id="grandesGruposSalides-button303" class="button button-royal button-block">Acuisalid</a>
    <a ui-sref="menu.haplosalides()" id="grandesGruposSalides-button304" class="button button-royal button-block">Haplosalid</a>
    <div id="grandesGruposSalides-markdown391" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Salid
          <ul>
            <li>Acuisalid</li>
            <li>Haplosalid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>