<ion-view title="Grandes Grupos Peroxes" id="page163">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sombriperoxes()" id="grandesGruposPeroxes-button222" style="color:#FFFFFF;" class="button button-royal button-block">Sombriperox</a>
    <a ui-sref="menu.acroperoxes()" id="grandesGruposPeroxes-button223" class="button button-royal button-block">Acroperox</a>
    <a ui-sref="menu.eutroperoxes()" id="grandesGruposPeroxes-button224" class="button button-royal button-block">Eutroperox</a>
    <a ui-sref="menu.kandiperoxes()" id="grandesGruposPeroxes-button225" class="button button-royal button-block">Kandiperox</a>
    <a ui-sref="menu.haploperoxes()" id="grandesGruposPeroxes-button226" class="button button-royal button-block">Haploperox</a>
    <div id="grandesGruposPeroxes-markdown258" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Perox
          <ul>
            <li>Sombriperox</li>
            <li>Acroperox</li>
            <li>Eutroperox</li>
            <li>Kandiperox</li>
            <li>Haploperox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>