<ion-view title="Grandes Grupos Acuoles" id="page333">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.criacuoles()" id="grandesGruposAcuoles-button366" class="button button-royal button-block">Criacuol</a>
    <a ui-sref="menu.duracuoles()" id="grandesGruposAcuoles-button372" class="button button-royal button-block">Duracuol</a>
    <a ui-sref="menu.natracuoles()" id="grandesGruposAcuoles-button373" class="button button-royal button-block">Natracuol</a>
    <a ui-sref="menu.calciacuoles()" id="grandesGruposAcuoles-button374" class="button button-royal button-block">Calciacuol</a>
    <a ui-sref="menu.argiacuoles()" id="grandesGruposAcuoles-button368" class="button button-royal button-block">Argiacuol</a>
    <a ui-sref="menu.epiacuoles()" id="grandesGruposAcuoles-button375" class="button button-royal button-block">Epiacuol</a>
    <a ui-sref="menu.endoacuoles()" id="grandesGruposAcuoles-button376" class="button button-royal button-block">Endoacuol</a>
    <div id="grandesGruposAcuoles-markdown574" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Acuol
          <ul>
            <li>Criacuol</li>
            <li>Duracuol</li>
            <li>Natracuol</li>
            <li>Calciacuol</li>
            <li>Argiacuol</li>
            <li>Epiacuol</li>
            <li>Endoacuol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>