<ion-view title="Grandes Grupos Geleptes" id="page441">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.humigeleptes()" id="grandesGruposGeleptes-button495" class="button button-royal button-block">Humigelept</a>
    <a ui-sref="menu.distrogeleptes()" id="grandesGruposGeleptes-button498" class="button button-royal button-block">Distrogelept</a>
    <a ui-sref="menu.haplogeleptes()" id="grandesGruposGeleptes-button499" class="button button-royal button-block">Haplogelept</a>
    <div id="grandesGruposGeleptes-markdown774" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Gelept
          <ul>
            <li>Humigelept</li>
            <li>Distrogelept</li>
            <li>Haplogelept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>