<ion-view title="Grandes Grupos Udultes" id="page311">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.plinthudultes()" id="grandesGruposUdultes-button355" class="button button-royal button-block">Plinthudult</a>
    <a ui-sref="menu.fragiudultes()" id="grandesGruposUdultes-button360" class="button button-royal button-block">Fragiudult</a>
    <a ui-sref="menu.kandiudultes()" id="grandesGruposUdultes-button356" class="button button-royal button-block">Kandiudult</a>
    <a ui-sref="menu.kanhapludultes()" id="grandesGruposUdultes-button357" class="button button-royal button-block">Kanhapludult</a>
    <a ui-sref="menu.paleudultes()" id="grandesGruposUdultes-button358" class="button button-royal button-block">Paleudult</a>
    <a ui-sref="menu.rhodudultes()" id="grandesGruposUdultes-button361" class="button button-royal button-block">Rhodudult</a>
    <a ui-sref="menu.hapludultes()" id="grandesGruposUdultes-button359" class="button button-royal button-block">Hapludult</a>
    <div id="grandesGruposUdultes-markdown534" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Udult
          <ul>
            <li>Plinthudult</li>
            <li>Fragiudult</li>
            <li>Kandiudult</li>
            <li>Kanhapludult</li>
            <li>Paleudult</li>
            <li>Rhodudult</li>
            <li>Hapludult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>