<ion-view title="Grandes Grupos Ustertes" id="page208">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.distrustertes()" id="grandesGruposUstertes-button274" style="color:#FFFFFF;" class="button button-royal button-block">Distrustert</a>
    <a ui-sref="menu.salustertes()" id="grandesGruposUstertes-button278" style="color:#FFFFFF;" class="button button-royal button-block">Salustert</a>
    <a ui-sref="menu.gipsiustertes()" id="grandesGruposUstertes-button275" style="color:#FFFFFF;" class="button button-royal button-block">Gipsiustert</a>
    <a ui-sref="menu.calciustertes()" id="grandesGruposUstertes-button276" class="button button-royal button-block">Calciustert</a>
    <a ui-sref="menu.haplustertes()" id="grandesGruposUstertes-button277" class="button button-royal button-block">Haplustert</a>
    <div id="grandesGruposUstertes-markdown341" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisol</strong>
      </h5>

      <ul>
        <li>Ustert
          <ul>
            <li>Distrustert</li>
            <li>Salustert</li>
            <li>Gipsiustert</li>
            <li>Calciustert</li>
            <li>Haplustert</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>