<ion-view title="Grandes Grupos Acuentes" id="page489">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sulfacuentes()" id="grandesGruposAcuentes-button545" class="button button-royal button-block">Sulfacuent</a>
    <a ui-sref="menu.hidracuentes()" id="grandesGruposAcuentes-button546" class="button button-royal button-block">Hidracuent</a>
    <a ui-sref="menu.gelacuentes()" id="grandesGruposAcuentes-button547" class="button button-royal button-block">Gelacuent</a>
    <a ui-sref="menu.criacuentes()" id="grandesGruposAcuentes-button548" class="button button-royal button-block">Criacuent</a>
    <a ui-sref="menu.psammacuentes()" id="grandesGruposAcuentes-button550" class="button button-royal button-block">Psammacuent</a>
    <a ui-sref="menu.fluvacuentes()" id="grandesGruposAcuentes-button551" class="button button-royal button-block">Fluvacuent</a>
    <a ui-sref="menu.epiacuentes()" id="grandesGruposAcuentes-button549" class="button button-royal button-block">Epiacuent</a>
    <a ui-sref="menu.endoacuentes()" id="grandesGruposAcuentes-button552" class="button button-royal button-block">Endoacuent</a>
    <div id="grandesGruposAcuentes-markdown863" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Acuent
          <ul>
            <li>Sulfacuent</li>
            <li>Hidracuent</li>
            <li>Gelacuent</li>
            <li>Criacuent</li>
            <li>Psammacuent</li>
            <li>Fluvacuent</li>
            <li>Epiacuent</li>
            <li>Endoacuent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>