<ion-view title="Grandes Grupos Ustandes" id="page122">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.durustandes()" id="grandesGruposUstandes-button203" style="color:#FFFFFF;" class="button button-royal button-block">Durustandes</a>
    <a ui-sref="menu.haplustandes()" id="grandesGruposUstandes-button204" class="button button-royal button-block">Haplustandes</a>
    <div id="grandesGruposUstandes-markdown181" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Ustand
          <ul>
            <li>Durustand</li>
            <li>Haplustand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>