<ion-view title="Grandes Grupos Acultes" id="page288">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.plintacultes()" id="grandesGruposAcultes-button340" class="button button-royal button-block">Plintacult</a>
    <a ui-sref="menu.petrocambides()" id="grandesGruposAcultes-button341" class="button button-royal button-block">Fragiacult</a>
    <a ui-sref="menu.albacultes()" id="grandesGruposAcultes-button342" class="button button-royal button-block">Albacult</a>
    <a ui-sref="menu.haplocambides()" id="grandesGruposAcultes-button343" class="button button-royal button-block">Kandiacult</a>
    <a ui-sref="menu.kanhaplacultes()" id="grandesGruposAcultes-button344" class="button button-royal button-block">Kanhaplacult</a>
    <a ui-sref="menu.paleacultes()" id="grandesGruposAcultes-button345" class="button button-royal button-block">Paleacult</a>
    <a ui-sref="menu.umbracultes()" id="grandesGruposAcultes-button346" class="button button-royal button-block">Umbracult</a>
    <a ui-sref="menu.epiacultes()" id="grandesGruposAcultes-button347" class="button button-royal button-block">Epiacult</a>
    <a ui-sref="menu.endoacultes()" id="grandesGruposAcultes-button348" class="button button-royal button-block">Endoacult</a>
    <div id="grandesGruposAcultes-markdown494" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Acult
          <ul>
            <li>Plintacult</li>
            <li>Fragiacult</li>
            <li>Albacult</li>
            <li>Kandiacult</li>
            <li>Kanhaplacult</li>
            <li>Paleacult</li>
            <li>Umbracult</li>
            <li>Epiacult</li>
            <li>Endoacult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>