<ion-view title="Grandes Grupos Criídes" id="page234">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.salicriDes()" id="grandesGruposCriDes-button296" style="color:#FFFFFF;" class="button button-royal button-block">Salicriíd</a>
    <a ui-sref="menu.petrocriDes()" id="grandesGruposCriDes-button297" class="button button-royal button-block">Petrocriíd</a>
    <a ui-sref="menu.gipsicriDes()" id="grandesGruposCriDes-button298" class="button button-royal button-block">Gipsicriíd</a>
    <a ui-sref="menu.argicriDes()" id="grandesGruposCriDes-button299" class="button button-royal button-block">Argicriíd</a>
    <a ui-sref="menu.calcicriDes()" id="grandesGruposCriDes-button300" class="button button-royal button-block">Calcicriíd</a>
    <a ui-sref="menu.haplocriDes()" id="grandesGruposCriDes-button301" class="button button-royal button-block">Haplocriíd</a>
    <div id="grandesGruposCriDes-markdown390" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Criíd
          <ul>
            <li>Salicriíd</li>
            <li>Petrocriíd</li>
            <li>Gipsicriíd</li>
            <li>Argicriíd</li>
            <li>Calcicriíd</li>
            <li>Haplocriíd</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>