<ion-view title="Grandes Grupos Udoxes" id="page164">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sombriudoxes()" id="grandesGruposUdoxes-button227" style="color:#FFFFFF;" class="button button-royal button-block">Sombriudox</a>
    <a ui-sref="menu.acrudoxes()" id="grandesGruposUdoxes-button228" class="button button-royal button-block">Acrudox</a>
    <a ui-sref="menu.eutrudoxes()" id="grandesGruposUdoxes-button229" class="button button-royal button-block">Eutrudox</a>
    <a ui-sref="menu.kandiudoxes()" id="grandesGruposUdoxes-button230" class="button button-royal button-block">Kandiudox</a>
    <a ui-sref="menu.hapludoxes()" id="grandesGruposUdoxes-button231" class="button button-royal button-block">Hapludox</a>
    <div id="grandesGruposUdoxes-markdown259" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Perox
          <ul>
            <li>Sombriudox</li>
            <li>Acrudox</li>
            <li>Eutrudox</li>
            <li>Kandiudox</li>
            <li>Hapludox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>