<ion-view title="Grandes Grupos Humodes" id="page83">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.placohumodes()" id="grandesGruposHumodes-button130" style="color:#FFFFFF;" class="button button-royal button-block">Placohumod</a>
    <a ui-sref="menu.durihumodes()" id="grandesGruposHumodes-button131" class="button button-royal button-block">Durihumod</a>
    <a ui-sref="menu.fragihumodes()" id="grandesGruposHumodes-button132" class="button button-royal button-block">Fragihumod</a>
    <a ui-sref="menu.haplohumodes()" id="grandesGruposHumodes-button133" class="button button-royal button-block">Haplohumod</a>
    <div id="grandesGruposHumodes-markdown112" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spodosol</strong>
      </h5>

      <ul>
        <li>Humod
          <ul>
            <li>Placohumod</li>
            <li>Durihumod</li>
            <li>Fragihumod</li>
            <li>Haplohumod</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>