<ion-view title="Grandes Grupos Criandes" id="page118">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.duricriandes()" id="grandesGruposCriandes-button184" style="color:#FFFFFF;" class="button button-royal button-block">Duricriand</a>
    <a ui-sref="menu.hidrocriandes()" id="grandesGruposCriandes-button185" class="button button-royal button-block">Hidrocriand</a>
    <a ui-sref="menu.melanocriandes()" id="grandesGruposCriandes-button186" class="button button-royal button-block">Melanocriand</a>
    <a ui-sref="menu.fulvicriandes()" id="grandesGruposCriandes-button187" class="button button-royal button-block">Fulvicriand</a>
    <a ui-sref="menu.vitricriandes()" id="grandesGruposCriandes-button188" class="button button-royal button-block">Vitricriand</a>
    <a ui-sref="menu.haplocriandes()" id="grandesGruposCriandes-button189" class="button button-royal button-block">Haplocriand</a>
    <div id="grandesGruposCriandes-markdown177" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Criand
          <ul>
            <li>Duricriand</li>
            <li>Hidrocriand</li>
            <li>Melanocriand</li>
            <li>Fulvicriand</li>
            <li>Vitricriand</li>
            <li>Haplocriand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>