<ion-view title="Grandes Grupos Acuandes" id="page116">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.gelacuandes()" id="grandesGruposAcuandes-button167" style="color:#FFFFFF;" class="button button-royal button-block">Gelacuand</a>
    <a ui-sref="menu.criacuandes()" id="grandesGruposAcuandes-button168" class="button button-royal button-block">Criacuand</a>
    <a ui-sref="menu.placacuandes()" id="grandesGruposAcuandes-button169" class="button button-royal button-block">Placacuand</a>
    <a ui-sref="menu.duracuandes()" id="grandesGruposAcuandes-button170" class="button button-royal button-block">Duracuand</a>
    <a ui-sref="menu.vitracuandes()" id="grandesGruposAcuandes-button171" class="button button-royal button-block">Vitracuand</a>
    <a ui-sref="menu.melanacuandes()" id="grandesGruposAcuandes-button172" class="button button-royal button-block">Melanacuand</a>
    <a ui-sref="menu.epiacuandes()" id="grandesGruposAcuandes-button173" class="button button-royal button-block">Epiacuand</a>
    <a ui-sref="menu.endoacuandes()" id="grandesGruposAcuandes-button175" class="button button-royal button-block">Endoacuand</a>
    <div id="grandesGruposAcuandes-markdown175" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Acuand
          <ul>
            <li>Gelacuand</li>
            <li>Criacuand</li>
            <li>Placacuand</li>
            <li>Duracuand</li>
            <li>Vitracuand</li>
            <li>Melanacuand</li>
            <li>Epiacuand</li>
            <li>Endoacuand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>