<ion-view title="Grandes Grupos Alboles" id="page325">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.natralboles()" id="grandesGruposAlboles-button352" class="button button-royal button-block">Natralbol</a>
    <a ui-sref="menu.argialboles()" id="grandesGruposAlboles-button365" class="button button-royal button-block">Argialbol</a>
    <div id="grandesGruposAlboles-markdown559" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Albol
          <ul>
            <li>Natralbol</li>
            <li>Argialbol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>