<ion-view title="Grandes Grupos Usteptes" id="page454">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.durusteptes()" id="grandesGruposUsteptes-button515" class="button button-royal button-block">Durustept</a>
    <a ui-sref="menu.calciusteptes()" id="grandesGruposUsteptes-button518" class="button button-royal button-block">Calciustept</a>
    <a ui-sref="menu.humusteptes()" id="grandesGruposUsteptes-button514" class="button button-royal button-block">Humustept</a>
    <a ui-sref="menu.distrusteptes()" id="grandesGruposUsteptes-button516" class="button button-royal button-block">Distrustept</a>
    <a ui-sref="menu.haplusteptes()" id="grandesGruposUsteptes-button517" class="button button-royal button-block">Haplustept</a>
    <div id="grandesGruposUsteptes-markdown798" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Ustept
          <ul>
            <li>Durustept</li>
            <li>Calciustept</li>
            <li>Humustept</li>
            <li>Distrustept</li>
            <li>Haplustept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>