<ion-view title="Grandes Grupos Ustoxes" id="page162">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sombriustoxes()" id="grandesGruposUstoxes-button217" style="color:#FFFFFF;" class="button button-royal button-block">Sombriustox</a>
    <a ui-sref="menu.acrustoxes()" id="grandesGruposUstoxes-button218" class="button button-royal button-block">Acrustox</a>
    <a ui-sref="menu.eutrustoxes()" id="grandesGruposUstoxes-button219" class="button button-royal button-block">Eutrustox</a>
    <a ui-sref="menu.kandiustoxes()" id="grandesGruposUstoxes-button221" class="button button-royal button-block">Kandiustox</a>
    <a ui-sref="menu.haplustoxes()" id="grandesGruposUstoxes-button220" class="button button-royal button-block">Haplustox</a>
    <div id="grandesGruposUstoxes-markdown257" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Ustox
          <ul>
            <li>Sombriustox</li>
            <li>Acrustox</li>
            <li>Eutrustox</li>
            <li>Kandiustox</li>
            <li>Haplustox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>