<ion-view title="Grandes Grupos Hemistes" id="page54">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sulfohemistes()" id="grandesGruposHemistes-button101" style="color:#FFFFFF;" class="button button-royal button-block">Sulfohemistes</a>
    <a ui-sref="menu.sulfihemistes()" id="grandesGruposHemistes-button102" class="button button-royal button-block">Sulfihemistes</a>
    <a ui-sref="menu.luvihemistes()" id="grandesGruposHemistes-button103" class="button button-royal button-block">Luvihemistes</a>
    <a ui-sref="menu.criohemistes()" id="grandesGruposHemistes-button104" class="button button-royal button-block">Criohemistes</a>
    <a ui-sref="menu.haplohemistes()" id="grandesGruposHemistes-button105" class="button button-royal button-block">Haplohemistes</a>
    <div id="grandesGruposHemistes-markdown57" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Saprist
          <ul>
            <li>Sulfohemist</li>
            <li>Sulfihemist</li>
            <li>Luvihemist</li>
            <li>Criohemist</li>
            <li>Haplohemist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>