<ion-view title="Grandes Grupos Wassites" id="page51">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.frasiwassistes()" id="grandesGruposWassites-button91" style="color:#FFFFFF;" class="button button-royal button-block">Frasiwassistes</a>
    <a ui-sref="menu.sulfiwassistes()" id="grandesGruposWassites-button92" class="button button-royal button-block">Sulfiwassistes</a>
    <a ui-sref="menu.haplowassistes()" id="grandesGruposWassites-button93" class="button button-royal button-block">Haplowassistes</a>
    <div id="grandesGruposWassites-markdown54" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Wassist
          <ul>
            <li>Frasiwassist</li>
            <li>Sulfiwassist</li>
            <li>Haplowassist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>