<ion-view title="Grandes Grupos Xereptes" id="page462">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.durixereptes()" id="grandesGruposXereptes-button521" class="button button-royal button-block">Durixerept</a>
    <a ui-sref="menu.fragixereptes()" id="grandesGruposXereptes-button526" class="button button-royal button-block">Fragixerept</a>
    <a ui-sref="menu.humuxereptes()" id="grandesGruposXereptes-button523" class="button button-royal button-block">Humuxerept</a>
    <a ui-sref="menu.calcixereptes()" id="grandesGruposXereptes-button522" class="button button-royal button-block">Calcixerept</a>
    <a ui-sref="menu.distroxereptes()" id="grandesGruposXereptes-button524" class="button button-royal button-block">Distroxerept</a>
    <a ui-sref="menu.haploxereptes()" id="grandesGruposXereptes-button525" class="button button-royal button-block">Haploxerept</a>
    <div id="grandesGruposXereptes-markdown813" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Xerept
          <ul>
            <li>Durixerept</li>
            <li>Fragixerept</li>
            <li>Humuxerept</li>
            <li>Calcixerept</li>
            <li>Distroxerept</li>
            <li>Haploxerept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>