<ion-view title="Grandes Grupos Acueptes" id="page436">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sulfacueptes()" id="grandesGruposAcueptes-button486" class="button button-royal button-block">Sulfacuept</a>
    <a ui-sref="menu.petracueptes()" id="grandesGruposAcueptes-button487" class="button button-royal button-block">Petracuept</a>
    <a ui-sref="menu.halacueptes()" id="grandesGruposAcueptes-button488" class="button button-royal button-block">Halacuept</a>
    <a ui-sref="menu.fragiacueptes()" id="grandesGruposAcueptes-button489" class="button button-royal button-block">Fragiacuept</a>
    <a ui-sref="menu.gelacueptes()" id="grandesGruposAcueptes-button490" class="button button-royal button-block">Gelacuept</a>
    <a ui-sref="menu.vermacueptes()" id="grandesGruposAcueptes-button491" class="button button-royal button-block">Vermacuept</a>
    <a ui-sref="menu.humacueptes()" id="grandesGruposAcueptes-button492" class="button button-royal button-block">Humacuept</a>
    <a ui-sref="menu.epiacueptes()" id="grandesGruposAcueptes-button493" class="button button-royal button-block">Epiacuept</a>
    <a ui-sref="menu.endoacueptes()" id="grandesGruposAcueptes-button494" class="button button-royal button-block">Endoacuept</a>
    <div id="grandesGruposAcueptes-markdown765" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Acuept
          <ul>
            <li>Sulfacuept</li>
            <li>Petracuept</li>
            <li>Halacuept</li>
            <li>Fragiacuept</li>
            <li>Gelacuept</li>
            <li>Criacuept</li>
            <li>Vermacuept</li>
            <li>Humacuept</li>
            <li>Epiacuept</li>
            <li>Endoacuept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>