<ion-view title="Grandes Grupos Acuertes" id="page196">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sulfacuertes()" id="grandesGruposAcuertes-button251" style="color:#FFFFFF;" class="button button-royal button-block">Sulfacuert</a>
    <a ui-sref="menu.salacuertes()" id="grandesGruposAcuertes-button252" class="button button-royal button-block">Salacuert</a>
    <a ui-sref="menu.duracuertes()" id="grandesGruposAcuertes-button253" class="button button-royal button-block">Duracuert</a>
    <a ui-sref="menu.natracuertes()" id="grandesGruposAcuertes-button254" class="button button-royal button-block">Natracuert</a>
    <a ui-sref="menu.calciacuertes()" id="grandesGruposAcuertes-button255" class="button button-royal button-block">Calciacuert</a>
    <a ui-sref="menu.distracuertes()" id="grandesGruposAcuertes-button256" class="button button-royal button-block">Distracuert</a>
    <a ui-sref="menu.epiacuertes()" id="grandesGruposAcuertes-button257" class="button button-royal button-block">Epiacuert</a>
    <a ui-sref="menu.endoacuertes()" id="grandesGruposAcuertes-button258" class="button button-royal button-block">Endoacuert</a>
    <div id="grandesGruposAcuertes-markdown321" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisol</strong>
      </h5>

      <ul>
        <li>Acuert
          <ul>
            <li>Sulfacuert</li>
            <li>Salacuert</li>
            <li>Duracuert</li>
            <li>Natracuert</li>
            <li>Calciacuert</li>
            <li>Distracuert</li>
            <li>Epiacuert</li>
            <li>Endoacuert</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>