<ion-view title="Grandes Grupos Crieptes" id="page447">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.humicrieptes()" id="grandesGruposCrieptes-button508" class="button button-royal button-block">Humicriept</a>
    <a ui-sref="menu.calcicrieptes()" id="grandesGruposCrieptes-button511" class="button button-royal button-block">Calcicriept</a>
    <a ui-sref="menu.distrocrieptes()" id="grandesGruposCrieptes-button509" class="button button-royal button-block">Distrocriept</a>
    <a ui-sref="menu.haplocrieptes()" id="grandesGruposCrieptes-button510" class="button button-royal button-block">Haplocriept</a>
    <div id="grandesGruposCrieptes-markdown785" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Criept
          <ul>
            <li>Humicriept</li>
            <li>Calcicriept</li>
            <li>Distrocriept</li>
            <li>Haplocriept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>