<ion-view title="Grandes Grupos Xeralfes" id="page411">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.durixeralfes()" id="grandesGruposXeralfes-button451" class="button button-royal button-block">Durixeralf</a>
    <a ui-sref="menu.natrixeralfes()" id="grandesGruposXeralfes-button453" class="button button-royal button-block">Natrixeralf</a>
    <a ui-sref="menu.fragixeralfes()" id="grandesGruposXeralfes-button454" class="button button-royal button-block">Fragixeralf</a>
    <a ui-sref="menu.plintoxeralfes()" id="grandesGruposXeralfes-button452" class="button button-royal button-block">Plintoxeralf</a>
    <a ui-sref="menu.rodoxeralfes()" id="grandesGruposXeralfes-button457" class="button button-royal button-block">Rodoxeralf</a>
    <a ui-sref="menu.palexeralfes()" id="grandesGruposXeralfes-button456" class="button button-royal button-block">Palexeralf</a>
    <a ui-sref="menu.haploxeralfes()" id="grandesGruposXeralfes-button458" class="button button-royal button-block">Haploxeralf</a>
    <div id="grandesGruposXeralfes-markdown718" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Xeralf
          <ul>
            <li>Durixeralf</li>
            <li>Natrixeralf</li>
            <li>Fragixeralf</li>
            <li>Plintoxeralf</li>
            <li>Rodoxeralf</li>
            <li>Palexeralf</li>
            <li>Haploxeralf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>