<ion-view title="Grandes Grupos Acuoxes" id="page123">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acracuoxes()" id="grandesGruposAcuoxes-button205" style="color:#FFFFFF;" class="button button-royal button-block">Acracuox</a>
    <a ui-sref="menu.plintacuoxes()" id="grandesGruposAcuoxes-button206" class="button button-royal button-block">Plintacuox</a>
    <a ui-sref="menu.eutracuoxes()" id="grandesGruposAcuoxes-button208" class="button button-royal button-block">Eutracuox</a>
    <a ui-sref="menu.haplacuoxes()" id="grandesGruposAcuoxes-button207" class="button button-royal button-block">Haplacuox</a>
    <div id="grandesGruposAcuoxes-markdown182" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Acuox
          <ul>
            <li>Acracuox</li>
            <li>Plintacuox</li>
            <li>Eutracuox</li>
            <li>Haplacuox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>