<ion-view title="Grandes Grupos Durides" id="page236">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.natridurides()" id="grandesGruposDurides-button308" class="button button-royal button-block">Natridurid</a>
    <a ui-sref="menu.argidurides()" id="grandesGruposDurides-button309" class="button button-royal button-block">Argidurid</a>
    <a ui-sref="menu.haplodurides()" id="grandesGruposDurides-button310" class="button button-royal button-block">Haplodurid</a>
    <div id="grandesGruposDurides-markdown392" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Durid
          <ul>
            <li>Natridurid</li>
            <li>Argidurid</li>
            <li>Haplodurid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>