<ion-view title="Grandes Grupos Gipsides" id="page237">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.petrogipsides()" id="grandesGruposGipsides-button311" class="button button-royal button-block">Petrogipsid</a>
    <a ui-sref="menu.natrigipsides()" id="grandesGruposGipsides-button312" class="button button-royal button-block">Natrigipsid</a>
    <a ui-sref="menu.argigipsides()" id="grandesGruposGipsides-button313" class="button button-royal button-block">Argigipsid</a>
    <a ui-sref="menu.calcigipsides()" id="grandesGruposGipsides-button314" class="button button-royal button-block">Calcigipsid</a>
    <a ui-sref="menu.haplogipsides()" id="grandesGruposGipsides-button315" class="button button-royal button-block">Haplogipsid</a>
    <div id="grandesGruposGipsides-markdown393" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Durid
          <ul>
            <li>Petrogipsid</li>
            <li>Natrigipsid</li>
            <li>Argigipsid</li>
            <li>Calcigipsid</li>
            <li>Haplogipsid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>