<ion-view title="Grandes Grupos Xeroles" id="page357">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.durixeroles()" id="grandesGruposXeroles-button386" class="button button-royal button-block">Durixerol</a>
    <a ui-sref="menu.natrixeroles()" id="grandesGruposXeroles-button387" class="button button-royal button-block">Natrixerol</a>
    <a ui-sref="menu.palexeroles()" id="grandesGruposXeroles-button388" class="button button-royal button-block">Palexerol</a>
    <a ui-sref="menu.calcixeroles()" id="grandesGruposXeroles-button390" class="button button-royal button-block">Calcixerol</a>
    <a ui-sref="menu.argixeroles()" id="grandesGruposXeroles-button389" class="button button-royal button-block">Argixerol</a>
    <a ui-sref="menu.haploxeroles()" id="grandesGruposXeroles-button394" class="button button-royal button-block">Haploxerol</a>
    <div id="grandesGruposXeroles-markdown617" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Xerol
          <ul>
            <li>Durixerol</li>
            <li>Natrixerol</li>
            <li>Palexerol</li>
            <li>Calcixerol</li>
            <li>Argixerol</li>
            <li>Haploxerol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>