<ion-view title="Grandes Grupos Turbeles" id="page42">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.histoturbeles()" id="grandesGruposTurbeles-button53" style="color:#FFFFFF;" class="button button-royal button-block">Histoturbel</a>
    <a ui-sref="menu.acuiturbeles()" id="grandesGruposTurbeles-button54" class="button button-royal button-block">Acuiturbel</a>
    <a ui-sref="menu.anhiturbeles()" id="grandesGruposTurbeles-button55" class="button button-royal button-block">Anhiturbel</a>
    <a ui-sref="menu.moliturbeles()" id="grandesGruposTurbeles-button56" class="button button-royal button-block">Moliturbel</a>
    <a ui-sref="menu.umbriturbeles()" id="grandesGruposTurbeles-button57" class="button button-royal button-block">Umbriturbel</a>
    <a ui-sref="menu.psammoturbeles()" id="grandesGruposTurbeles-button58" class="button button-royal button-block">Psammoturbel</a>
    <a ui-sref="menu.haploturbeles()" id="grandesGruposTurbeles-button59" class="button button-royal button-block">Haploturbel</a>
    <div id="grandesGruposTurbeles-markdown38" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisol</strong>
      </h5>

      <ul>
        <li>Turbel
          <ul>
            <li>Histoturbel</li>
            <li>Acuiturbel</li>
            <li>Anhiturbel</li>
            <li>Moliturbel</li>
            <li>Umbriturbel</li>
            <li>Psammoturbel</li>
            <li>Haploturbel</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>