<ion-view title="Grandes Grupos Fluventes" id="page505">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.gelifluventes()" id="grandesGruposFluventes-button569" class="button button-royal button-block">Gelifluvent</a>
    <a ui-sref="menu.criofluventes()" id="grandesGruposFluventes-button570" class="button button-royal button-block">Criofluvent</a>
    <a ui-sref="menu.xerofluventes()" id="grandesGruposFluventes-button571" class="button button-royal button-block">Xerofluvent</a>
    <a ui-sref="menu.ustifluventes()" id="grandesGruposFluventes-button572" class="button button-royal button-block">Ustifluvent</a>
    <a ui-sref="menu.torrifluventes()" id="grandesGruposFluventes-button573" class="button button-royal button-block">Torrifluvent</a>
    <a ui-sref="menu.udifluventes()" id="grandesGruposFluventes-button574" class="button button-royal button-block">Udifluvent</a>
    <div id="grandesGruposFluventes-markdown893" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Fluvent
          <ul>
            <li>Gelifluvent</li>
            <li>Criofluvent</li>
            <li>Xerofluvent</li>
            <li>Ustifluvent</li>
            <li>Torrifluvent</li>
            <li>Udifluvent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>