<ion-view title="Grandes Grupos Rendoles" id="page338">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.crirendoles()" id="grandesGruposRendoles-button384" class="button button-royal button-block">Crirendol</a>
    <a ui-sref="menu.haprendoles()" id="grandesGruposRendoles-button385" class="button button-royal button-block">Haprendol</a>
    <div id="grandesGruposRendoles-markdown582" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Rendol
          <ul>
            <li>Crirendol</li>
            <li>Haprendol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>