<ion-view title="Grandes Grupos Folistes" id="page50">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.criofolistes()" id="grandesGruposFolistes-button83" style="color:#FFFFFF;" class="button button-royal button-block">Criofolist</a>
    <a ui-sref="menu.torrifolistes()" id="grandesGruposFolistes-button84" class="button button-royal button-block">Torrifolist</a>
    <a ui-sref="menu.ustifolistes()" id="grandesGruposFolistes-button85" class="button button-royal button-block">Ustifolist</a>
    <a ui-sref="menu.udifolistes()" id="grandesGruposFolistes-button86" class="button button-royal button-block">Udifolist</a>
    <div id="grandesGruposFolistes-markdown53" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Folist
          <ul>
            <li>Criofolist</li>
            <li>Torrifolist</li>
            <li>Ustifolist</li>
            <li>Udifolist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>