<ion-view title="Grandes Grupos Cambides" id="page240">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acuicambides()" id="grandesGruposCambides-button328" class="button button-royal button-block">Acuicambid</a>
    <a ui-sref="menu.petrocambides()" id="grandesGruposCambides-button329" class="button button-royal button-block">Petrocambid</a>
    <a ui-sref="menu.haplocambides()" id="grandesGruposCambides-button330" class="button button-royal button-block">Haplocambid</a>
    <div id="grandesGruposCambides-markdown396" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Cambid
          <ul>
            <li>Acuicambid</li>
            <li>Petrocambid</li>
            <li>Haplocambid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>