<ion-view title="Grandes Grupos Calcides" id="page239">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.petrocalcides()" id="grandesGruposCalcides-button322" class="button button-royal button-block">Petrocalcid</a>
    <a ui-sref="menu.haplocalcides()" id="grandesGruposCalcides-button323" class="button button-royal button-block">Haplocalcid</a>
    <div id="grandesGruposCalcides-markdown395" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Calcid
          <ul>
            <li>Petrocalcid</li>
            <li>Haplocalcid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>