<ion-view title="Grandes Grupos Gelandes" id="page117">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.vitrigelandes()" id="grandesGruposGelandes-button176" style="color:#FFFFFF;" class="button button-royal button-block">Vitrigeland</a>
    <div id="grandesGruposGelandes-markdown176" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Gelandes
          <ul>
            <li>Vitrigeland</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>