<ion-view title="Grandes Grupos Xerandes" id="page120">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.vitrixerandes()" id="grandesGruposXerandes-button196" style="color:#FFFFFF;" class="button button-royal button-block">Vitrixerand</a>
    <a ui-sref="menu.melanoxerandes()" id="grandesGruposXerandes-button198" class="button button-royal button-block">Melanoxerand</a>
    <a ui-sref="menu.haploxerandes()" id="grandesGruposXerandes-button199" class="button button-royal button-block">Haploxerand</a>
    <div id="grandesGruposXerandes-markdown179" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Xerand
          <ul>
            <li>Vitrixerand</li>
            <li>Melanoxerand</li>
            <li>Haploxerand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>