<ion-view title="Grandes Grupos Sapristes" id="page53">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sulfosapristes()" id="grandesGruposSapristes-button97" style="color:#FFFFFF;" class="button button-royal button-block">Sulfosapristes</a>
    <a ui-sref="menu.sulfisapristes()" id="grandesGruposSapristes-button98" class="button button-royal button-block">Sulfisapristes</a>
    <a ui-sref="menu.criosapristes()" id="grandesGruposSapristes-button99" class="button button-royal button-block">Criosapristes</a>
    <a ui-sref="menu.haplosapristes()" id="grandesGruposSapristes-button100" class="button button-royal button-block">Haplosapristes</a>
    <div id="grandesGruposSapristes-markdown56" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Saprist
          <ul>
            <li>Sulfosaprist</li>
            <li>Sulfisaprist</li>
            <li>Criosaprist</li>
            <li>Haplosaprist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>