<ion-view title="Grandes Grupos Psammentes" id="page497">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.criopsammentes()" id="grandesGruposPsammentes-button558" class="button button-royal button-block">Criopsamment</a>
    <a ui-sref="menu.torripsammentes()" id="grandesGruposPsammentes-button559" class="button button-royal button-block">Torripsamment</a>
    <a ui-sref="menu.cuarsipsammentes()" id="grandesGruposPsammentes-button560" class="button button-royal button-block">Cuarsipsamment</a>
    <a ui-sref="menu.ustipsammentes()" id="grandesGruposPsammentes-button561" class="button button-royal button-block">Ustipsamment</a>
    <a ui-sref="menu.xeropsammentes()" id="grandesGruposPsammentes-button562" class="button button-royal button-block">Xeropsamment</a>
    <a ui-sref="menu.udipsammentes()" id="grandesGruposPsammentes-button563" class="button button-royal button-block">Udipsamment</a>
    <div id="grandesGruposPsammentes-markdown878" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Psamment
          <ul>
            <li>Criopsamment</li>
            <li>Torripsamment</li>
            <li>Cuarsipsamment</li>
            <li>Ustipsamment</li>
            <li>Xeropsamment</li>
            <li>Udipsamment</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>