<ion-view title="Grandes Grupos Criodes" id="page82">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.placocriodes()" id="grandesGruposCriodes-button135" style="color:#FFFFFF;" class="button button-royal button-block">Placocriod</a>
    <a ui-sref="menu.duricriodes()" id="grandesGruposCriodes-button136" class="button button-royal button-block">Duricriod</a>
    <a ui-sref="menu.humicriodes()" id="grandesGruposCriodes-button137" class="button button-royal button-block">Humicriod</a>
    <a ui-sref="menu.haplocriodes()" id="grandesGruposCriodes-button138" class="button button-royal button-block">Haplocriod</a>
    <div id="grandesGruposCriodes-markdown111" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spodosol</strong>
      </h5>

      <ul>
        <li>Criod
          <ul>
            <li>Placocriod</li>
            <li>Duricriod</li>
            <li>Humicriod</li>
            <li>Haplocriod</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>