<ion-view title="Grandes Grupos Acualfes" id="page387">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.criacualfes()" id="grandesGruposAcualfes-button405" class="button button-royal button-block">Criacualf</a>
    <a ui-sref="menu.plintacualfes()" id="grandesGruposAcualfes-button406" class="button button-royal button-block">Plintacualf</a>
    <a ui-sref="menu.duracualfes()" id="grandesGruposAcualfes-button418" class="button button-royal button-block">Duracualf</a>
    <a ui-sref="menu.natracualfes()" id="grandesGruposAcualfes-button430" class="button button-royal button-block">Natracualf</a>
    <a ui-sref="menu.fragiacualfes()" id="grandesGruposAcualfes-button431" class="button button-royal button-block">Fragiacualf</a>
    <a ui-sref="menu.kandiacualfes()" id="grandesGruposAcualfes-button432" class="button button-royal button-block">Kandiacualf</a>
    <a ui-sref="menu.vermacualfes()" id="grandesGruposAcualfes-button433" class="button button-royal button-block">Vermacualf</a>
    <a ui-sref="menu.albacualfes()" id="grandesGruposAcualfes-button437" class="button button-royal button-block">Albacualf</a>
    <a ui-sref="menu.glosacualfes()" id="grandesGruposAcualfes-button436" class="button button-royal button-block">Glosacualf</a>
    <a ui-sref="menu.epiacualfes()" id="grandesGruposAcualfes-button434" class="button button-royal button-block">Epiacualf</a>
    <a ui-sref="menu.endoacualfes()" id="grandesGruposAcualfes-button435" class="button button-royal button-block">Endoacualf</a>
    <div id="grandesGruposAcualfes-markdown674" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Acualf
          <ul>
            <li>Criacualf</li>
            <li>Plintacualf</li>
            <li>Duracualf</li>
            <li>Natracualf</li>
            <li>Fragiacualf</li>
            <li>Kandiacualf</li>
            <li>Vermacualf</li>
            <li>Albacualf</li>
            <li>Glosacualf</li>
            <li>Epiacualf</li>
            <li>Endoacualf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>