<ion-view title="Grandes Grupos Argides" id="page238">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.petroargides()" id="grandesGruposArgides-button316" class="button button-royal button-block">Petroargid</a>
    <a ui-sref="menu.natrargides()" id="grandesGruposArgides-button317" class="button button-royal button-block">Natrargid</a>
    <a ui-sref="menu.paleargides()" id="grandesGruposArgides-button318" class="button button-royal button-block">Paleargid</a>
    <a ui-sref="menu.gipsiargides()" id="grandesGruposArgides-button319" class="button button-royal button-block">Gipsiargid</a>
    <a ui-sref="menu.calciargides()" id="grandesGruposArgides-button320" class="button button-royal button-block">Calciargid</a>
    <a ui-sref="menu.haplargides()" id="grandesGruposArgides-button321" class="button button-royal button-block">Haplargid</a>
    <div id="grandesGruposArgides-markdown394" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Argid
          <ul>
            <li>Petroargid</li>
            <li>Natrargid</li>
            <li>Paleargid</li>
            <li>Gipsiargid</li>
            <li>Calciargid</li>
            <li>Haplargid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>