<ion-view title="Grandes Grupos Udoles" id="page375">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.natrudoles()" id="grandesGruposUdoles-button419" class="button button-royal button-block">Natrudol</a>
    <a ui-sref="menu.calciudoles()" id="grandesGruposUdoles-button420" class="button button-royal button-block">Calciudol</a>
    <a ui-sref="menu.paleudoles()" id="grandesGruposUdoles-button421" class="button button-royal button-block">Paleudol</a>
    <a ui-sref="menu.argiudoles()" id="grandesGruposUdoles-button422" class="button button-royal button-block">Argiudol</a>
    <a ui-sref="menu.vermudoles()" id="grandesGruposUdoles-button423" class="button button-royal button-block">Vermudol</a>
    <a ui-sref="menu.hapludoles()" id="grandesGruposUdoles-button424" class="button button-royal button-block">Hapludol</a>
    <div id="grandesGruposUdoles-markdown651" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Udol
          <ul>
            <li>Natrudol</li>
            <li>Calciudol</li>
            <li>Paleudol</li>
            <li>Argiudol</li>
            <li>Vermudol</li>
            <li>Hapludol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>