<ion-view title="Grandes Grupos Udandes" id="page521">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.placudandes()" id="grandesGruposUdandes-button557" style="color:#FFFFFF;" class="button button-royal button-block">Placudandes</a>
    <a ui-sref="menu.durudandes()" id="grandesGruposUdandes-button567" style="color:#FFFFFF;" class="button button-royal button-block">Durudandes</a>
    <a ui-sref="menu.melanudandes()" id="grandesGruposUdandes-button568" style="color:#FFFFFF;" class="button button-royal button-block">Melanudandes</a>
    <a ui-sref="menu.hidrudandes()" id="grandesGruposUdandes-button577" style="color:#FFFFFF;" class="button button-royal button-block">Hidrudandes</a>
    <a ui-sref="menu.fulvudandes()" id="grandesGruposUdandes-button578" style="color:#FFFFFF;" class="button button-royal button-block">Fulvudandes</a>
    <a ui-sref="menu.hapludandes()" id="grandesGruposUdandes-button566" class="button button-royal button-block">Hapludandes</a>
    <div id="grandesGruposUdandes-markdown118" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Udand
          <ul>
            <li>Placudand</li>
            <li>Durudand</li>
            <li>Melanudand</li>
            <li>Hidrudand</li>
            <li>Fulvudand</li>
            <li>Hapludand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>