<ion-view title="Grandes Grupos Udertes" id="page209">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.distrudertes()" id="grandesGruposUdertes-button279" style="color:#FFFFFF;" class="button button-royal button-block">Distrudert</a>
    <a ui-sref="menu.hapludertes()" id="grandesGruposUdertes-button283" class="button button-royal button-block">Hapludert</a>
    <div id="grandesGruposUdertes-markdown342" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisol</strong>
      </h5>

      <ul>
        <li>Udert
          <ul>
            <li>Distrudert</li>
            <li>Hapludert</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>