<ion-view title="Grandes Grupos Udalfes" id="page423">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.natrudalfes()" id="grandesGruposUdalfes-button474" class="button button-royal button-block">Natrudalf</a>
    <a ui-sref="menu.ferrudalfes()" id="grandesGruposUdalfes-button480" class="button button-royal button-block">Ferrudalf</a>
    <a ui-sref="menu.fraglossudalfes()" id="grandesGruposUdalfes-button481" class="button button-royal button-block">Fraglossudalf</a>
    <a ui-sref="menu.fragiudalfes()" id="grandesGruposUdalfes-button475" class="button button-royal button-block">Fragiudalf</a>
    <a ui-sref="menu.kandiudalfes()" id="grandesGruposUdalfes-button476" class="button button-royal button-block">Kandiudalf</a>
    <a ui-sref="menu.kanhapludalfes()" id="grandesGruposUdalfes-button482" class="button button-royal button-block">Kanhapludalf</a>
    <a ui-sref="menu.paleudalfes()" id="grandesGruposUdalfes-button478" class="button button-royal button-block">Paleudalf</a>
    <a ui-sref="menu.rodudalfes()" id="grandesGruposUdalfes-button477" class="button button-royal button-block">Rodudalf</a>
    <a ui-sref="menu.glossudalfes()" id="grandesGruposUdalfes-button483" class="button button-royal button-block">Glossudalf</a>
    <a ui-sref="menu.hapludalfes()" id="grandesGruposUdalfes-button479" class="button button-royal button-block">Hapludalf</a>
    <div id="grandesGruposUdalfes-markdown741" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Udalf
          <ul>
            <li>Natrudalf</li>
            <li>Ferrudalf</li>
            <li>Fraglossudalf</li>
            <li>Fragiudalf</li>
            <li>Kandiudalf</li>
            <li>Kanhapludalf</li>
            <li>Paleudalf</li>
            <li>Rodudalf</li>
            <li>Glossudalf</li>
            <li>Hapludalf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>