<ion-view title="Grandes Grupos Ortentes" id="page513">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.gelortentes()" id="grandesGruposOrtentes-button580" class="button button-royal button-block">Gelortent</a>
    <a ui-sref="menu.criortentes()" id="grandesGruposOrtentes-button581" class="button button-royal button-block">Criortent</a>
    <a ui-sref="menu.torriortentes()" id="grandesGruposOrtentes-button584" class="button button-royal button-block">Torriortent</a>
    <a ui-sref="menu.xerortentes()" id="grandesGruposOrtentes-button582" class="button button-royal button-block">Xerortent</a>
    <a ui-sref="menu.ustortentes()" id="grandesGruposOrtentes-button583" class="button button-royal button-block">Ustortent</a>
    <a ui-sref="menu.udortentes()" id="grandesGruposOrtentes-button585" class="button button-royal button-block">Udortent</a>
    <div id="grandesGruposOrtentes-markdown908" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Ortent
          <ul>
            <li>Gelortent</li>
            <li>Criortent</li>
            <li>Torriortent</li>
            <li>Xerortent</li>
            <li>Ustortent</li>
            <li>Udortent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>