<ion-view title="Grandes Grupos Orteles" id="page43">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.historteles()" id="grandesGruposOrteles-button60" style="color:#FFFFFF;" class="button button-royal button-block">Histortel</a>
    <a ui-sref="menu.acuorteles()" id="grandesGruposOrteles-button61" class="button button-royal button-block">Acuortel</a>
    <a ui-sref="menu.anhiorteles()" id="grandesGruposOrteles-button62" class="button button-royal button-block">Anhiortel</a>
    <a ui-sref="menu.molorteles()" id="grandesGruposOrteles-button63" class="button button-royal button-block">Molortel</a>
    <a ui-sref="menu.umbrorteles()" id="grandesGruposOrteles-button64" class="button button-royal button-block">Umbrortel</a>
    <a ui-sref="menu.argiorteles()" id="grandesGruposOrteles-button67" class="button button-royal button-block">Argiortel</a>
    <a ui-sref="menu.psammorteles()" id="grandesGruposOrteles-button65" class="button button-royal button-block">Psammortel</a>
    <a ui-sref="menu.haplorteles()" id="grandesGruposOrteles-button66" class="button button-royal button-block">Haplortel</a>
    <div id="grandesGruposOrteles-markdown39" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisol</strong>
      </h5>

      <ul>
        <li>Ortel
          <ul>
            <li>Histortel</li>
            <li>Acuortel</li>
            <li>Anhiortel</li>
            <li>Molortel</li>
            <li>Umbrortel</li>
            <li>Argiortel</li>
            <li>Psammortel</li>
            <li>Haplortel</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>