<ion-view title="Grandes Grupos Torroxes" id="page161">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acrotorroxes()" id="grandesGruposTorroxes-button181" style="color:#FFFFFF;" class="button button-royal button-block">Acrotorrox</a>
    <a ui-sref="menu.eutrotorroxes()" id="grandesGruposTorroxes-button182" class="button button-royal button-block">Eutrotorrox</a>
    <a ui-sref="menu.haplotorroxes()" id="grandesGruposTorroxes-button183" class="button button-royal button-block">Haplotorrox</a>
    <div id="grandesGruposTorroxes-markdown256" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Torrox
          <ul>
            <li>Acrotorrox</li>
            <li>Eutrotorrox</li>
            <li>Haplotorrox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>