<ion-view title="Grandes Grupos Xerertes" id="page206">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.durixerertes()" id="grandesGruposXerertes-button267" style="color:#FFFFFF;" class="button button-royal button-block">Durixerert</a>
    <a ui-sref="menu.calcixerertes()" id="grandesGruposXerertes-button268" class="button button-royal button-block">Calcixerert</a>
    <a ui-sref="menu.haploxerertes()" id="grandesGruposXerertes-button269" class="button button-royal button-block">Haploxerert</a>
    <div id="grandesGruposXerertes-markdown339" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisol</strong>
      </h5>

      <ul>
        <li>Xerert
          <ul>
            <li>Durixerert</li>
            <li>Calcixerert</li>
            <li>Haploxerert</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>