<ion-view title="Grandes Grupos Torrandes" id="page119">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.duritorrandes()" id="grandesGruposTorrandes-button190" style="color:#FFFFFF;" class="button button-royal button-block">Duritorrand</a>
    <a ui-sref="menu.vitritorrandes()" id="grandesGruposTorrandes-button191" class="button button-royal button-block">Vitritorrand</a>
    <a ui-sref="menu.haplotorrandes()" id="grandesGruposTorrandes-button192" class="button button-royal button-block">Haplotorrand</a>
    <div id="grandesGruposTorrandes-markdown178" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Torrand
          <ul>
            <li>Duritorrand</li>
            <li>Vitritorrand</li>
            <li>Haplotorrand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>