<ion-view title="Grandes Grupos Acuodes" id="page80">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.criacuodes()" id="grandesGruposAcuodes-button121" style="color:#FFFFFF;" class="button button-royal button-block">Criacuod</a>
    <a ui-sref="menu.alacuodes()" id="grandesGruposAcuodes-button122" class="button button-royal button-block">Alacuod</a>
    <a ui-sref="menu.fragiacuodes()" id="grandesGruposAcuodes-button123" class="button button-royal button-block">Fragiacuod</a>
    <a ui-sref="menu.placacuodes()" id="grandesGruposAcuodes-button124" class="button button-royal button-block">Placacuod</a>
    <a ui-sref="menu.duracuodes()" id="grandesGruposAcuodes-button125" class="button button-royal button-block">Duracuod</a>
    <a ui-sref="menu.epiacuodes()" id="grandesGruposAcuodes-button126" class="button button-royal button-block">Epiacuod</a>
    <a ui-sref="menu.endoacuodes()" id="grandesGruposAcuodes-button127" class="button button-royal button-block">Endoacuod</a>
    <div id="grandesGruposAcuodes-markdown109" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spodosol</strong>
      </h5>

      <ul>
        <li>Acuod
          <ul>
            <li>Criacuod</li>
            <li>Alacuod</li>
            <li>Fragiacuod</li>
            <li>Placacuod</li>
            <li>Duracuod</li>
            <li>Epiacuod</li>
            <li>Endoacuod</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>