<ion-view title="Grandes Grupos Crioles" id="page349">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.duricrioles()" id="grandesGruposCrioles-button397" class="button button-royal button-block">Duricriol</a>
    <a ui-sref="menu.natricrioles()" id="grandesGruposCrioles-button398" class="button button-royal button-block">Natricriol</a>
    <a ui-sref="menu.palecrioles()" id="grandesGruposCrioles-button399" class="button button-royal button-block">Palecriol</a>
    <a ui-sref="menu.argicrioles()" id="grandesGruposCrioles-button400" class="button button-royal button-block">Argicriol</a>
    <a ui-sref="menu.calcicrioles()" id="grandesGruposCrioles-button401" class="button button-royal button-block">Calcicriol</a>
    <a ui-sref="menu.haplocrioles()" id="grandesGruposCrioles-button402" class="button button-royal button-block">Haplocriol</a>
    <div id="grandesGruposCrioles-markdown602" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Criol
          <ul>
            <li>Duricriol</li>
            <li>Natricriol</li>
            <li>Palecriol</li>
            <li>Argicriol</li>
            <li>Calcicriol</li>
            <li>Haplocriol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>