<ion-view title="Grandes Grupos Wassentes" id="page479">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.frasiwassentes()" id="grandesGruposWassentes-button500" class="button button-royal button-block">Frasiwassent</a>
    <a ui-sref="menu.psammowassentes()" id="grandesGruposWassentes-button501" class="button button-royal button-block">Psammowassent</a>
    <a ui-sref="menu.sulfiwassentes()" id="grandesGruposWassentes-button502" class="button button-royal button-block">Sulfiwassent</a>
    <a ui-sref="menu.hidrowassentes()" id="grandesGruposWassentes-button503" class="button button-royal button-block">Hidrowassent</a>
    <a ui-sref="menu.fluviwassentes()" id="grandesGruposWassentes-button504" class="button button-royal button-block">Fluviwassent</a>
    <a ui-sref="menu.haplowassentes()" id="grandesGruposWassentes-button505" class="button button-royal button-block">Haplowassent</a>
    <div id="grandesGruposWassentes-markdown844" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Wassent
          <ul>
            <li>Frasiwassent</li>
            <li>Psammowassent</li>
            <li>Sulfiwassent</li>
            <li>Hidrowassent</li>
            <li>Fluviwassent</li>
            <li>Haplowassent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>