<ion-view title="Grandes Grupos Xerultes" id="page321">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.palexerultes()" id="grandesGruposXerultes-button367" class="button button-royal button-block">Palexerult</a>
    <a ui-sref="menu.haploxerultes()" id="grandesGruposXerultes-button369" class="button button-royal button-block">Haploxerult</a>
    <div id="grandesGruposXerultes-markdown552" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Xerult
          <ul>
            <li>Palexerult</li>
            <li>Haploxerult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>