<ion-view title="Grandes Grupos Udeptes" id="page470">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sulfudeptes()" id="grandesGruposUdeptes-button529" class="button button-royal button-block">Sulfudept</a>
    <a ui-sref="menu.durudeptes()" id="grandesGruposUdeptes-button535" class="button button-royal button-block">Durudept</a>
    <a ui-sref="menu.fragiudeptes()" id="grandesGruposUdeptes-button530" class="button button-royal button-block">Fragiudept</a>
    <a ui-sref="menu.humudeptes()" id="grandesGruposUdeptes-button531" class="button button-royal button-block">Humudept</a>
    <a ui-sref="menu.eutrudeptes()" id="grandesGruposUdeptes-button532" class="button button-royal button-block">Eutrudept</a>
    <a ui-sref="menu.distrudeptes()" id="grandesGruposUdeptes-button533" class="button button-royal button-block">Distrudept</a>
    <div id="grandesGruposUdeptes-markdown828" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Udept
          <ul>
            <li>Sulfudept</li>
            <li>Durudept</li>
            <li>Fragiudept</li>
            <li>Humudept</li>
            <li>Eutrudept</li>
            <li>Distrudept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>