<ion-view title="Grandes Grupos Criertes" id="page205">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.humicriertes()" id="grandesGruposCriertes-button259" style="color:#FFFFFF;" class="button button-royal button-block">Humicriert</a>
    <a ui-sref="menu.haplocriertes()" id="grandesGruposCriertes-button260" class="button button-royal button-block">Haplocriert</a>
    <div id="grandesGruposCriertes-markdown338" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisol</strong>
      </h5>

      <ul>
        <li>Criert
          <ul>
            <li>Humicriert</li>
            <li>Haplocriert</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>