<ion-view title="Grandes Grupos Humultes" id="page303">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.sombrihumultes()" id="grandesGruposHumultes-button325" class="button button-royal button-block">Sombrihumult</a>
    <a ui-sref="menu.plintohumultes()" id="grandesGruposHumultes-button326" class="button button-royal button-block">Plintohumult</a>
    <a ui-sref="menu.kandihumultes()" id="grandesGruposHumultes-button334" class="button button-royal button-block">Kandihumult</a>
    <a ui-sref="menu.kanhaplohumultes()" id="grandesGruposHumultes-button349" class="button button-royal button-block">Kanhaplohumult</a>
    <a ui-sref="menu.palehumultes()" id="grandesGruposHumultes-button350" class="button button-royal button-block">Palehumult</a>
    <a ui-sref="menu.haplohumultes()" id="grandesGruposHumultes-button351" class="button button-royal button-block">Haplohumult</a>
    <div id="grandesGruposHumultes-markdown519" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Humult
          <ul>
            <li>Sombrihumult</li>
            <li>Plinthohumult</li>
            <li>Kandihumult</li>
            <li>Kanhaplohumult</li>
            <li>Palehumult</li>
            <li>Haplohumult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>