<ion-view title="Grandes Grupos Ustultes" id="page318">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.plinthustultes()" id="grandesGruposUstultes-button335" class="button button-royal button-block">Plinthustult</a>
    <a ui-sref="menu.kandiustultes()" id="grandesGruposUstultes-button353" class="button button-royal button-block">Kandiustult</a>
    <a ui-sref="menu.kanhaplustultes()" id="grandesGruposUstultes-button354" class="button button-royal button-block">Kanhaplustult</a>
    <a ui-sref="menu.paleustultes()" id="grandesGruposUstultes-button362" class="button button-royal button-block">Paleustult</a>
    <a ui-sref="menu.rhodustultes()" id="grandesGruposUstultes-button363" class="button button-royal button-block">Rhodustult</a>
    <a ui-sref="menu.haplustultes()" id="grandesGruposUstultes-button364" class="button button-royal button-block">Haplustult</a>
    <div id="grandesGruposUstultes-markdown547" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Udult
          <ul>
            <li>Plinthudult</li>
            <li>Fragiudult</li>
            <li>Kandiudult</li>
            <li>Kanhapludult</li>
            <li>Paleudult</li>
            <li>Rhodudult</li>
            <li>Hapludult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>