<ion-view title="Grandes Grupos Gelodes" id="page81">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.humigelodes()" id="grandesGruposGelodes-button128" style="color:#FFFFFF;" class="button button-royal button-block">Humigelod</a>
    <a ui-sref="menu.humigelodes()" id="grandesGruposGelodes-button129" class="button button-royal button-block">Haplogelod</a>
    <div id="grandesGruposGelodes-markdown110" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spodosol</strong>
      </h5>

      <ul>
        <li>Gelod
          <ul>
            <li>Humigelod</li>
            <li>Haplogelod</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>