<ion-view title="Grandes Grupos Ustalfes" id="page402">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.durustalfes()" id="grandesGruposUstalfes-button461" class="button button-royal button-block">Durustalf</a>
    <a ui-sref="menu.plintustalfes()" id="grandesGruposUstalfes-button462" class="button button-royal button-block">Plintustalf</a>
    <a ui-sref="menu.natrustalfes()" id="grandesGruposUstalfes-button463" class="button button-royal button-block">Natrustalf</a>
    <a ui-sref="menu.kandiustalfes()" id="grandesGruposUstalfes-button464" class="button button-royal button-block">Kandiustalf</a>
    <a ui-sref="menu.kanhaplustalfes()" id="grandesGruposUstalfes-button465" class="button button-royal button-block">Kanhaplustalf</a>
    <a ui-sref="menu.paleustalfes()" id="grandesGruposUstalfes-button466" class="button button-royal button-block">Paleustalf</a>
    <a ui-sref="menu.rodustalfes()" id="grandesGruposUstalfes-button467" class="button button-royal button-block">Rodustalf</a>
    <a ui-sref="menu.haplustalfes()" id="grandesGruposUstalfes-button468" class="button button-royal button-block">Haplustalf</a>
    <div id="grandesGruposUstalfes-markdown701" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Ustalf
          <ul>
            <li>Durustalf</li>
            <li>Plintustalf</li>
            <li>Natrustalf</li>
            <li>Kandiustalf</li>
            <li>Kanhaplustalf</li>
            <li>Paleustalf</li>
            <li>Rodustalf</li>
            <li>Haplustalf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>