<ion-view title="Grandes Grupos Torrertes" id="page207">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.salitorrertes()" id="grandesGruposTorrertes-button270" style="color:#FFFFFF;" class="button button-royal button-block">Salitorrert</a>
    <a ui-sref="menu.gipsitorrertes()" id="grandesGruposTorrertes-button273" style="color:#FFFFFF;" class="button button-royal button-block">Gipsitorrert</a>
    <a ui-sref="menu.calcitorrertes()" id="grandesGruposTorrertes-button271" class="button button-royal button-block">Calcitorrert</a>
    <a ui-sref="menu.haplotorrertes()" id="grandesGruposTorrertes-button272" class="button button-royal button-block">Haplotorrert</a>
    <div id="grandesGruposTorrertes-markdown340" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisol</strong>
      </h5>

      <ul>
        <li>Torrert
          <ul>
            <li>Salitorrert</li>
            <li>Gipsitorrert</li>
            <li>Calcitorrert</li>
            <li>Haplotorrert</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>