<ion-view title="Grandes Grupos Crialfes" id="page392">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.palecrialfes()" id="grandesGruposCrialfes-button448" class="button button-royal button-block">Palecrialf</a>
    <a ui-sref="menu.glossocrialfes()" id="grandesGruposCrialfes-button449" class="button button-royal button-block">Glossocrialf</a>
    <a ui-sref="menu.haplocrialfes()" id="grandesGruposCrialfes-button450" class="button button-royal button-block">Haplocrialf</a>
    <div id="grandesGruposCrialfes-markdown682" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Crialf
          <ul>
            <li>Palecrialf</li>
            <li>Glossocrialf</li>
            <li>Haplocrialf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>