<ion-view title="Grandes Grupos Ortodes" id="page84">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.placortodes()" id="grandesGruposOrtodes-button134" style="color:#FFFFFF;" class="button button-royal button-block">Placortod</a>
    <a ui-sref="menu.durortodes()" id="grandesGruposOrtodes-button139" class="button button-royal button-block">Durortod</a>
    <a ui-sref="menu.fragiortodes()" id="grandesGruposOrtodes-button140" class="button button-royal button-block">Fragiortod</a>
    <a ui-sref="menu.alortodes()" id="grandesGruposOrtodes-button142" class="button button-royal button-block">Alortods</a>
    <a ui-sref="menu.haplortodes()" id="grandesGruposOrtodes-button141" class="button button-royal button-block">Haplortod</a>
    <div id="grandesGruposOrtodes-markdown113" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spodosol</strong>
      </h5>

      <ul>
        <li>Humod
          <ul>
            <li>Placortod</li>
            <li>Durortod</li>
            <li>Fragiortod</li>
            <li>Alortod</li>
            <li>Haplortod</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>