<ion-view title="Grandes Grupos Fibristes" id="page52">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.criofibristes()" id="grandesGruposFibristes-button94" style="color:#FFFFFF;" class="button button-royal button-block">Criofibristes</a>
    <a ui-sref="menu.sphagnofibristes()" id="grandesGruposFibristes-button95" class="button button-royal button-block">Sphagnofibristes</a>
    <a ui-sref="menu.haplofibristes()" id="grandesGruposFibristes-button96" class="button button-royal button-block">Haplofibristes</a>
    <div id="grandesGruposFibristes-markdown55" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Fibrist
          <ul>
            <li>Criofibrist</li>
            <li>Sphagnofibrist</li>
            <li>Haplofibrist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>