<ion-view title="Ágrico" id="page517">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>Horizonte ágrico:</b>
      <br> (de agricultura) Horizonte
      <a ui-sref="menu.iluviaciNIluvial">iluvial</a> formado bajo cultivo, con cantidades significativas de arcilla, limo y humus.
      <br>Espesor mínimo de 10 cm. Se encuentra inmediatamente debajo de una capa arada y la arcilla y el humus se han acumulado como láminas finas y oscuras. Relación C/N menor de 8 y pH cercano a la neutralidad (6 a 6,5).

    </p>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.Cuico()" id="Grico-button593" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b"> Ant. </a>
      <a ui-sref="menu.glosario()" id="Grico-button594" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.Lbico()" id="Grico-button595" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>