<ion-view title="Gypsico (horizonte)" id="page554">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Horizonte de acumulación secundaria de sulfato de calcio (yeso). Debe tener como mínimo 5% o más de sulfato de calcio que el horizonte "C".</p>
    </div>
    <div>
      <img src="img/E8eCBqES9WrxAzPHi6hX_Horizontegpsico.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.glSsicoHorizonte()" id="gypsicoHorizonte-button707" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="gypsicoHorizonte-button708" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.hMicoMaterial()" id="gypsicoHorizonte-button709" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>