<ion-view title="Halacueptes" id="page427">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify"></p>
      <ul>
        <li>• Con horizonte
          <a ui-sref="menu.sLicoHorizonte">sálico</a>
        </li> o
        <li>• Al menos 25 de los primeros 50 cm con
          <a ui-sref="menu.pSIPorcentajeSodioInterc">PSI</a> ≥ 15% y que disminuye con la profundidad más allá de los 50 cm.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/CDh3ELpLSPu7sAkND82m_HalacueptINTACorrientes.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="halacueptes-markdown749" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Acuept
          <ul>
            <li>Halacuept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>