<ion-view title="Haplosalides" id="page248">
  <ion-content padding="true" class="has-header">
    <div id="haplosalides-markdown411" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Salides.</p>

      <hr>
    </div>
    <div>
      <img src="img/AE86as0XRb6BqAQyUK4q_Haplosalid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplosalides-markdown412" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Salid
          <ul>
            <li>Haplosalid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>