<ion-view title="Haploturbeles" id="page273">
  <ion-content padding="true" class="has-header">
    <div id="haploturbeles-markdown465" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Turbeles.</p>

      <hr>
    </div>
    <div>
      <img src="img/S1Fu2KSSvaJmvCoUFWC9_Haploturbel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haploturbeles-markdown466" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisol</strong>
      </h5>

      <ul>
        <li>Turbel
          <ul>
            <li>Haploturbel</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>