<ion-view title="Haplohumodes" id="page101">
  <ion-content padding="true" class="has-header">
    <div id="haplohumodes-markdown146" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Humodes.</p>

      <hr>
    </div>
    <div>
      <img src="img/Lu1NNEmSfy8AG9n7mDsQ_Haplohumod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplohumodes-markdown147" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spododol</strong>
      </h5>

      <ul>
        <li>Humod
          <ul>
            <li>Haplohumod</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>