<ion-view title="Haplohumultes" id="page302">
  <ion-content padding="true" class="has-header">
    <div id="haplohumultes-markdown517" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Humultes.</p>

      <hr>
    </div>
    <div>
      <img src="img/wILKk1AcT9Sg9iMTNX4y_Haplohumult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplohumultes-markdown518" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Humult
          <ul>
            <li>Haplohumult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>