<ion-view title="Haplortodes" id="page106">
  <ion-content padding="true" class="has-header">
    <div id="haplortodes-markdown156" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Ortodes.</p>

      <hr>
    </div>
    <div>
      <img src="img/pEf7m8p6QMiVAzmygxcw_Haplorthod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplortodes-markdown157" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spododol</strong>
      </h5>

      <ul>
        <li>Ortod
          <ul>
            <li>Haplortodes</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>