<ion-view title="Haploperoxes" id="page176">
  <ion-content padding="true" class="has-header">
    <div id="haploperoxes-markdown282" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Peroxes.</p>

      <hr>
    </div>
    <div>
      <img src="img/lBRaXeqSR6i6oiRTECbt_Haploperox.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haploperoxes-markdown283" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Perox
          <ul>
            <li>Haploperox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>