<ion-view title="Haploxeroles" id="page356">
  <ion-content padding="true" class="has-header">
    <div id="haploxeroles-markdown615" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Xeroles.</p>

      <hr>
    </div>
    <div>
      <img src="img/GtqikNgJQfSb8Z1eqU84_Haploxerol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haploxeroles-markdown616" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Xerol
          <ul>
            <li>Haploxerol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>