<ion-view title="Haplowassentes" id="page478">
  <ion-content padding="true" class="has-header">
    <div id="haplowassentes-markdown842" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Wassentes.</p>

      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="haplowassentes-markdown843" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Wassent
          <ul>
            <li>Haplowassent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>