<ion-view title="Haplotorrandes" id="page140">
  <ion-content padding="true" class="has-header">
    <div id="haplotorrandes-markdown215" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Torrandes.</p>

      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="haplotorrandes-markdown216" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Torrand
          <ul>
            <li>Haplotorrand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>