<ion-view title="Hapludertes" id="page225">
  <ion-content padding="true" class="has-header">
    <div id="hapludertes-markdown373" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Udertes.</p>

      <hr>
    </div>
    <div>
      <img src="img/p9CXPm7XTstRYii4HRkX_Hapludert.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="hapludertes-markdown374" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisol</strong>
      </h5>

      <ul>
        <li>Udert
          <ul>
            <li>Hapludert</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>