<ion-view title="Haplocriandes" id="page137">
  <ion-content padding="true" class="has-header">
    <div id="haplocriandes-markdown209" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Criandes.</p>

      <hr>
    </div>
    <div>
      <img src="img/vJfqwFiRR2ClTtBQ1oKl_Haplocriand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplocriandes-markdown210" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Criand
          <ul>
            <li>Haplocriand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>