<ion-view title="Haplowassistes" id="page61">
  <ion-content padding="true" class="has-header">
    <div id="haplowassistes-markdown70" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Wassistes.</p>

      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="haplowassistes-markdown71" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Wassist
          <ul>
            <li>Haplowassist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>