<ion-view title="Haplocambides" id="page267">
  <ion-content padding="true" class="has-header">
    <div id="haplocambides-markdown453" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Cambides.</p>

      <hr>
    </div>
    <div>
      <img src="img/ReZzJI2PSA2hjcS9kCDh_Haplocambid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplocambides-markdown454" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Cambid
          <ul>
            <li>Haplocambid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>