<ion-view title="Hapludoxes" id="page186">
  <ion-content padding="true" class="has-header">
    <div id="hapludoxes-markdown302" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Udoxes.</p>

      <hr>
    </div>
    <div>
      <img src="img/P1v49Xr0TUqYRYIQgsGe_Hapludox.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="hapludoxes-markdown303" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Udox
          <ul>
            <li>Hapludox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>