<ion-view title="Haplustertes" id="page223">
  <ion-content padding="true" class="has-header">
    <div id="haplustertes-markdown369" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Ustertes.</p>

      <hr>
    </div>
    <div>
      <img src="img/XoBpV81mTEeTW30sAMqX_Haplustert.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplustertes-markdown370" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisol</strong>
      </h5>

      <ul>
        <li>Ustert
          <ul>
            <li>Haplustert</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>