<ion-view title="Haplocrioles" id="page348">
  <ion-content padding="true" class="has-header">
    <div id="haplocrioles-markdown600" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Crioles.</p>

      <hr>
    </div>
    <div>
      <img src="img/lD8yH4MQ6KF7LA35Lhh3_Haplocriol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplocrioles-markdown601" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Criol
          <ul>
            <li>Haplocriol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>