<ion-view title="Hapludoles" id="page373">
  <ion-content padding="true" class="has-header">
    <div id="hapludoles-markdown647" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Udoles.</p>

      <hr>
    </div>
    <div>
      <img src="img/n92DIZ1lRJuVelGN2hus_Hapludol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="hapludoles-markdown648" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Udol
          <ul>
            <li>Hapludol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>