<ion-view title="Haplocalcides" id="page264">
  <ion-content padding="true" class="has-header">
    <div id="haplocalcides-markdown446" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Calcides.</p>

      <hr>
    </div>
    <div>
      <img src="img/k94D0laSx69xgSH9u13M_Haplocalcid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplocalcides-markdown447" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Calcid
          <ul>
            <li>Haplocalcid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>