<ion-view title="Haplocrialfes" id="page391">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Otros Crialfes.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/nLAgayqRQFyv5vRFRYUl_Haplocrialf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplocrialfes-markdown681" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Crialf
          <ul>
            <li>Haplocrialf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>