<ion-view title="Hapludalfes" id="page422">
  <ion-content padding="true" class="has-header">
    <div id="hapludalfes-markdown739" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Udalfes.</p>

      <hr>
    </div>
    <div>
      <img src="img/LOOtwL7OR6qREx3geBtQ_Hapludalf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="hapludalfes-markdown740" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Udalf
          <ul>
            <li>Hapludalf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>