<ion-view title="Haploxereptes" id="page461">
  <ion-content padding="true" class="has-header">
    <div id="haploxereptes-markdown811" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Xereptes.</p>

      <hr>
    </div>
    <div>
      <img src="img/GgkXW11kQFCezx6gvPcp_Haploxerept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haploxereptes-markdown812" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Xerept
          <ul>
            <li>Haploxerept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>