<ion-view title="Haplotorroxes" id="page171">
  <ion-content padding="true" class="has-header">
    <div id="haplotorroxes-markdown272" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Torroxes.</p>

      <hr>
    </div>
    <div>
      <img src="img/fl0xdmM2Tcq6GTFUJu3v_Haplotorrox.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplotorroxes-markdown273" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Torrox
          <ul>
            <li>Haplotorrox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>