<ion-view title="Haplustoxes" id="page181">
  <ion-content padding="true" class="has-header">
    <div id="haplustoxes-markdown292" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Ustoxes.</p>

      <hr>
    </div>
    <div>
      <img src="img/PgVOBCbNRuWHZeLoLCQ2_Haplustox.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplustoxes-markdown293" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Ustox
          <ul>
            <li>Haplustox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>