<ion-view title="Haplustultes" id="page312">
  <ion-content padding="true" class="has-header">
    <div id="haplustultes-markdown535" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Ustultes.</p>

      <hr>
    </div>
    <div>
      <img src="img/I7K3lL2NToSuXMTAzhpl_Haplustult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplustultes-markdown536" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Ustult
          <ul>
            <li>Haplustult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>