<ion-view title="Haplustandes" id="page147">
  <ion-content padding="true" class="has-header">
    <div id="haplustandes-markdown229" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Ustandes.</p>

      <hr>
    </div>
    <div>
      <img src="img/oOKsYSE8TXyxRn7NUhjp_Haplustand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="haplustandes-markdown230" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Ustand
          <ul>
            <li>Haplustand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>