<ion-view title="Hidromorfismo" id="page556">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Son características morfológicas consecuentes de la
        <a ui-sref="menu.saturaciNAgua">saturación con agua</a> del mismo, se evidencian signos de hidromorfismo mediante la presencia de concreciones de Fe y Mn y/o
        <a ui-sref="menu.rasgosRedoximRficos">moteados</a> comunes o abundantes y/o colores grises en la matriz del suelo (claras evidencias de condiciones de reducción).</p>
    </div>
   </ion-content>
	  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
  <a ui-sref="menu.hMicoMaterial()" id="hidromorfismo-button713" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="hidromorfismo-button714" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.hipertRmico()" id="hidromorfismo-button715" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>