<ion-view title="Hidrocriandes" id="page134">
  <ion-content padding="true" class="has-header">
    <div id="hidrocriandes-markdown203" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Retención hídrica mayor a 100% a 1500 kPa.</p>

      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="hidrocriandes-markdown204" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Criand
          <ul>
            <li>Hidrocriand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>