<ion-view title="Hidrudandes" id="page151">
  <ion-content padding="true" class="has-header">
    <div id="hidrudandes-markdown237" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Alta retención hídrica (mayor al 100% a 1500 kPa).</p>

      <hr>
    </div>
    <div>
      <img src="img/b0Zb98ApQoOZGnjtqQuw_Hidrudand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="hidrudandes-markdown238" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Udand
          <ul>
            <li>Hidrudand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>