<ion-view title="Hidrowassentes" id="page476">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Entre los 20 y 50 cm de profundidad:
      </p>
      <ul>
        <li>• Más de 8% de arcilla.</li>
        <li>•
          <a ui-sref="menu.valorN"> Valor n</a> &gt; 0,7.</li>
      </ul>
      <hr>
      <p></p>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="hidrowassentes-markdown839" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Wassent
          <ul>
            <li>Hidrowassent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>