<ion-view title="Hipertérmico" id="page557">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> La temperatura media anual a 50 cm de profundidad es de 22 ºC o mayor y la diferencia entre la media de verano y la de invierno es de más de 5 ºC.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.hidromorfismo()" id="hipertRmico-button719" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="hipertRmico-button720" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.hSticoHorizonte()" id="hipertRmico-button721" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>