<ion-view title="Histoturbeles" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Más de 40% de materia orgánica (en volumen) a menos de 50 cm de profundidad.</li>
        <li>• Cumplen con el requisito de saturación para un
          <a ui-sref="menu.epipedN">epipedón</a>
          <a ui-sref="menu.hSticoHorizonte">hístico</a>.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/9aKupsFSdiyzeZudkrdB_Histoturbel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="histoturbeles-markdown41" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisol</strong>
      </h5>

      <ul>
        <li>Turbel
          <ul>
            <li>Histoturbel</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>