<ion-view title="Histeles" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <ul>
        <li>
          • Más de 80% de materia orgánica (en volumen) en los primeros 50 cm</li>
        <li>•
          <a ui-sref="menu.saturaciNAgua">Saturado</a> por más de 30 días.
        </li>
        <li>• Formados sobre cenizas o pomáceos.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/xIjZ98QITjaRcQ94jEEm_Fibristel.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div id="histeles-markdown27" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Histel?</p>
    </div>
    <div id="histeles-button-bar3" class="button-bar">
      <a ui-sref="menu.subRdenesGelisoles()" id="histeles-button31" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposHisteles()" id="histeles-button35" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>