<ion-view title="Histosoles" id="page31">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Suelos con materiales orgánicos (más de 50% orgánico a menos de 80 cm, baja
        <a ui-sref="menu.densidadAparente">densidad aparente</a>, alta retención hídrica).
      </p>
      <hr>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="histosoles-slider2" style="width:100%;height:300px;">
      <ion-slide-page id="histosoles-slide21">
        <div>
          <img src="img/cmZLcNZfRwTmtbui51Gz_Haplosaprist.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="histosoles-slide23" style="background:url(&quot;img/u5v5nS3dRkq44G7pZ6BX_Histosoles_cr300centro.jpg&quot;) no-repeat center;background-size:cover;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <p align="center">
                Distribución mundial de los Histosoles
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>&lt;
                <br>
              </p>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="histosoles-slide238">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <p align="center">Distribución de los Histosoles en Argentina
                <img src="img/DPd2QtRN2sTXOrZEgilk_HistosolesPySbig.jpeg" style="max-width: 200px; max-height: 250px" alt="Distribución de los Histosoles en Argentina">
                <br>
                <font color="green">• Dominantes </font> &nbsp; &nbsp;
                <font color="purple"> • Secundarios </font>
              </p>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <div id="histosoles-markdown28" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">¿El suelo es un Histosol?</p>
    </div>
    <div id="histosoles-button-bar5" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="histosoles-button27" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesHistosoles()" id="histosoles-button28" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Sí</a>
    </div>
  </ion-content>
</ion-view>