<ion-view title="Horizontes y características de diagnóstico" id="page628">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">
        <b>Horizontes de diagnóstico</b>
        <br> Los horizontes de diagnóstico son horizontes que se utilizan para definir unidades taxonómicas.
        <br>Se dividen en horizontes superficiales (
        <a ui-sref="menu.epipedN">epipedones</a>) y subsuperficiales (
        <a ui-sref="menu.endopedones">endopedones</a>). Quedan definidos por la presencia de una serie de propiedades cuantificables.
        <br>No coinciden necesariamente con los conceptos de horizontes genéticos (A, E y B).
        <br>
        <br>
      </p>
      <hr>

      <b>Características de diagnóstico</b>
      <br>
      <p align="justify">Hay características utilizadas para definir unidades taxonómicas que no se corresponden con un horizonte.
        <br> Se utilizan diferentes características en suelos minerales y suelos orgánicos.
        <br>
        <a ui-sref="menu.caracterSticasDeDiagnStico">Aquí</a> se puede ver un listado completo de ellas.

      </p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.hSticoHorizonte()" id="horizontesYCaracterSticasDeDiagnStico-button907" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="horizontesYCaracterSticasDeDiagnStico-button908" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.hue()" id="horizontesYCaracterSticasDeDiagnStico-button909" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>