<ion-view title="Hístico (horizonte)" id="page558">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">
        <a ui-sref="menu.epipedN">Epipedón</a> con alto contenido de materia orgánica (superior al 20% si es virgen y superior al 14% si está cultivado) y mezcla de materiales turbosos. Deben estar
        <a ui-sref="menu.saturaciNAgua">saturados</a> con agua 30 días seguidos al año como mínimo.</p>
    </div>
    <div>
      <img src="img/l3OCygySuGRELphSdwr9_histico200aos200suelos.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.hipertRmico()" id="hSticoHorizonte-button722" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="hSticoHorizonte-button723" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.horizontesYCaracterSticasDeDiagnStico()" id="hSticoHorizonte-button724" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>