<ion-view title="Hue" id="page639">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      Es una de las tres variables que en el sistema de Munsell definen el color. Es el color dominante del espectro y está relacionada con la longitud de onda dominante de la luz. Se traduce como
      <b>matiz</b> o  <b>tono</b>.
    </p>
    <div>
      <img src="img/h4OS3B9QRHyBTz7rRHfo_Munsellcolorsystem.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p>
      <font size="-2">Imagen extraída de Wikipedia</font>
    </p>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.horizontesYCaracterSticasDeDiagnStico()" id="hue-button873" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="hue-button874" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.humilVicosMateriales()" id="hue-button875" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>