<ion-view title="Humilúvicos (materiales)" id="page604">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>Materiales humilúvicos</b>
      <br> El material humilúvico, es decir, humus
      <a ui-sref="menu.iluviaciNIluvial">iluvial</a>, se acumula en las partes inferiores de algunos suelos orgánicos, que son ácidos y que han sido drenados y cultivados. Los materiales humilúvicos tienen una edad en
      <sup>14</sup>C que no es mayor a la de los materiales orgánicos suprayacentes. Tienen una alta solubilidad en pirofosfato de sodio y se rehumedecen muy lentamente después de secarse; más comúnmente, se acumulan cerca de un contacto con un horizonte mineral
      arenoso.

      <br> Para reconocer al material humilúvico como una característica diferenciadora en clasificación, el material humilúvico deberá constituir la mitad o más (por volumen) de una capa de 2 cm o más de espesor. </p>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.hue()" id="humilVicosMateriales-button725" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="humilVicosMateriales-button726" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.iluviaciNIluvial()" id="humilVicosMateriales-button727" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>