<ion-view title="Humigelodes" id="page92">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Más de 6% de carbono orgánico en una capa de por lo menos 10 cm dentro del horizonte
        <a ui-sref="menu.spDicoHorizonte">spódico</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/pWxttsTEqyhLqDplM5Hw_Humigelod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="humigelodes-markdown129" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spododol</strong>
      </h5>

      <ul>
        <li>Gelod
          <ul>
            <li>Humigelod</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>