<ion-view title="Humigeleptes" id="page438">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Con
        <a ui-sref="menu.epipedN">epipedón</a>
        <a ui-sref="menu.mLicoHorizonte">mólico</a> o
        <a ui-sref="menu.MbricoHorizonte">úmbrico</a>.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="humigeleptes-markdown769" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Gelept
          <ul>
            <li>Humigelept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>