<ion-view title="Humicriodes" id="page96">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Más de 6% de carbono orgánico en una capa de por lo menos 10 cm dentro del horizonte
        <a ui-sref="menu.spDicoHorizonte">spódico</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/EARcnvOASZG1kQ1yyQvr_Humicriod.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <p>
      <small>
        Imagen: http://www.cookinletwetlands.info</small>
    </p>
    <div id="humicriodes-markdown137" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spododol</strong>
      </h5>

      <ul>
        <li>Criod
          <ul>
            <li>Humicriod</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>