<ion-view title="Humultes" id="page283">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Alto contenido de materia orgánica.
        </li>
        <li>• Más del 0,9% de carbono orgánico en el horizonte
          <a ui-sref="menu.argLicoHorizonte">argílico</a> o
          <a ui-sref="menu.kNdicoHorizonte">kándico</a>. </li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/fIQY0YO6SpyuMtqdlOfM_Palehumult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="humultes-markdown485" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Humult?</p>
    </div>
    <div id="humultes-button-bar54" class="button-bar">
      <a ui-sref="menu.subRdenesUltisoles()" id="humultes-button327" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposHumultes()" id="humultes-button331" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>