<ion-view title="Humusteptes" id="page451">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Con
        <a ui-sref="menu.epipedN">epipedón</a>
        <a ui-sref="menu.mLicoHorizonte">mólico</a> o
        <a ui-sref="menu.MbricoHorizonte">úmbrico</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/EYTKVjfmQOO9onbBcZNy_Humustept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="humusteptes-markdown793" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Inceptisol</strong>
      </h5>

      <ul>
        <li>Ustept
          <ul>
            <li>Humustept</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>