<ion-view title="Iluviación / Iluvial" id="page640">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>
        <u>Iluviación</u>
      </b>
      <br>Enriquecimiento de un horizonte en elementos del suelo procedentes de otro horizonte por arrastre con las aguas de infiltración y posterior depósito en el horizonte enriquecido.
      <br> La iluviación se realiza a base de elementos coloidales, hierro y arcilla en los suelos lavados, o hierro y humus en los Spodosoles.
      <br>
      <br>
      <b>
        <u>Horizonte iluvial</u>
      </b>
      <br> Capa del suelo en la que se acumulan sustancias que provienen de otros horizontes del perfil
    </p>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.humilVicosMateriales()" id="iluviaciNIluvial-button876" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="iluviaciNIluvial-button877" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.NdiceMelNico()" id="iluviaciNIluvial-button878" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>