<ion-view title="Inicio" id="page1">
  <ion-content padding="true" style="background: url(img/lEThPQpR42eBQfZ5GTtL_fondo2.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="inicio-heading2" style="color:#1C1748;font-weight:600;text-align:center;">Introducción</h3>
    <div>
      <p align="justify">
        <font color="#1C1748">Esta aplicación ha sido diseñada para facilitar la interpretación, el aprendizaje y el uso de la clasificación de los suelos según la decimosegunda edición de las Claves para la Taxonomía de Suelos (
          <a href="https://www.nrcs.usda.gov/Internet/FSE_DOCUMENTS/nrcs142p2_051546.pdf">descargar pdf</a>). Mediante un acceso ágil e interactivo, permite identificar las principales propiedades de los suelos hasta el nivel taxonómico de Gran Grupo aunque no pretende reemplazar las claves para la clasificación de los suelos.</font>
      </p>
      <hr>
    </div>
    <div>
      <p align="justify">
        <font color="#1e1e15">
          <b>
            <font size="4">¿Qué es un suelo?</font>
          </b>
          <br>
          <br> Según la Taxonomía de Suelos, el objeto de clasificación «suelo», es un cuerpo natural constituido por materiales sólidos (minerales y materia orgánica), líquidos y gases que ocupan una porción tridimensional de la superficie terrestre. Se
          caracterizan por poseer horizontes o capas que se distinguen del material parental o roca madre como resultado de los procesos de génesis.
          <br>
          <br>El límite superior del suelo es la superficie de contacto entre éste y la atmósfera o la superficie de aguas poco profundas o las plantas vivas. Los límites horizontales del suelo son áreas donde el suelo cambia a aguas profundas, áreas estériles,
          rocas o hielo.
          <br>El límite inferior que separa al suelo del no suelo subyacente es el más difícil de definir. El suelo consiste de horizontes cercanos a la superficie terrestre que, en contraste con el material parental subyacente, han sido alterados por las
          interacciones del clima, relieve y organismos vivos sobre el tiempo.
          <br>Es común que el suelo, en su límite inferior, cambie a roca dura o materiales terrestres virtualmente desprovistos de animales, raíces u otras marcas de actividad biológica. Sin embargo, la profundidad inferior de la actividad biológica es difícil
          de establecer y con frecuencia es gradual.
          <br>Para propósitos de clasificación, el límite inferior del suelo se fija de manera arbitraria a 200 cm.</font>
      </p>
      <br>

    </div>
    <div>
      <img src="img/NcHMZVczRcqt7JwQmsxo_pedonirregular.png" style="display: block; width: auto; height: 200px; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <p align="justify">
      </p>
      <p style="FONT-SIZE:12px; COLOR:#1e1e15; LINE-HEIGHT:13px; FONT-FAMILY:bahnschrift,sans-serif; text-align:justify"> Esquema básico de un pedón, la menor unidad tridimensional que puede considerarse un individuo suelo. </p>
      <br>
    </div>
    <div>
      <hr>
      <p align="justify">
        <font color="#1C1748">
          <b>
            <font size="3">¿Para qué se clasifican los suelos?</font>
          </b>
          <br>
          <br> • Para organizar el conocimiento y permitir la transmisión eficaz del mismo entre diferentes personas.
          <br> • Para facilitar la investigación de manera lógica y comprensible.
          <br> • Para agruparlos en clases similares de acuerdo algún objetivo científico o profesional.
          <br> • Para constituir, junto con la Cartografía, una base para las aplicaciones prácticas.
        </font>
      </p>
      <hr>

    </div>
    <div>
      <p align="justify">
        <font color="#1e1e15">
          <b>
            <font size="3">El sistema de clasificación Soil Taxonomy</font>
          </b>
          <br>
          <br> El Sistema Soil Taxonomy tiene seis niveles de clasificación. Son, desde el más general al más específico: Orden, Suborden, Gran Grupo, Subgrupo, Familia y Serie. El sistema se basa en la definición de
          <a ui-sref="menu.horizontesYCaracterSticasDeDiagnStico">horizontes y características de diagnóstico</a> para suelos minerales y orgánicos. Cada horizonte o característica de diagnóstico se definen por una o varias propiedades cuantificables, ya sean: morfológicas (espesor, color, textura, etc.),
          físicas (regímenes de humedad y temperatura, entre otros), fisicoquímicas (pH, saturación de bases, CIC, etc.), químicas (contenido de carbono, fosfatos, etc.) o mineralógicas (mineralogía de arcillas, etc.).
          <br>
          <br> El Orden es el nivel de mayor jerarquía del sistema de clasificación, se reconocen 12 Órdenes y es el nivel donde se utilizan la menor cantidad de propiedades para su definición. Para clasificar un suelo, el usuario del sistema debe comenzar
          por verificar si el suelo cumple con todas las propiedades requeridas por el primer Orden de la clave (Gelisoles), en caso de no cumplirlas, debe hacer lo mismo con el siguiente Orden (Histosoles) y así sucesivamente hasta que se encuentre el
          orden para el cual el suelo cumple con todas las propiedades requeridas.
          <br>
          <br>Una vez que se ha definido el Orden del suelo, se identifican sucesivamente el Suborden, el Gran Grupo, el Subgrupo de la misma manera. Las Familias se definen en base a diferencias en propiedades agrupadas en clases tales como: Clases de Tamaño
          de partícula, Clases Mineralógicas, Clases de Temperatura del suelo, Clases de Profundidad del suelo entre otros. Finalmente la separación de suelos a nivel de Series puede estar basada sobre cualquier propiedad que afecte el uso de un suelo,
          pudiendo ser algunas de las que se utilizan como criterio en los niveles más altos en el sistema.
          <br>
          <br> Esta aplicación solo permite identificar un suelo hasta nivel de Gran Grupo.

        </font>
      </p>
      <hr>

    </div>
    <div>
      <a style="display:block;" ui-sref="menu.usoDeSoilTaxonomy()">
        <img src="img/UnAaqc0GTXS4ghKKaYMF_MapaSoilTaxonomy2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <p align="center">
        <font color="black">
          <small>Países donde se utiliza el sistema Soil Taxonomy.
            <br> Adaptado de West et al. (2017). The Soils of the USA.
          </small>
        </font>
      </p>
      <hr>
    </div>
    <p align="justify">
      <font color="#1C1748">
        <b>
          <font size="3">Sintaxis del nombre del suelo a nivel de Gran Grupo</font>
        </b>
        <br>
        <br> El nombre a nivel de Gran Grupo se denomina con una sola palabra constituida por tres elementos formativos. Cada elemento formativo identifica el Orden, Suborden y Gran Grupo respectivamente. Para identificar cada una de las taxas que componen
        el nombre la lectura se realiza de derecha a izquierda: el elemento formativo ubicado a la derecha de la palabra identifica el Orden, el del medio el Suborden y el de la izquierda el Gran Grupo.

      </font>
    </p>
    <div>
      <font color="#1C1748">
        <u>Por ejemplo:</u>
        <br>
      </font>
      <p align="center">
        <b>
          <font size="5" color="black">Argi</font>
          <font size="5" color="#008000">ud</font>
          <font size="5" color="#660000">ol</font>
        </b>
        <br>
      </p>
    </div>
    <div>
      <img src="img/IafDqgP9Sc2vRIOiUEBf_flechainterpretacion.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <br>

      <p align="justify">•
        <b>
          <font color="#660000">ol</font>
        </b>
        <font color="#1C1748">: elemento formativo del
          <u>Orden</u>: Molisol</font>
        <br> •
        <b>
          <font color="#008000">ud</font>
        </b>
        <font color="#1C1748">: elemento formativo del
          <u>Suborden</u>: Udol</font>
        <br> •
        <b>
          <font color="black">Argi</font>
        </b>
        <font color="#1C1748">: elemento formativo del
          <u>Gran Grupo</u>: Argiudol</font>
        <br>

      </p>
      <hr>





    </div>
    <div>


      <font color="#1C1748">Aquí se pueden consultar los elementos formativos de los
        <a ui-sref="menu.elementosFormativosOrden">Órdenes</a>,
        <a ui-sref="menu.elementosFormativosSuborden">Subórdenes</a>, y
        <a ui-sref="menu.elementosFormativosGG">Grandes Grupos</a>
      </font>.
      <br>
      <br>

    </div>
  </ion-content>
</ion-view>