<ion-view title="Interdigitaciones de mat. álbicos" id="page559">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> El término “interdigitaciones de materiales álbicos” se refiere a
        <a ui-sref="menu.Lbico"> materiales álbicos</a> que penetran 5 cm o más dentro de un horizonte
        <a ui-sref="menu.argLicoHorizonte">argílico</a>,
        <a ui-sref="menu.kNdicoHorizonte">kándico</a> o
        <a ui-sref="menu.nTricoHorizonte">nátrico</a> subyacente a lo largo de las caras verticales de los agregados, y en menor grado en las caras horizontales.</p>
    </div>
    <div>
      <img src="img/IVEc7BXVSiEeZsHTAOAJ_InterdigitadosMAIG300.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.NdiceMelNico()" id="interdigitacionesDeMatLbicos-button728" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="interdigitacionesDeMatLbicos-button729" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.isofrGido()" id="interdigitacionesDeMatLbicos-button730" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>