<ion-view title="Isofrígido" id="page600">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Régimen de temperatura isofrígido</b>
      </p>
      <p align="justify"> Temperatura media anual del suelo es menor a 8 °C.
        <br>El prefijo
        <b>iso</b> indica que la temperatura media de invierno y la de verano no difieren en más de 6 °C a 50 cm de profundidad o sobre un
        <a ui-sref="menu.contactoDNsico">contacto dénsico</a>,
        <a ui-sref="menu.contactoLTico">lítico</a> o
        <a ui-sref="menu.contactoParalTico">paralítico</a>, lo que sea más superficial.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.interdigitacionesDeMatLbicos()" id="isofrGido-button731" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="isofrGido-button732" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.isohipertRmico()" id="isofrGido-button733" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>