<ion-view title="Kandiacultes" id="page291">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <ul>
        <li>• Sin
          <a ui-sref="menu.contactoDNsico">contacto dénsico</a>,
          <a ui-sref="menu.contactoLTico">lítico</a>,
          <a ui-sref="menu.contactoParalTico">paralítico</a> o
          <a ui-sref="menu.petrofRricoContacto">petroférrico</a> dentro de los primeros 150 cm.</li>
        <li>• Con horizonte
          <a ui-sref="menu.kNdicoHorizonte">kándico</a>.</li>
        <li>• El % de arcilla decrece poco en profundidad dentro de los primeros 150 cm.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="kandiacultes-markdown496" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Acult
          <ul>
            <li>Kandiacult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>