<ion-view title="Kandiustultes" id="page316">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <ul>
        <li>• Sin
          <a ui-sref="menu.contactoDNsico">contacto dénsico</a>,
          <a ui-sref="menu.contactoLTico">lítico</a>,
          <a ui-sref="menu.contactoParalTico">paralítico</a> o
          <a ui-sref="menu.petrofRricoContacto">petroférrico</a> dentro de los primeros 150 cm.</li>
        <li>• Con horizonte
          <a ui-sref="menu.kNdicoHorizonte">kándico</a>.</li>
        <li>• El % de arcilla decrece poco en profundidad dentro de los primeros 150 cm.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/R0LnfnSmmn0mWkKbGc9w_Kandiustult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="kandiustultes-markdown544" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Ustult
          <ul>
            <li>Kandiustult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>