<ion-view title="Kandiperoxes" id="page175">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Horizonte
        <a ui-sref="menu.kNdicoHorizonte">kándico</a> dentro de los primeros 150 cm.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="kandiperoxes-markdown281" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Perox
          <ul>
            <li>Kandiperox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>