<ion-view title="Kandiacualfes" id="page381">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Con horizonte
        <a ui-sref="menu.kNdicoHorizonte">kándico</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/dm0etURCTQh2c4JPxRZX_Kandiacualf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="kandiacualfes-markdown663" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Acualf
          <ul>
            <li>Kandiacualf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>