<ion-view title="Kandiustoxes" id="page180">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Horizonte
        <a ui-sref="menu.kNdicoHorizonte">kándico</a> dentro de los primeros 150 cm. </p>
      <hr>
    </div>
    <div>
      <img src="img/ViEP9pXQxq6xTD34sNfM_Kandiustox.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="kandiustoxes-markdown291" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Ustox
          <ul>
            <li>Kandiustox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>