<ion-view title="Kándico (horizonte)" id="page560">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Horizonte subsuperficial con incremento de arcilla con respecto al horizonte suprayacente.
        <a ui-sref="menu.cIC">CIC aparente </a> menor de 16 meq/100 gr de arcilla y espesor de por lo menos 30 cm. </p>
    </div>
      </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.isotRmico()" id="kNdicoHorizonte-button737" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="kNdicoHorizonte-button738" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.lamela()" id="kNdicoHorizonte-button739" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>