<ion-view title="Álbico" id="page518">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">
        <b>Horizonte álbico:</b>
        <br> Horizonte
        <a ui-sref="menu.eluviaciNEluvial">eluvial</a> de 1 cm o más de espesor, que contiene 85 por ciento o más (en volumen) de materiales álbicos . En general ocurre debajo de un horizonte A, pero puede estar en la superficie de un suelo mineral. Frecuentemente debajo del horizonte
        álbico existe un horizonte
        <a ui-sref="menu.argLicoHorizonte">argílico</a>,
        <a ui-sref="menu.nTricoHorizonte">nátrico</a>,
        <a ui-sref="menu.spDicoHorizonte">spódico</a> o un
        <a ui-sref="menu.fragipN">fragipán</a>.
        <br>
      </p>
      <hr>

      <p align="justify">
        <b>Materiales álbicos:</b>
        <br> (L. albus, blanco) materiales de suelo cuyo color está determinado por el color de las partículas primarias de arena y limo, más que por el color de sus revestimientos. La arcilla y/o los óxidos de hierro libres han sido removidos.
      </p>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider13" delegate-handle="slider13" id="Lbico-slider13" style="width:100%;height:200px;">
      <ion-slide-page id="Lbico-slide240">
        <div>
          <img src="img/BE5OCBaoQCKaNpx45bpA_albico200aos200suelos.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="Lbico-slide242">
        <div>
          <img src="img/tNdfnTEJR3SAYCVjQhTO_albico300.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
    </ion-slides>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.Grico()" id="Lbico-button596" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="Lbico-button597" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.aluvial()" id="Lbico-button598" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>