<ion-view title="Luvihemistes" id="page72">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Con horizonte de 2 cm o más de espesor, en los cuales los
        <a ui-sref="menu.humilVicosMateriales">materiales humilúvicos</a> constituyen la mitad o más del volumen.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="luvihemistes-markdown93" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Hemist
          <ul>
            <li>Luvihemist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>