<ion-view title="Materiales gélicos" id="page550">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Los materiales gélicos son materiales minerales u orgánicos del suelo que muestran evidencias de
        <a ui-sref="menu.crioturbaciN">crioturbación</a> (esmerilado con frío) y/o segregación de hielo en la capa activa (capa de deshielo estacional) y/o la parte superior del
        <a ui-sref="menu.permafrost">permafrost</a>.
        <br> La
        <a ui-sref="menu.crioturbaciN">crioturbación</a> se manifiesta por horizontes irregulares e interrumpidos, involuciones, acumulación de materia orgánica sobre la superficie y dentro del
        <a ui-sref="menu.permafrost">permafrost</a>, fragmentos de roca orientados y capas de limo-enriquecido.</p>
    </div>
      </ion-content>
	  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
      <a ui-sref="menu.gLicoRGimenDeTemperatura()" id="materialesGLicos-button701" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="materialesGLicos-button702" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.gilgaiMicrorrelieve()" id="materialesGLicos-button703"  style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
	</ion-footer-bar>
 
</ion-view>