<ion-view title="Úmbrico (horizonte)" id="page590">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> (de oscuro)
        <a ui-sref="menu.epipedN">Epipedón</a> que cumple todas las exigencias del epipedón
        <a ui-sref="menu.mLicoHorizonte">mólico</a>, excepto que son insaturados, (
        <a ui-sref="menu.saturaciNConBases">saturación con bases</a> &lt; 50%), con catión dominante H
        <sup>+</sup>. Sin exigencias de estructura.</p>
    </div>
    <div>
      <img src="img/7Djtdr85RAmTlyR0GSv5_umbricoIG300.jpg" style="display: block; width: auto; height: 270px; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.DicoRGimenDeHumedad()" id="MbricoHorizonte-button833" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="MbricoHorizonte-button834" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.usticoRGimenDeHumedad()" id="MbricoHorizonte-button835" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>