<ion-view title="Melanocriandes" id="page135">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con
        <a ui-sref="menu.epipedN">epipedón</a>
        <a ui-sref="menu.melNicoHorizonte">melánico</a>. </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="melanocriandes-markdown206" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Criand
          <ul>
            <li>Melanocriand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>