<ion-view title="Melánico (horizonte)" id="page562">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Epipedón negro, grueso, con altas concentraciones de carbono orgánico, usualmente asociados con complejos aluminio-humus, resultado del aporte de residuos de raíces de gramíneas. <a ui-sref="menu.value">Value</a> en húmedo y
        <a ui-sref="menu.cromaChroma">chroma</a> de 2 o menos y un 6% o más de materia orgánica.</p>
    </div>
    <div>
      <img src="img/VJUWn8VnSpCugKXEGjiO_melanico.jpg" style="display: block; height: 300px; margin-left: auto; margin-right: auto;">
    </div>
    <small>Imagen: Soil Survey Staff (NRCS-USDA)</small>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.loess()" id="melNicoHorizonte-button746" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="melNicoHorizonte-button747" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.mSico()" id="melNicoHorizonte-button748" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>