<ion-view title="Mólico (horizonte)" id="page564">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Horizonte diagnóstico (<a ui-sref="menu.epipedN">epipedón</a>) de colores oscuros con <a ui-sref="menu.value">value</a> ≤ 3 en húmedo y ≤ 5 en seco y
        <a ui-sref="menu.cromaChroma">chroma</a> ≤ 3 en húmedo, ricos en humus (≥1% de materia orgánica), de espesor moderado (≥ 18 cm). <a ui-sref="menu.saturaciNConBases">Saturación con bases</a> mayor a 50% con dominancia de cationes Ca
        <sup>2+</sup> y Mg<sup>2+</sup>, bien estructurados. Nunca masivos ni duros en seco.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	   <a ui-sref="menu.mSico()" id="mLicoHorizonte-button716" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="mLicoHorizonte-button717" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.nTricoHorizonte()" id="mLicoHorizonte-button718" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>