<ion-view title="Modo de uso" id="page608" style="background-color:#E5E5E5;">
  <ion-content padding="true" class="has-header">
    <div>
      <b>
        <u>Módulo Clasificación</u>
      </b>
      <br>
      <br>
      <p align="justify">
        La información está organizada de forma que para cada nivel jerárquico (Orden, Suborden y Gran Grupo) se debe comenzar desde el primer elemento del listado y en caso de no corresponder al suelo a clasificar seguir con el siguiente elemento.
        <br>
        <br>
        <u>Ejemplo:</u> el listado de Órdenes sigue la secuencia
        <br>
        <font color="blue">Gelisoles -&gt; Histosoles -&gt; Spodosoles -&gt; Andisoles -&gt; ...</font>
      </p>
      <p align="justify"> Se inicia con los Gelisoles y su comprueba si el suelo a clasificar cumple los requisitos de Gelisol, en caso de no cumplirlos se continúa con los Histosoles y así sucesivamente hasta encontrar el Orden correspondiente. Una vez definido el Orden
        se sigue el mismo procedimiento para definir el Suborden y luego el Gran Grupo. </p>
    </div>
    <div>
      <img src="img/JDaAyJeRTiqOgTBrdbf9_diagramaflujo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="modoDeUso-markdown122" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">En la pantalla inicial de cada Orden de suelo, además de la definición, hay una serie de diapositivas que incluye: una foto de un perfil de suelo, un mapa de distribución de ese Orden de suelos a nivel mundial y un mapa de distribución a nivel nacional.
        Deslice el dedo sobre la imagen para acceder a la imagen siguiente.</p>

      <hr>
    </div>
    <div>
      <b>
        <u>Módulo Glosario</u>
      </b>
      <br>
      <br>
      <p align="justify">
        El glosario puede utilizarse en forma independiente o a través de los enlaces presentes en las definiciones del módulo Clasificación (marcados en color celeste). Si accede a un término del glosario desde el módulo Clasificación, utilice el botón "Atrás"
        de su teléfono para regresar a la pantalla anterior.</p>
    </div>
  </ion-content>
</ion-view>