<ion-view title="Molisoles" id="page38">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Suelos con epipedón
        <a ui-sref="menu.mLicoHorizonte">mólico</a> y alta
        <a ui-sref="menu.saturaciNConBases">saturación con bases</a> (mayor al 50%).
      </p>
      <hr>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider9" delegate-handle="slider9" id="molisoles-slider9" style="width:100%;height:300px;">
      <ion-slide-page id="molisoles-slide225">
        <div>
          <img src="img/n92DIZ1lRJuVelGN2hus_Hapludol.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="molisoles-slide226" style="background:url(&quot;img/xQmoOq4DQxenwhEwimGe_Molisoles_cr300centro.jpg&quot;) no-repeat center;background-size:cover;">
        <p align="center">
          Distribución mundial de los Molisoles
        </p>
      </ion-slide-page>
      <ion-slide-page id="molisoles-slide256">
        <p align="center">Distribución de los Molisoles en Argentina
          <img src="img/CrM89EWgSjmNibiZjJlB_Molisoles1y2.jpeg" style="max-width: 200px; max-height: 250px" alt="Distribución de los Molisoles en Argentina">
          <br>
          <font color="green">• Dominantes </font> &nbsp; &nbsp;
          <font color="purple"> • Secundarios </font>
        </p>
      </ion-slide-page>
    </ion-slides>
    <div id="molisoles-markdown34" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">¿El suelo es un Molisol?</p>
    </div>
    <div id="molisoles-button-bar12" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="molisoles-button45" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesMolisoles()" id="molisoles-button46" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Sí</a>
    </div>
  </ion-content>
</ion-view>