<ion-view title="Mésico" id="page563">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Régimen de temperatura donde la temperatura media anual es superior a 8ºC, pero inferior a 15ºC y la diferencia entre la media de verano y la de invierno es de más de 5ºC.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.melNicoHorizonte()" id="mSico-button752" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="mSico-button753" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.mLicoHorizonte()" id="mSico-button754" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>