<ion-view title="Natrudoles" id="page369">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con horizonte
        <a ui-sref="menu.nTricoHorizonte">nátrico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/fxFUUuVRZCrebPqE0ZkA_Natrudol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="natrudoles-markdown640" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Udol
          <ul>
            <li>Natrudol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>