<ion-view title="Natralboles" id="page322">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con horizonte
        <a ui-sref="menu.nTricoHorizonte">nátrico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/siYr1N3S0ua2PHxbhIKx_Natralbol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="natralboles-markdown554" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Albol
          <ul>
            <li>Natralbol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>