<ion-view title="Natrargides" id="page258">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con horizonte
        <a ui-sref="menu.nTricoHorizonte">nátrico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/IR2HKXlOS9eVM9TQSBFd_Natrargid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="natrargides-markdown432" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Argid
          <ul>
            <li>Natrargid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>