<ion-view title="Natracualfes" id="page379">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con horizonte
        <a ui-sref="menu.nTricoHorizonte">nátrico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/6fEcrWEbTNW8w5v3iGBi_Natracualf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="natracualfes-markdown659" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Acualf
          <ul>
            <li>Natracualf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>