<ion-view title="Natrustoles" id="page361">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con horizonte
        <a ui-sref="menu.nTricoHorizonte">nátrico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/mbe8mgOeRuCMYhQfjD2Q_Natriustol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="natrustoles-markdown625" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Ustol
          <ul>
            <li>Natriustol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>