<ion-view title="Natridurides" id="page249">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Horizonte
        <a ui-sref="menu.nTricoHorizonte">nátrico</a> sobre el
        <a ui-sref="menu.duripN">duripán</a>. </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="natridurides-markdown414" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Durid
          <ul>
            <li>Natridurid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>