<ion-view title="Natricrioles" id="page344">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con horizonte
        <a ui-sref="menu.nTricoHorizonte">nátrico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/qxNxWS3eQS6PhU59rxwb_Natricriol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="natricrioles-markdown593" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Criol
          <ul>
            <li>Natricriol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>