<ion-view title="Índice melánico" id="page641">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      En la relación existente entre los ácidos húmicos y fúlvicos en la fracción orgánica del suelo.
    </p>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.iluviaciNIluvial()" id="NdiceMelNico-button879" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="NdiceMelNico-button880" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.interdigitacionesDeMatLbicos()" id="NdiceMelNico-button881" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>