<ion-view title="Ándico" id="page520">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b>Propiedades ándicas:</b>
        <br> </p>
      <p align="justify">Resultan principalmente de la presencia significativa de alofano, imogolita, ferrihidrita o de complejo humus-aluminio en los suelos. Es decir de materiales que provienen de la meteorización de materiales originarios que contienen vidrios volcánicos.</p>
      <p></p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.aluvial()" id="Ndico-button599" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="Ndico-button600" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.anhidrasCondiciones()" id="Ndico-button601" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>