<ion-view title="Nátrico (horizonte)" id="page565">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Un horizonte nátrico es un horizonte
        <a ui-sref="menu.iluviaciNIluvial">iluvial</a> que normalmente está a nivel subsuperficial y tiene un porcentaje significativamente más alto de arcilla
        <a ui-sref="menu.silicatos">silicatada</a> que los horizontes suprayacentes.
        <br> Muestra evidencias de <a ui-sref="menu.iluviaciNIluvial">iluviación</a> de arcilla que se ha acelerado por las propiedades dispersantes del sodio. Más del 15% de saturación con sodio (<a ui-sref="menu.pSIPorcentajeSodioInterc">PSI</a>). Puede presentar estructura columnar.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.mLicoHorizonte()" id="nTricoHorizonte-button740" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="nTricoHorizonte-button741" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.CricoHorizonte()" id="nTricoHorizonte-button742" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>