<ion-view title="Orden" id="page567">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Nivel taxonómico superior que describe características esenciales de los suelos y los agrupa en función de la presencia o no de horizontes diagnósticos o de características que muestren los procesos formadores predominantes.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.CricoHorizonte()" id="orden-button734" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="orden-button735" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.orsteinHorizonte()" id="orden-button736" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>