<ion-view title="Orstein (horizonte)" id="page568">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Horizonte subsuperficial formado por
        <a ui-sref="menu.spDicosMateriales">materiales spódicos</a>. Tiene al menos un 50% de su espesor
        <a ui-sref="menu.cementaciN">cementado</a> y tiene 25 mm o más de espesor.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.orden()" id="orsteinHorizonte-button758" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="orsteinHorizonte-button759" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.XicoHorizonte()" id="orsteinHorizonte-button760" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>