<ion-view title="Orteles" id="page188">
  <ion-content padding="true" class="has-header">
    <div id="orteles-markdown306" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Gelisoles.</p>

      <hr>
    </div>
    <div>
      <img src="img/FfsbU6GZRICyuIpXf3dw_Acuorthel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="orteles-markdown307" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Ortel?</p>
    </div>
    <div id="orteles-button-bar40" class="button-bar">
      <a ui-sref="menu.subRdenesGelisoles()" id="orteles-button216" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposOrteles()" id="orteles-button232" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>