<ion-view title="Ortentes" id="page514">
  <ion-content padding="true" class="has-header">
    <div id="ortentes-markdown909" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Entisoles.</p>

      <hr>
    </div>
    <div>
      <img src="img/nwMtCSxJS8Cxz5OrluwN_Udorthent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="ortentes-markdown910" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Ortent?</p>
    </div>
    <div id="ortentes-button-bar81" class="button-bar">
      <a ui-sref="menu.subRdenesEntisoles()" id="ortentes-button586" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposOrtentes()" id="ortentes-button587" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>