<ion-view title="Orthodes" id="page79">
  <ion-content padding="true" class="has-header">
    <div id="orthodes-markdown107" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Spodosoles.</p>

      <hr>
    </div>
    <div>
      <img src="img/fpB8TquSTK6z9e4d6zGg_Haplorthod.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="orthodes-markdown108" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Orthod?</p>
    </div>
    <div id="orthodes-button-bar25" class="button-bar">
      <a ui-sref="menu.subRdenesSpodosoles()" id="orthodes-button119" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposOrtodes()" id="orthodes-button120" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>