<ion-view title="Oxisoles" id="page34">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Suelos con horizonte
        <a ui-sref="menu.XicoHorizonte">óxico</a> dentro de los primeros 150 cm y sin horizonte
        <a ui-sref="kNdicoHorizonte">kándico</a> en esa profundidad.
      </p>
      <hr>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider5" delegate-handle="slider5" id="oxisoles-slider5" style="width:100%;height:300px;">
      <ion-slide-page id="oxisoles-slide213">
        <div>
          <img src="img/PgVOBCbNRuWHZeLoLCQ2_Haplustox.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="oxisoles-slide214" style="background:url(&quot;img/pJJJRgVHTCiePnDfIeey_Oxisoles_cr300centro.jpg&quot;) no-repeat center;background-size:cover;">
        <p align="center">Distribución mundial de los Oxisoles</p>
      </ion-slide-page>
      <ion-slide-page id="oxisoles-slide261">
        <p align="center">Distribución de los Oxisoles en Argentina
          <img src="img/VcNIRVBRxaTPdUZrJMIb_Oxisoles2y3.jpeg" style="max-width: 200px; max-height: 250px" alt="Distribución de los Oxisoles en Argentina">
          <br>
          <font color="purple"> • Secundarios </font>&nbsp; &nbsp;
          <font color="orange">• Terciarios </font>
        </p>
      </ion-slide-page>
    </ion-slides>
    <div id="oxisoles-markdown30" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">¿El suelo es un Oxisol?</p>
    </div>
    <div id="oxisoles-button-bar8" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="oxisoles-button37" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesOxisoles()" id="oxisoles-button38" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Sí</a>
    </div>
  </ion-content>
</ion-view>