<ion-view title="Paleudoles" id="page371">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <ul>
        <li>• Sin
          <a ui-sref="menu.contactoDNsico">contacto dénsico</a>,
          <a ui-sref="menu.contactoLTico">lítico</a> o
          <a ui-sref="menu.contactoParalTico">paralítico</a> dentro de los primeros 150 cm.</li>
        <li>• Horizonte
          <a ui-sref="menu.argLicoHorizonte">argílico</a> muy espeso de color rojizo a más de 60 cm de profundidad.</li>
        <li>• Régimen de temperatura
          <a ui-sref="menu.frGido">frígido</a>.</li>
        <li>•
          <a ui-sref="menu.textura">Textura</a> más fina que arenosa franca fina por encima del horizonte
          <a ui-sref="menu.argLicoHorizonte">argílico</a>.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/MTgxBIdQv6dDpGV5yWFd_Paleudol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="paleudoles-markdown644" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Udol
          <ul>
            <li>Paleudol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>