<ion-view title="Palecrialfes" id="page386">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <ul>
        <li>• Horizonte
          <a ui-sref="menu.argLicoHorizonte">argílico</a>,
          <a ui-sref="menu.kNdicoHorizonte">kándico</a> o
          <a ui-sref="menu.nTricoHorizonte">nátrico</a> a más de 60 cm de profundidad.</li>
        <li>•
          <a ui-sref="menu.textura">Textura</a> más fina que areno franca fina en al menos uno de los horizontes superiores.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="palecrialfes-markdown673" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Crialf
          <ul>
            <li>Palecrialf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>