<ion-view title="Paleustalfes" id="page399">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <ul>
        <li>• Con horizonte
          <a ui-sref="menu.petrocLcicoHorizonte">petrocálcico</a> o sin
          <a ui-sref="menu.contactoDNsico">contacto dénsico</a>,
          <a ui-sref="menu.contactoLTico">lítico</a> o
          <a ui-sref="menu.contactoParalTico">paralítico</a> en los primeros 150 cm.</li>
        <li>• Horizonte
          <a ui-sref="menu.argLicoHorizonte">argílico</a> muy espeso de color rojizo.</li>

      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/HJJIUZ69QEOAoVGcx3jQ_Paleustalf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="paleustalfes-markdown696" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Ustalf
          <ul>
            <li>Paleustalf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>