<ion-view title="Paleudalfes" id="page419">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <ul>
        <li>• Sin
          <a ui-sref="menu.contactoDNsico">contacto dénsico</a>,
          <a ui-sref="menu.contactoLTico">lítico</a> o
          <a ui-sref="menu.contactoParalTico">paralítico</a> dentro de los primeros 150 cm.</li>
        <li>• El % de arcilla decrece poco en profundidad dentro de los primeros 150 cm.</li>
        <li>• Horizonte
          <a ui-sref="menu.argLicoHorizonte">argílico</a> de color rojizo.</li>
        <li>• Régimen de humedad
          <a ui-sref="menu.frGido">frígido</a>.</li>
        <li>•
          <a ui-sref="menu.textura">Textura</a> más fina que arenosa franco fina en al menos uno de los horizontes superiores.</li>
        <li>• Horizonte
          <a ui-sref="menu.glSsicoHorizonte">glósico</a> o
          <a ui-sref="menu.interdigitacionesDeMatLbicos">interdigitaciones de materiales álbicos</a> dentro del horizonte
          <a ui-sref="menu.argLicoHorizonte">argílico</a>.</li>

      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/jWA6xayTTlOEA6oRflfg_Paleudalf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="paleudalfes-markdown734" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Udalf
          <ul>
            <li>Paleudalf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>