<ion-view title="Paleustoles" id="page363">
  <ion-content padding="true" class="has-header">
    <div>
      <p></p>
      <ul>
        <li>
          • Horizonte
          <a ui-sref="menu.petrocLcicoHorizonte">petrocálcico</a> dentro de los primeros 150 cm.</li> o
        <li>• Horizonte
          <a ui-sref="menu.argLicoHorizonte">argílico</a> muy espeso de color rojizo.</li>
      </ul>
      <p></p>
      <hr>
    </div>
    <div>
      <img src="img/UuBcmUMdSpqL8oi8ZB7h_Paleustol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="paleustoles-markdown629" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Ustol
          <ul>
            <li>Paleustol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>