<ion-view title="Palecrioles" id="page345">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Horizonte
          <a ui-sref="menu.argLicoHorizonte">argílico</a> a los 60 cm o más profundo.</li>
        <li>•
          <a ui-sref="menu.textura">Textura</a> más fina que arenosa franca fina por encima del horizonte
          <a ui-sref="menu.argLicoHorizonte">argílico</a>.</li>
      </ul>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="palecrioles-markdown595" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Criol
          <ul>
            <li>Palecriol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>