<ion-view title="Perúdico" id="page598">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Régimen de humedad similar al
        <a ui-sref="menu.DicoRGimenDeHumedad">údico</a> pero más húmedo.
        <br> Las precipitaciones superan a la evapotranspiración en todos los meses de los años normales.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.permafrost()" id="perDico-button779" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="perDico-button780" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.petrocLcicoHorizonte()" id="perDico-button781" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>