<ion-view title="Pergélico" id="page571">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Régimen de temperatura donde los suelos tienen una temperatura media anual inferior a 0 ºC. Si los suelos son húmedos generalmente presentan
        <a ui-sref="menu.permafrost">permafrost</a>.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.plGenoPlaggenHorizonte()" id="pergLico-button770" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="pergLico-button771" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.permafrost()" id="pergLico-button772" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>