<ion-view title="Permafrost" id="page572">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> El permafrost está definido como una condición térmica en la cual un material (incluyendo material del suelo) se mantiene por debajo de 0 °C por 2 o más años en sucesión.
        <br>El permafrost puede estar cementado por hielo o en el caso de agua intersticial insuficiente, puede estar seco.</p>
    </div>
    <div>
      <img src="img/vYZqmldEQ5ihJrSTLrfi_Permafrost.jpg" style="display: block; width: auto; height: 270px; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.pergLico()" id="permafrost-button776" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="permafrost-button777" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.perDico()" id="permafrost-button778" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>