<ion-view title="Peroxes" id="page159">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Régimen de humedad
          <a ui-sref="menu.perDico">perúdico</a>.
        </li>
        <li>• Precipitaciones siempre exceden la evapotranspiración. </li>
      </ul>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="peroxes-markdown253" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Perox?</p>
    </div>
    <div id="peroxes-button-bar37" class="button-bar">
      <a ui-sref="menu.subRdenesOxisoles()" id="peroxes-button212" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposPeroxes()" id="peroxes-button213" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>