<ion-view title="Petrocálcico (horizonte)" id="page573">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Horizonte
        <a ui-sref="menu.cLcicoHorizonte">cálcico</a>, continuo,
        <a ui-sref="menu.cementaciN">cementado</a> y endurecido. Impenetrable con pala y barreno. No masivo o laminar, muy duro o extremadamente duro en seco y muy firme o extremadamente firme en húmedo.
        <br>Espesor mayor a 10 cm. </p>
    </div>
    <div>
      <img src="img/sejUWzFTeKSoxJ2T5OlT_HorizontePetrocalcico.jpg" style="display: block; width: auto; height: 350px; margin-left: auto; margin-right: auto;">
    </div>
    <p>
      <font size="-2">Fotografía: Alejandro Becerra</font>
    </p>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.perDico()" id="petrocLcicoHorizonte-button785" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="petrocLcicoHorizonte-button786" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.petrogPsicoHorizonte()" id="petrocLcicoHorizonte-button787" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>