<ion-view title="Petrogípsico (horizonte)" id="page574">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Caso especial de horizonte
        <a ui-sref="menu.gypsicoHorizonte">gypsico</a>, bastante
        <a ui-sref="menu.cementaciN">cementado</a> con yeso como para no diluirse con agua y ser impenetrable por las raíces. Por lo general tiene más del 60 % de yeso. Se da en climas áridos sobre materiales ricos en dicho mineral.</p>
    </div>
    <div>
      <img src="img/TPQxnEQtqXcg4SMF8VQZ_HorizontepegipsicoST350px.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <p>
      <font size="-2">Imagen: Soil Survey Staff (NRCS-USDA)</font>
    </p>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.petrocLcicoHorizonte()" id="petrogPsicoHorizonte-button788" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="petrogPsicoHorizonte-button789" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.plCicoHorizonte()" id="petrogPsicoHorizonte-button790" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>