<ion-view title="Petroargides" id="page257">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con
        <a ui-sref="menu.duripN">duripán</a>, horizonte
        <a ui-sref="menu.petrocLcicoHorizonte">petrocálcico</a> o
        <a ui-sref="menu.petrogPsicoHorizonte">petrogípsico</a> dentro de los primeros 150 cm. </p>
      <hr>
    </div>
    <div>
      <img src="img/jZ4XuX4tQtKtvFcImtRg_Petroargid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="petroargides-markdown430" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Argid
          <ul>
            <li>Petroargid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>