<ion-view title="Petrogipsides" id="page252">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con horizonte
        <a ui-sref="menu.petrogPsicoHorizonte">petrogípsico</a> o
        <a ui-sref="menu.petrocLcicoHorizonte">petrocálcico</a> dentro de los primeros 100 cm. </p>
      <hr>
    </div>
    <div>
      <img src="img/ea4gL5SVRiqTIwkK4PlB_Petrogipsid.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="petrogipsides-markdown420" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Aridisol</strong>
      </h5>

      <ul>
        <li>Gipsid
          <ul>
            <li>Petrogipsid</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>