<ion-view title="Placacuodes" id="page88">
  <ion-content padding="true" class="has-header">
    <p>
      Horizonte
      <a ui-sref="menu.plCicoHorizonte">plácico</a> a una profundidad menor a 1 m.
    </p>
    <div id="placacuodes-markdown120" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="placacuodes-markdown121" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Spododol</strong>
      </h5>

      <ul>
        <li>Acuod
          <ul>
            <li>Placacuod</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>