<ion-view title="Plácico (horizonte)" id="page575">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify"> Pan
        <a ui-sref="menu.cementaciN">cementado</a> por hierro, hierro y manganeso o por complejos hierro-materia orgánica, delgado, negro o rojizo oscuro, de 2 a 10 mm de espesor.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.petrogPsicoHorizonte()" id="plCicoHorizonte-button794" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="plCicoHorizonte-button795" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.plintita()" id="plCicoHorizonte-button796" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>