<ion-view title="Plágeno / Plaggen (horizonte)" id="page570">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify">
        El
        <a ui-sref="menu.epipedN">epipedón</a> plaggen es una capa superficial espesa (al menos 50 cm) hecha por el humano que se ha originado por la aplicación prolongada y continua de estiércol.
        <br>Es común que contenga artefactos (pedazos de ladrillo o vasijas) y marcas de pala en todo su espesor. </p>
    </div>
    <div>
      <img src="img/176ah7tTcGHfaJqXwLxw_plaggenST1999.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <small>Imagen: Soil Survey Staff (NRCS-USDA)</small>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.XicoHorizonte()" id="plGenoPlaggenHorizonte-button767" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="plGenoPlaggenHorizonte-button768" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.pergLico()" id="plGenoPlaggenHorizonte-button769" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>