<ion-view title="Plintohumultes" id="page298">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Con al menos un horizonte dentro de los primeros 150 cm en los cuales la
        <a ui-sref="menu.plintita">plintita</a> forma una fase continua o constituye la mitad o más del volumen.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="plintohumultes-markdown510" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Humult
          <ul>
            <li>Plintohumult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>