<ion-view title="Plintacultes" id="page285">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Con al menos un horizonte dentro de los primeros 150 cm en los cuales la
        <a ui-sref="menu.plintita">plintita</a> forma una fase continua o constituye la mitad o más del volumen.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/ZcwFsw8vTaawFZHQ9WIG_Plinthacult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="plintacultes-markdown442" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Acult
          <ul>
            <li>Plintacult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>