<ion-view title="Plintita" id="page576">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Mezcla de arcillas con cuarzo, rica en hierro y pobre en humus. Aparece como motas de color rojo oscuro generalmente en patrones laminares, poligonales y reticulados, mezcladas con motas de cuerpos amarillentos, grisáceos o blancos que se endurece
        irreversiblemente.</p>
    </div>
    <div>
      <img src="img/SVVwFvdRNmVQR2AUwVt4_PlintitaIG300.jpg" style="display: block; width: auto; height: 220px; margin-left: auto; margin-right: auto;">
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.plCicoHorizonte()" id="plintita-button797" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="plintita-button798" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.pSIPorcentajeSodioInterc()" id="plintita-button799" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>