<ion-view title="Plintacuoxes" id="page166">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Con
        <a ui-sref="menu.plintita">plintita</a> formando una fase continua dentro de los primeros 125 cm.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="plintacuoxes-markdown263" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Oxisol</strong>
      </h5>

      <ul>
        <li>Acuox
          <ul>
            <li>Plintacuox</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>