<ion-view title="Psammoturbeles" id="page272">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        • Menos del 35% de fragmentos de roca.
        <br> •
        <a ui-sref="menu.textura">Textura</a> arenosa franca fina o más gruesa en la
        <a ui-sref="menu.secciNDeControlDeTamaODePartCulas">sección de control</a>.
        <br>
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="psammoturbeles-markdown464" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisol</strong>
      </h5>

      <ul>
        <li>Turbel
          <ul>
            <li>Psammoturbel</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>