<ion-view title="Psammentes" id="page498">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        • Menos del 35% de fragmentos de roca.
        <br> •
        <a ui-sref="menu.textura">Textura</a> arenosa franca fina o más gruesa en la
        <a ui-sref="menu.borrar2">sección de control</a>.
        <br> • Sin condiciones ácuicas en los primeros 50 cm.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/2ofmdnZuRqGpHd6AQinr_Cuarsipsamment.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="psammentes-markdown880" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Psamment?</p>
    </div>
    <div id="psammentes-button-bar79" class="button-bar">
      <a ui-sref="menu.subRdenesEntisoles()" id="psammentes-button564" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposPsammentes()" id="psammentes-button565" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>