<ion-view title="PSI (Porcentaje Sodio Interc.)" id="page577">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Cantidad de Sodio adsorbido por las partículas coloidales del suelo, expresado en porcentaje de la
        <a ui-sref="menu.cIC">CIC</a> (capacidad de intercambio catiónico).
        <br>
      </p>
    </div>
    <div>
      <img src="img/qscBL9YRQJa6mplSjcub_PSI.jpg" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.plintita()" id="pSIPorcentajeSodioInterc-button800" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="pSIPorcentajeSodioInterc-button801" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.rasgosRedoximRficos()" id="pSIPorcentajeSodioInterc-button802" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>