<ion-view title="Rasgos redoximórficos" id="page594">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Rasgos morfológicos que se forman en condiciones de
        <a ui-sref="menu.saturaciNAgua">saturación</a> del suelo con agua. En este ambiente anaeróbico el Fe y Mn se reducen y se tornan solubles (y móviles) generando zonas de acumulación o de empobrecimiento redox (estos elementos tienden a migrar desde zonas reductoras a zonas mejor
        aireadas u oxidantes donde tienden a acumularse).
        <br> Concentraciones redox no coherentes (masas o moteados) son comúnmente observadas en suelos mal drenados de la región.
      </p>
    </div>
    <div>
      <img src="img/JWzq1aONSOKnlFthgNWS_MoteadosFe300.jpg" style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
    </div>
    
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.pSIPorcentajeSodioInterc()" id="rasgosRedoximRficos-button806" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="rasgosRedoximRficos-button807" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.regMenesDeHumedadDeSuelo()" id="rasgosRedoximRficos-button808" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>