<ion-view title="Regímenes de temperatura de suelo" id="page632">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>Regímenes de temperatura de suelo</b>
      <br>
      <br> Cada pedón tiene un régimen de temperatura característico que se puede medir y describir. Para la mayoría de los propósitos prácticos, el régimen de temperatura se puede describir por la temperatura media anual del suelo y las fluctuaciones estacionales
      promedio dentro de la zona de la raíz principal (profundidad de 5 a 100 cm).
      <br>
      <br>
      <u>Se reconocen nueve regímenes de temperatura:</u>
      <br> •
      <a ui-sref="menu.crIco">Críico</a>
      <br> •
      <a ui-sref="menu.frGido">Frígido</a>
      <br> •
      <a ui-sref="menu.hipertRmico">Hipertérmico</a>
      <br> •
      <a ui-sref="menu.isofrGido">Isofrígido</a>
      <br> •
      <a ui-sref="menu.isohipertRmico">Isohipertérmico</a>
      <br> •
      <a ui-sref="menu.isomSico">Isomésico</a>
      <br> •
      <a ui-sref="menu.isotRmico">Isotérmico</a>
      <br> •
      <a ui-sref="menu.mSico">Mésico</a>
      <br> •
      <a ui-sref="menu.textura">Térmico</a>
      <br>
    </p>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.regMenesDeHumedadDeSuelo()" id="regMenesDeTemperaturaDeSuelo-button916" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="regMenesDeTemperaturaDeSuelo-button917" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.sLicoHorizonte()" id="regMenesDeTemperaturaDeSuelo-button918" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>