<ion-view title="Regímenes de humedad de suelo" id="page630">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>Regímenes de humedad de suelo</b>
      <br>
      <br> El término "régimen de humedad del suelo" se refiere a la presencia o ausencia de agua subterránea o de agua retenida a una tensión inferior a 1500 kPa en el suelo o en horizontes específicos durante períodos del año.
      <br>El agua mantenida a una tensión de 1500 kPa o más no está disponible para mantener vivas a la mayoría de las plantas mesofíticas.
      <br>
      <br>
      <u>Se reconocen cinco regímenes de humedad:</u>
      <br> •
      <a ui-sref="menu.Cuico"> Ácuico</a>
      <br> •
      <a ui-sref="menu.arDico">Arídico</a> o
      <a ui-sref="menu.tRricoRGimenDeHumedad">tórrico</a>
      <br> •
      <a ui-sref="menu.DicoRGimenDeHumedad">Údico</a>
      <br> •
      <a ui-sref="menu.usticoRGimenDeHumedad">Ústico</a>
      <br> •
      <a ui-sref="menu.xRicoRGimenDeHumedad">Xérico</a>
      <br>

    </p>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.rasgosRedoximRficos()" id="regMenesDeHumedadDeSuelo-button913" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Prev.</a>
      <a ui-sref="menu.glosario()" id="regMenesDeHumedadDeSuelo-button914" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.regMenesDeTemperaturaDeSuelo()" id="regMenesDeHumedadDeSuelo-button915" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Next&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>