<ion-view title="Rendoles" id="page339">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Horizonte
          <a ui-sref="menu.mLicoHorizonte">mólico</a> de menos de 50 cm de espesor. </li>
        <li>• Sin horizonte
          <a ui-sref="menu.argLicoHorizonte">argílico</a> ni
          <a ui-sref="menu.cLcicoHorizonte">cálcico</a>.</li>
        <li>•
          <a ui-sref="menu.caCO3Equivalente">CaCO
            <sub>3</sub> equivalente</a> de 40% o más.</li>
        <li>• Régimen de humedad
          <a ui-sref="menu.DicoRGimenDeHumedad">údico</a> y/o régimen de temperatura
          <a ui-sref="menu.crIco">críico</a>.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/InOAoKSWqaUFlysjN6EA_Rendol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="rendoles-markdown584" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Rendol?</p>
    </div>
    <div id="rendoles-button-bar60" class="button-bar">
      <a ui-sref="menu.subRdenesMolisoles()" id="rendoles-button391" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposRendoles()" id="rendoles-button392" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>