<ion-view title="Rhodustultes" id="page313">
  <ion-content padding="true" class="has-header">
    <p align="justify">Colores muy rojizos (
      <a ui-sref="menu.hue">Hue</a> de 2,5YR o más rojizo).
    </p>
    <div id="rhodustultes-markdown537" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="rhodustultes-markdown538" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Ustult
          <ul>
            <li>Rhodustult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>