<ion-view title="Rhodudultes" id="page309">
  <ion-content padding="true" class="has-header">
    <p align="justify">Colores muy rojizos (
      <a ui-sref="menu.hue">Hue</a> de 2,5YR o más rojizo).
    </p>
    <div id="rhodudultes-markdown530" class="show-list-numbers-and-dots">
      <hr>
    </div>
    <div>
      <img src="img/IGCpUFjFS52zH7Srwgfi_Rhodudult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="rhodudultes-markdown531" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Udult
          <ul>
            <li>Rhodudult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>