<ion-view title="Rodoxeralfes" id="page408">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Muy rojizos en los 100 cm superiores del horizonte
        <a ui-sref="menu.argLicoHorizonte">argílico</a> o
        <a ui-sref="menu.kNdicoHorizonte">kándico</a> (
        <a ui-sref="menu.hue">Hue</a> de 2,5YR o más rojizo).
      </p>
      <hr>
    </div>
    <div>
      <img src="img/rKDqlFUeQCqKve3b6TQg_Rodoxeralf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p>
      <small>Imagen: Jorge Mataix-Solera</small>
    </p>
    <div id="rodoxeralfes-markdown713" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Xeralf
          <ul>
            <li>Rodoxeralf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>