<ion-view title="Rodudalfes" id="page420">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Muy rojizos en los 100 cm superiores del horizonte
        <a ui-sref="menu.argLicoHorizonte">argílico</a> (
        <a ui-sref="menu.hue">Hue</a> de 2,5YR o más rojizo).
      </p>
      <hr>
    </div>
    <div>
      <img src="img/oY874t8SO222vn9iyeTg_Rodudalf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="rodudalfes-markdown736" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Udalf
          <ul>
            <li>Rodudalf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>