<ion-view title="Rodustalfes" id="page400">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">
        Muy rojizos en los primeros 100 cm (
        <a ui-sref="menu.hue">Hue</a> de 2,5YR o más rojizo).
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="rodustalfes-markdown698" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Ustalf
          <ul>
            <li>Rodustalf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>