<ion-view title="Salitorrertes" id="page215">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Horizonte
        <a ui-sref="menu.sLicoHorizonte">sálico</a> dentro de los primeros 100 cm. </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="salitorrertes-markdown354" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Vertisol</strong>
      </h5>

      <ul>
        <li>Torrert
          <ul>
            <li>Salitorrert</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>