<ion-view title="Sapristes" id="page48">
  <ion-content padding="true" class="has-header">
    <div id="sapristes-markdown49" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Materia orgánica muy descompuesta.</p>

      <hr>
    </div>
    <div>
      <img src="img/cmZLcNZfRwTmtbui51Gz_Haplosaprist.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="sapristes-markdown50" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Saprist?</p>
    </div>
    <div id="sapristes-button-bar19" class="button-bar">
      <a ui-sref="menu.subRdenesHistosoles()" id="sapristes-button79" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposSapristes()" id="sapristes-button80" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>