<ion-view title="Sapristeles" id="page13">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Otros Histeles.</li>
        <li>• Compuestos predominantemente por
          <a ui-sref="menu.sPricosMateriales">materiales sápricos</a> hasta una profundidad de 50 cm o más.</li>
      </ul>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="sapristeles-markdown23" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Gelisol</strong>
      </h5>

      <ul>
        <li>Histel
          <ul>
            <li>Sapristel</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>