<ion-view title="Saturación con bases" id="page597">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> En el suelo se encuentran los cationes ácidos (H y Al) y los cationes básicos (Ca, Mg, K y Na). El porcentaje de saturación con bases es la fracción de los sitios de intercambio de los coloides del suelo ocupados por cationes básicos.
        <br> Es decir:
        <br> Sat. Bases (%) = Suma de Bases /
        <a ui-sref="menu.cIC">CIC</a> * 100</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.saturaciNAgua()" id="saturaciNConBases-button818" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="saturaciNConBases-button819" style="font-weight:lighter;" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.secciNDeControlDeHumedad()" id="saturaciNConBases-button820" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>