<ion-view title="Saturación (agua)" id="page643">
  <ion-content padding="true" class="has-header">
    <p>
      En el suelo, el estado de saturación con agua es cuando todo el volumen de poros está ocupado por agua.
    </p>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.sPricosMateriales()" id="saturaciNAgua-button885" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="saturaciNAgua-button886" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.saturaciNConBases()" id="saturaciNAgua-button887" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>