<ion-view title="Sección de Control de Humedad" id="page579">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Se utiliza para caracterizar el régimen de humedad del suelo. Es la zona del perfil, donde debe medirse la humedad.
        <br> Tiene como límite superior el definido por la profundidad a la que llega el frente de humectación después de 24 horas de añadir 25 mm de agua, en estado seco y el inferior, después de 48 horas de añadir 75 mm. </p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.saturaciNConBases()" id="secciNDeControlDeHumedad-button824" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="secciNDeControlDeHumedad-button825" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.secciNDeControlDeTamaODePartCulas()" id="secciNDeControlDeHumedad-button826" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>