<ion-view title="Sección de Control de Tamaño de partículas" id="page644">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      La sección de control es la sección vertical que se encuentra a una distancia determinada por debajo de la superficie o del suelo mineral o del límite superior de un horizonte específico.
      <br> En el caso de los Entisoles esta sección comprende desde el límite inferior del horizonte Ap o 25 cm de profundidad (lo que sea más profundo) hasta los 100 cm desde la superficie del suelo mineral (o hasta una capa limitante para las raíces).
    </p>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.secciNDeControlDeHumedad()" id="secciNDeControlDeTamaODePartCulas-button888" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="secciNDeControlDeTamaODePartCulas-button889" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.silicatos()" id="secciNDeControlDeTamaODePartCulas-button890" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>