<ion-view title="Silicatos" id="page645">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      Minerales compuestos por silicio y oxígeno. Estos elemento pueden estar acompañados de aluminio, hierro, magnesio, calcio entre otros.
      <br> Arcillas, micas y feldespatos tienen en su estructura básica al tetraedro de silicio-oxígeno.
    </p>
    <div>
      <img src="img/Tetraedro_SiO4.png" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.secciNDeControlDeTamaODePartCulas()" id="silicatos-button891" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="silicatos-button892" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.slickensides()" id="silicatos-button893" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>