<ion-view title="Slickensides" id="page580">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Superficies lustrosas y con aspecto acanalado producidas por el deslizamiento de una masa arcillosa sobre otra especialmente en una superficie inclinada (agregados
        <a ui-sref="menu.cuneiforme">cuneiformes</a> de los suelos arcillosos sometidos a marcados cambios en el contenido de humedad). También se llaman caras de fricción o de deslizamiento.</p>
    </div>
    <div>
      <img src="img/HxViC5OQBKYbQYZtBarJ_SlickensidesIG300.jpg" style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.silicatos()" id="slickensides-button827" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="slickensides-button828" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.sMbricoHorizonte()" id="slickensides-button829" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>