<ion-view title="Sálico (horizonte)" id="page578">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Horizonte de acumulación de sales más solubles que el yeso (en agua fría).
        <br> Debe tener 15 cm o más de espesor y por 90 días consecutivos o más en años normales:
        <br> 1 - Una
        <a ui-sref="menu.conductividadElCtrica">conductividad eléctrica</a> (CE) igual o mayor de 30 dS/m en el extracto de saturación.
        <br> 2 - Un producto de la CE (en dS/m), por el espesor (en cm) mayor o igual a 900. </p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.regMenesDeTemperaturaDeSuelo()" id="sLicoHorizonte-button809" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="sLicoHorizonte-button810" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.sPricosMateriales()" id="sLicoHorizonte-button811" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>