<ion-view title="Sómbrico (horizonte)" id="page581">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Horizonte subsuperficial formado por humus
        <a ui-sref="menu.iluviaciNIluvial">iluvial</a> (no asociado al Al como en los horizontes
        <a ui-sref="menu.spDicoHorizonte">spódicos</a> ni al Na como en los horizontes
        <a ui-sref="menu.nTricoHorizonte">nátricos</a>).
        <br> Típico de zonas frías con altas precipitaciones, color oscuro y pH bajos.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.slickensides()" id="sMbricoHorizonte-button830" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="sMbricoHorizonte-button831" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.sphagnum()" id="sMbricoHorizonte-button832" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>