<ion-view title="Sombrihumultes" id="page297">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <p>Con horizonte
        <a ui-sref="menu.sMbricoHorizonte">sómbrico</a> dentro de los primeros 100 cm. </p>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/lStecn8SnaZDHBCy6OZh_Sombrihumult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="sombrihumultes-markdown508" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Humult
          <ul>
            <li>Sombrihumult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>