<ion-view title="Spódico (horizonte)" id="page583">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Horizonte subsuperficial que se encuentra debajo de un horizonte O, A o un E, con una acumulación
        <a ui-sref="menu.iluviaciNIluvial">iluvial</a> de materiales amorfos (no cristalinos) que consisten en materia orgánica en complejo con aluminio y también comúnmente con hierro.
        <br> Presentan una alta
        <a ui-sref="menu.cIC">CIC</a>, gran superficie específica, alta retención de agua, color rojizo, pH bajo y alto contenido de carbono orgánico. </p>
    </div>
    <div>
      <img src="img/VzWoo9OBQWeQzFbqzViE_SpdicoIG300.jpg" style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.sphagnum()" id="spDicoHorizonte-button842" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="spDicoHorizonte-button843" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.spDicosMateriales()" id="spDicoHorizonte-button844" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>