<ion-view title="Spódicos (materiales)" id="page584">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Los materiales espódicos se forman en un horizonte iluvial que normalmente subyace a un epipedón
        <a ui-sref="menu.hSticoHorizonte">hístico</a>,
        <a ui-sref="menu.CricoHorizonte">ócrico</a> o
        <a ui-sref="menu.MbricoHorizonte">úmbrico</a> o un horizonte
        <a ui-sref="menu.Lbico"> álbico</a>.
        <br> Son materiales amorfos iluviales y están compuestos por materia orgánica y aluminio, con o sin hierro. Son de colores rojizos y pH &lt; 5,9.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.spDicoHorizonte()" id="spDicosMateriales-button845" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="spDicosMateriales-button846" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.sulfDicosMateriales()" id="spDicosMateriales-button847" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>