<ion-view title="Sphagnofibristes" id="page63">
  <ion-content padding="true" class="has-header">
    <p>
      Fibras de
      <a ui-sref="menu.sphagnum">Sphagnum</a> en 3/4 partes del volumen en los primeros 90 cm (o por encima de un
      <a ui-sref="menu.contactoDNsico">contacto dénsico</a>,
      <a ui-sref="menu.contactoLTico">lítico</a> o
      <a ui-sref="menu.contactoParalTico">paralítico</a> si ocurre antes).
    </p>
    <div>
      <img src="img/ZphPCfIITuGsRNZqETX9_Sphagnofibrist.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="sphagnofibristes-markdown75" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Fibrist
          <ul>
            <li>Sphagnofibrist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>