<ion-view title="Sphagnum" id="page582">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Género de musgos presentes en las turberas. </p>
    </div>
    <div>
      <img src="img/iqTM35jvTqu1fbJqg7AE_Sphagnum_subsecundum_a_141243-472436_5995.JPG" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.sMbricoHorizonte()" id="sphagnum-button836" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="sphagnum-button837" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.spDicoHorizonte()" id="sphagnum-button838" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>