<ion-view title="Spodosoles" id="page32">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        • Suelos con horizonte
        <a ui-sref="menu.spDicoHorizonte">spódico</a>.
        <br> • No tienen horizonte
        <a ui-sref="menu.plGenoPlaggenHorizonte">plágeno</a>,
        <a ui-sref="menu.argLicoHorizonte">argílico</a> ni
        <a ui-sref="menu.kNdicoHorizonte">kándico</a> por encima del horizonte
        <a ui-sref="menu.spDicoHorizonte">spódico</a>.
      </p>
      <hr>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="spodosoles-slider3" style="width:100%;height:300px;">
      <ion-slide-page id="spodosoles-slide27">
        <div>
          <img src="img/Lu1NNEmSfy8AG9n7mDsQ_Haplohumod.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="spodosoles-slide28" style="background:url(&quot;img/JU5qoF0S1KE5wU4yoehg_Spodosoles_cr300centro.jpg&quot;) no-repeat center;background-size:cover;">
        <p align="center">
          Distribución mundial de los Spodosoles
        </p>
      </ion-slide-page>
      <ion-slide-page id="spodosoles-slide243">
        <p align="center">Distribución de los Spodosoles en Argentina
          <img src="img/5deGRAZ6QiyCDDHjZXGO_Spodosoles2y3.jpeg" style="max-width: 200px; max-height: 250px" alt="Distribución de los Spodosoles en Argentina">
          <br>
          <font color="purple"> • Secundarios </font>&nbsp; &nbsp;
          <font color="orange">• Terciarios </font>
        </p>
      </ion-slide-page>
    </ion-slides>
    <div id="spodosoles-markdown26" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">¿El suelo es un Spodosol?</p>
    </div>
    <div id="spodosoles-button-bar6" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="spodosoles-button18" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesSpodosoles()" id="spodosoles-button26" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Sí</a>
    </div>
  </ion-content>
</ion-view>