<ion-view title="Sápricos (materiales)" id="page603">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      <b>Materiales sápricos</b>
      <br> Material orgánico altamente descompuesto. Tienen pocas fibras (menos de 1/3 en volumen) que puede identificarse su origen biológico. Después de frotar con los dedos menos de 1/6 del volumen corresponde a fibras intactas.
      <br> Tienen una densidad aparente mayor a la de los materiales <a ui-sref="menu.fBricosMateriales">fíbricos</a> y <a ui-sref="menu.hMicoMaterial">hémicos</a> y retienen menos agua cuando están
      <a ui-sref="menu.saturaciNAgua">saturados</a>. </p>
    <div>
      <img src="img/5vDCTELxSIWAHpx6TgJ6_MaterialfibricohemicoysapricoIGmod.jpg" style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.sLicoHorizonte()" id="sPricosMateriales-button815" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="sPricosMateriales-button816" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.saturaciNAgua()" id="sPricosMateriales-button817" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>