<ion-view title="Subórdenes Molisoles" id="page334">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.alboles()" id="subRdenesMolisoles-button377" class="button button-balanced button-block">Albol</a>
    <a ui-sref="menu.acuoles()" id="subRdenesMolisoles-button378" class="button button-balanced button-block">Acuol</a>
    <a ui-sref="menu.rendoles()" id="subRdenesMolisoles-button379" class="button button-balanced button-block">Rendol</a>
    <a ui-sref="menu.geloles()" id="subRdenesMolisoles-button380" class="button button-balanced button-block">Gelol</a>
    <a ui-sref="menu.crioles()" id="subRdenesMolisoles-button381" class="button button-balanced button-block">Criol</a>
    <a ui-sref="menu.xeroles()" id="subRdenesMolisoles-button427" class="button button-balanced button-block">Xerol</a>
    <a ui-sref="menu.ustoles()" id="subRdenesMolisoles-button428" class="button button-balanced button-block">Ustol</a>
    <a ui-sref="menu.udoles()" id="subRdenesMolisoles-button429" class="button button-balanced button-block">Udol</a>
    <div id="subRdenesMolisoles-markdown575" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Molisol</strong>
      </h4>

      <ul>
        <li>Albol</li>
        <li>Acuol</li>
        <li>Rendol</li>
        <li>Gelol</li>
        <li>Criol</li>
        <li>Xerol</li>
        <li>Ustol</li>
        <li>Udol</li>
      </ul>
    </div>
  </ion-content>
</ion-view>