<ion-view title="Subórdenes Spodosoles" id="page65">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acuodes()" id="subRdenesSpodosoles-button106" class="button button-balanced button-block">Acuod</a>
    <a ui-sref="menu.gelodes()" id="subRdenesSpodosoles-button107" class="button button-balanced button-block">Gelod</a>
    <a ui-sref="menu.criodes()" id="subRdenesSpodosoles-button108" class="button button-balanced button-block">Criod</a>
    <a ui-sref="menu.humodes()" id="subRdenesSpodosoles-button109" class="button button-balanced button-block">Humod</a>
    <a ui-sref="menu.orthodes()" id="subRdenesSpodosoles-button110" class="button button-balanced button-block">Orthod</a>
    <div id="subRdenesSpodosoles-markdown98" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Histosol</strong>
      </h4>

      <ul>
        <li>Acuod</li>
        <li>Gelod</li>
        <li>Criod</li>
        <li>Humod</li>
        <li>Orthod</li>
      </ul>
    </div>
  </ion-content>
</ion-view>