<ion-view title="Subórdenes Entisoles" id="page472">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.wassentes()" id="subRdenesEntisoles-button539" class="button button-balanced button-block">Wassent</a>
    <a ui-sref="menu.acuentes()" id="subRdenesEntisoles-button540" class="button button-balanced button-block">Acuent</a>
    <a ui-sref="menu.psammentes()" id="subRdenesEntisoles-button541" class="button button-balanced button-block">Psamment</a>
    <a ui-sref="menu.fluventes()" id="subRdenesEntisoles-button542" class="button button-balanced button-block">Fluvent</a>
    <a ui-sref="menu.ortentes()" id="subRdenesEntisoles-button543" class="button button-balanced button-block">Ortent</a>
    <div id="subRdenesEntisoles-markdown831" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Entisol</strong>
      </h4>

      <ul>
        <li>Wassent</li>
        <li>Acuent</li>
        <li>Psamment</li>
        <li>Fluvent</li>
        <li>Ortent</li>
      </ul>
    </div>
  </ion-content>
</ion-view>