<ion-view title="Subórdenes Andisoles" id="page107">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acuandes()" id="subRdenesAndisoles-button143" class="button button-balanced button-block">Acuand</a>
    <a ui-sref="menu.gelandes()" id="subRdenesAndisoles-button144" class="button button-balanced button-block">Geland</a>
    <a ui-sref="menu.criandes()" id="subRdenesAndisoles-button145" class="button button-balanced button-block">Criand</a>
    <a ui-sref="menu.torrandes()" id="subRdenesAndisoles-button146" class="button button-balanced button-block">Torrand</a>
    <a ui-sref="menu.xerandes()" id="subRdenesAndisoles-button147" class="button button-balanced button-block">Xerand</a>
    <a ui-sref="menu.vitrandes()" id="subRdenesAndisoles-button148" class="button button-balanced button-block">Vitrand</a>
    <a ui-sref="menu.ustandes()" id="subRdenesAndisoles-button149" class="button button-balanced button-block">Ustand</a>
    <a ui-sref="menu.udandes()" id="subRdenesAndisoles-button150" class="button button-balanced button-block">Udand</a>
    <div id="subRdenesAndisoles-markdown158" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Andisol</strong>
      </h4>

      <ul>
        <li>Acuand</li>
        <li>Geland</li>
        <li>Criand</li>
        <li>Torrand</li>
        <li>Xerand</li>
        <li>Vitrand</li>
        <li>Ustand</li>
        <li>Udand</li>
      </ul>
    </div>
  </ion-content>
</ion-view>