<ion-view title="Subórdenes Gelisoles" id="page30">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.histeles()" id="subRdenesGelisoles-button24" class="button button-balanced button-block">Histel</a>
    <a ui-sref="menu.turbeles()" id="subRdenesGelisoles-button25" class="button button-balanced button-block">Turbel</a>
    <a ui-sref="menu.orteles()" id="subRdenesGelisoles-button22" class="button button-balanced button-block">Ortel</a>
    <div id="subRdenesGelisoles-markdown15" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Gelisol</strong>
      </h4>

      <ul>
        <li>Histel</li>
        <li>Turbel</li>
        <li>Ortel</li>
      </ul>
    </div>
  </ion-content>
</ion-view>