<ion-view title="Subórdenes Oxisoles" id="page155">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acuoxes()" id="subRdenesOxisoles-button174" class="button button-balanced button-block">Acuox</a>
    <a ui-sref="menu.torroxes()" id="subRdenesOxisoles-button177" class="button button-balanced button-block">Torrox</a>
    <a ui-sref="menu.ustoxes()" id="subRdenesOxisoles-button178" class="button button-balanced button-block">Ustox</a>
    <a ui-sref="menu.peroxes()" id="subRdenesOxisoles-button179" class="button button-balanced button-block">Perox</a>
    <a ui-sref="menu.udoxes()" id="subRdenesOxisoles-button180" class="button button-balanced button-block">Udox</a>
    <div id="subRdenesOxisoles-markdown245" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Oxisol</strong>
      </h4>

      <ul>
        <li>Acuox</li>
        <li>Torrox</li>
        <li>Ustox</li>
        <li>Perox</li>
        <li>Udox</li>
      </ul>
    </div>
  </ion-content>
</ion-view>