<ion-view title="Subórdenes Histosoles" id="page44">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.folistes()" id="subRdenesHistosoles-button68" class="button button-balanced button-block">Folist</a>
    <a ui-sref="menu.wassistes()" id="subRdenesHistosoles-button72" class="button button-balanced button-block">Wassist</a>
    <a ui-sref="menu.fibristes()" id="subRdenesHistosoles-button69" class="button button-balanced button-block">Fibrist</a>
    <a ui-sref="menu.sapristes()" id="subRdenesHistosoles-button70" class="button button-balanced button-block">Saprist</a>
    <a ui-sref="menu.hemistes()" id="subRdenesHistosoles-button71" class="button button-balanced button-block">Hemist</a>
    <div id="subRdenesHistosoles-markdown42" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Histosol</strong>
      </h4>

      <ul>
        <li>Folist</li>
        <li>Wassist</li>
        <li>Fibrist</li>
        <li>Saprist</li>
        <li>Hemist</li>
      </ul>
    </div>
  </ion-content>
</ion-view>