<ion-view title="Subórdenes Aridisoles" id="page226">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.criides()" id="subRdenesAridisoles-button261" class="button button-balanced button-block">Criid</a>
    <a ui-sref="menu.salides()" id="subRdenesAridisoles-button262" class="button button-balanced button-block">Salid</a>
    <a ui-sref="menu.durides()" id="subRdenesAridisoles-button263" class="button button-balanced button-block">Durid</a>
    <a ui-sref="menu.gipsides()" id="subRdenesAridisoles-button264" class="button button-balanced button-block">Gipsid</a>
    <a ui-sref="menu.argides()" id="subRdenesAridisoles-button265" class="button button-balanced button-block">Argid</a>
    <a ui-sref="menu.calcides()" id="subRdenesAridisoles-button266" class="button button-balanced button-block">Calcid</a>
    <a ui-sref="menu.cambides()" id="subRdenesAridisoles-button280" class="button button-balanced button-block">Cambid</a>
    <div id="subRdenesAridisoles-markdown375" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Aridisol</strong>
      </h4>

      <ul>
        <li>Criid</li>
        <li>Salid</li>
        <li>Durid</li>
        <li>Gipsid</li>
        <li>Argid</li>
        <li>Calcid</li>
        <li>Cambid</li>
      </ul>
    </div>
  </ion-content>
</ion-view>