<ion-view title="Subórdenes Alfisoles" id="page388">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acualfes()" id="subRdenesAlfisoles-button438" class="button button-balanced button-block">Acualf</a>
    <a ui-sref="menu.crialfes()" id="subRdenesAlfisoles-button439" class="button button-balanced button-block">Crialf</a>
    <a ui-sref="menu.ustalfes()" id="subRdenesAlfisoles-button440" class="button button-balanced button-block">Ustalf</a>
    <a ui-sref="menu.xeralfes()" id="subRdenesAlfisoles-button441" class="button button-balanced button-block">Xeralf</a>
    <a ui-sref="menu.udalfes()" id="subRdenesAlfisoles-button442" class="button button-balanced button-block">Udalf</a>
    <div id="subRdenesAlfisoles-markdown675" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Alfisol</strong>
      </h4>

      <ul>
        <li>Acualf</li>
        <li>Crialf</li>
        <li>Ustalf</li>
        <li>Xeralf</li>
        <li>Udalf</li>
      </ul>
    </div>
  </ion-content>
</ion-view>