<ion-view title="Subórdenes Inceptisoles" id="page435">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acueptes()" id="subRdenesInceptisoles-button443" class="button button-balanced button-block">Acuept</a>
    <a ui-sref="menu.geleptes()" id="subRdenesInceptisoles-button444" class="button button-balanced button-block">Gelept</a>
    <a ui-sref="menu.crieptes()" id="subRdenesInceptisoles-button445" class="button button-balanced button-block">Criept</a>
    <a ui-sref="menu.usteptes()" id="subRdenesInceptisoles-button455" class="button button-balanced button-block">Ustept</a>
    <a ui-sref="menu.xereptes()" id="subRdenesInceptisoles-button473" class="button button-balanced button-block">Xerept</a>
    <a ui-sref="menu.udeptes()" id="subRdenesInceptisoles-button538" class="button button-balanced button-block">Udept</a>
    <div id="subRdenesInceptisoles-markdown764" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Inceptisol</strong>
      </h4>

      <ul>
        <li>Acuept</li>
        <li>Gelept</li>
        <li>Criept</li>
        <li>Ustept</li>
        <li>Xerept</li>
        <li>Udept</li>
      </ul>
    </div>
  </ion-content>
</ion-view>