<ion-view title="Subórdenes Vertisoles" id="page189">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.acuertes()" id="subRdenesVertisoles-button233" class="button button-balanced button-block">Acuert</a>
    <a ui-sref="menu.criertes()" id="subRdenesVertisoles-button234" class="button button-balanced button-block">Criert</a>
    <a ui-sref="menu.xerertes()" id="subRdenesVertisoles-button235" class="button button-balanced button-block">Xerert</a>
    <a ui-sref="menu.torrertes()" id="subRdenesVertisoles-button236" class="button button-balanced button-block">Torrert</a>
    <a ui-sref="menu.ustertes()" id="subRdenesVertisoles-button237" class="button button-balanced button-block">Ustert</a>
    <a ui-sref="menu.udertes()" id="subRdenesVertisoles-button238" class="button button-balanced button-block">Udert</a>
    <div id="subRdenesVertisoles-markdown308" class="show-list-numbers-and-dots">
      <hr>

      <h4>
        <strong>Vertisol</strong>
      </h4>

      <ul>
        <li>Acuert</li>
        <li>Criert</li>
        <li>Xerert</li>
        <li>Torrert</li>
        <li>Ustert</li>
        <li>Udert</li>
      </ul>
    </div>
  </ion-content>
</ion-view>