<ion-view title="Sulfúrico (horizonte)" id="page586">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Compuesto por material de suelo orgánico o mineral que tiene un pH &lt; 3,5 y moteados de Jarosita (sulfato de hierro y potasio hidratado), con un
        <a ui-sref="menu.hue">hue</a> 2,5 o más amarillo y
        <a ui-sref="menu.cromaChroma">chroma</a> de 6 o más.
        <br>Se forma por oxidación de materiales ricos en sulfuros o materiales orgánicos. Es altamente tóxico para las plantas y prácticamente libre de raíces vivas.
        <br> Es un
        <a ui-sref="menu.horizontesYCaracterSticasDeDiagnStico">horizonte de diagnóstico</a> tanto para los suelos minerales como los orgánicos.</p>
    </div>
    <div>
      <img src="img/TwHLrMTNC65taQkWvibA_JarositaIG300.jpg" style="display: block; width: auto; height: 250px; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.sulfDicosMateriales()" id="sulfRicoHorizonte-button773" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="sulfRicoHorizonte-button774" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.tRmicoRGimenDeTemperatura()" id="sulfRicoHorizonte-button775" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>