<ion-view title="Sulfiwassentes" id="page475">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con
        <a ui-sref="menu.sulfDicosMateriales">materiales sulfídicos</a> en al menos 15 de los primeros 50 cm.</p>
      <hr>
    </div>
    <div>
      <img src="img/TJ6mdAET5WuNGwvACUtK_Sulfiwassent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="sulfiwassentes-markdown837" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Wassent
          <ul>
            <li>Sulfiwassent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>