<ion-view title="Sulfídicos (materiales)" id="page585">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Los materiales sulfídicos contienen compuestos de azufre oxidables (S elemental o más comúnmente materiales sulfídicos, como pirita o como el monosúlfido de hierro).
        <br> Son materiales orgánicos o minerales de suelo con un valor de pH &gt; 3,5 y que se vuelven significativamente más ácidos cuando se oxidan.
      </p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.spDicosMateriales()" id="sulfDicosMateriales-button755" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="sulfDicosMateriales-button756" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.sulfRicoHorizonte()" id="sulfDicosMateriales-button757" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>