<ion-view title="Sulfihemistes" id="page71">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Con
        <a ui-sref="menu.sulfDicosMateriales">materiales sulfídicos</a> en los primeros 100 cm.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/RKWRyko5SZORfXhD5cz9_Sulfihemist.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="sulfihemistes-markdown91" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Hemist
          <ul>
            <li>Sulfihemist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>