<ion-view title="Sulfosapristes" id="page67">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Con horizonte
        <a ui-sref="menu.sulfRicoHorizonte">sulfúrico</a> cuyo límite superior está dentro de los primeros 50 cm de profundidad.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="sulfosapristes-markdown83" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Saprist
          <ul>
            <li>Sulfosaprist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>