<ion-view title="Textura" id="page622">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      Propiedad física de los suelos definida por la proporción de partículas de diferentes tamaños (arenas, limos y arcillas) que los conforman.
      <br> Se pueden diferenciar 12
      <b>clases texturales</b>: arcillosa, arcillo limosa, franco arcillo limosa, franco arcillosa, arcillo arenosa, franca, franca limosa, limosa, franca arenosa, franca arcillo arenosa, arenosa franca y arenosa.
      <br>La clase
      <b>arenosa franca fina</b> utilizada en la clasificación corresponde a una textura que cumple las condiciones de arenosa franca y además tiene 50% o más de arena fina o la suma de arena muy gruesa, gruesa y media es menor de 25 % y tiene menos del
      50% de arena muy fina.
    </p>
    <div>
      <img src="img/A529nA7ASYG3ojiWCHmF_TrianguloTextural.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p align="justify">
      Las partículas se clasifican según su tamaño en: arcillas (&lt;0,002 mm), limo (0,002 a 0,05 mm) y arena (0,05 a 2 mm).
      <br> A su vez las arcillas pueden subdividirse en arcillas finas (&lt;0,0002 mm) y gruesas (0,0002 mm a 0,002 mm). El limo se subdivide en limo fino (0,002 a 0,02 mm) y grueso (0,02 a 0,05 mm). Las arenas pueden clasificarse como muy finas (0,05 a 0,1
      mm), finas (0,1 a 0,25 mm), medias (0,25 a 0,5 mm), gruesas (0,5 a 1 mm) y muy gruesas (1 a 2 mm).
    </p>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	<a ui-sref="menu.tRmicoRGimenDeTemperatura()" id="textura-button823" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="textura-button848" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.till()" id="textura-button849" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>