<ion-view title="Till" id="page647">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      Sedimentos de origen glacial compuestos de una mezcla heterogénea y no consolidada de arcilla, arena, guijarros y cantos rodados que no muestra estratificación.
      <br> Los fragmentos de roca suelen ser angulares y afilados en lugar de redondeados, porque se depositan en el hielo y se han sometido a poco transporte de agua.
    </p>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.textura()" id="till-button897" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="till-button898" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.tRricoRGimenDeHumedad()" id="till-button899" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>