<ion-view title="Torripsammentes" id="page492">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Régimen de humedad
        <a ui-sref="menu.arDico">arídico</a> o
        <a ui-sref="menu.tRricoRGimenDeHumedad">tórrico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/Blpz4rD5Sg26vQ419IRX_Torripsamment.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="torripsammentes-markdown869" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Psamment
          <ul>
            <li>Torripsamment</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>