<ion-view title="Torroxes" id="page157">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <ul>
        <li>• Régimen de humedad
          <a ui-sref="menu.arDico">arídico</a>.
        </li>
        <li>• Climas áridos. </li>
      </ul>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/fl0xdmM2Tcq6GTFUJu3v_Haplotorrox.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="torroxes-markdown249" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Torrox?</p>
    </div>
    <div id="torroxes-button-bar35" class="button-bar">
      <a ui-sref="menu.subRdenesOxisoles()" id="torroxes-button195" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposTorroxes()" id="torroxes-button197" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>