<ion-view title="Torrifluventes" id="page503">
  <ion-content padding="true" class="has-header">
    <div>
      <p> Régimen de humedad
        <a ui-sref="menu.tRricoRGimenDeHumedad">tórrico</a> o
        <a ui-sref="menu.arDico">arídico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/DfU1yo9hTBwoHcqzl5uW_Torrifluvent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="torrifluventes-markdown890" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Fluvent
          <ul>
            <li>Torrifluvent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>