<ion-view title="Torrertes" id="page193">
  <ion-content padding="true" class="has-header">
    <div id="torrertes-markdown315" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Vertisoles de climas áridos.</p>

      <hr>
    </div>
    <div>
      <img src="img/a2esBgGTHuN8VWzCkKja_Haplotorrert.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="torrertes-markdown316" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Torrert?</p>
    </div>
    <div id="torrertes-button-bar44" class="button-bar">
      <a ui-sref="menu.subRdenesVertisoles()" id="torrertes-button245" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposTorrertes()" id="torrertes-button246" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>