<ion-view title="Torrifolistes" id="page56">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de humedad
        <a ui-sref="menu.arDico">arídico</a> o
        <a ui-sref="menu.tRricoRGimenDeHumedad">tórrico</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/8N3wOZjxRXC2irXZv9bh_Torrifolist.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="torrifolistes-markdown61" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Histosol</strong>
      </h5>

      <ul>
        <li>Folist
          <ul>
            <li>Torrifolist</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>