<ion-view title="Térmico (régimen de temperatura)" id="page587">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> La temperatura media anual del suelo es igual o mayor de 15 °C pero menor de 22 °C y la diferencia entre la temperatura media del suelo en verano y en invierno es de 6 °C o más, ya sea a 50 cm de profundidad debajo de la superficie del suelo o a
        un
        <a ui-sref="menu.contactoDNsico">contacto dénsico</a>,
        <a ui-sref="menu.contactoLTico">lítico</a> o
        <a ui-sref="menu.contactoParalTico">paralítico</a>, lo que sea superficial.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.sulfRicoHorizonte()" id="tRmicoRGimenDeTemperatura-button782" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="tRmicoRGimenDeTemperatura-button783" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.textura()" id="tRmicoRGimenDeTemperatura-button784" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>