<ion-view title="Tórrico (régimen de humedad)" id="page588">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify" style="font-style:italic";> (Del latín
        'torridus': cálido y seco).</p> <p align="justify"> Régimen de humedad igual que
        <a ui-sref="menu.arDico">arídico</a> .
        <br> La
        <a ui-sref="menu.secciNDeControlDeHumedad">sección de control</a> se encuentra seca por más de la mitad del tiempo en que la temperatura del suelo es mayor a 5ºC y nunca está húmeda por 90 días acumulativos cuando la temperatura del suelo es mayor a 8ºC. </p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.till()" id="tRricoRGimenDeHumedad-button803" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="tRricoRGimenDeHumedad-button804" style="font-weight:lighter;" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.DicoRGimenDeHumedad()" id="tRricoRGimenDeHumedad-button805" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>