<ion-view title="Turbeles" id="page187">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Horizontes mezclados por
        <a ui-sref="menu.crioturbaciN">crioturbación</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/98O86o5VSUa46MoHD9ey_Haploturbel.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="turbeles-markdown305" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Turbel?</p>
    </div>
    <div id="turbeles-button-bar39" class="button-bar">
      <a ui-sref="menu.subRdenesGelisoles()" id="turbeles-button209" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposTurbeles()" id="turbeles-button210" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>