<ion-view title="Udeptes" id="page471">
  <ion-content padding="true" class="has-header">
    <div id="udeptes-markdown829" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Inceptisoles.</p>

      <hr>
    </div>
    <div>
      <img src="img/JgVsOrZVSDSFyglP0n9x_Distrudept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="udeptes-markdown830" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Udept?</p>
    </div>
    <div id="udeptes-button-bar76" class="button-bar">
      <a ui-sref="menu.subRdenesInceptisoles()" id="udeptes-button536" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposUdeptes()" id="udeptes-button537" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>