<ion-view title="Udifluventes" id="page504">
  <ion-content padding="true" class="has-header">
    <div id="udifluventes-markdown891" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Otros Fluventes.</p>

      <hr>
    </div>
    <div>
      <img src="img/Z7Dor7pgTbOthaP6tqp7_Udifluvent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="udifluventes-markdown892" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Fluvent
          <ul>
            <li>Udifluvent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>