<ion-view title="Udivitrandes" id="page145">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <ul>
        <li>• Régimen de humedad
          <a ui-sref="menu.DicoRGimenDeHumedad">údico</a>.</li>
        <li>• Otros Vitrandes.</li>
      </ul>
      <p> </p>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/KHnoXWXSuWRq3tBqbsFw_Udivitrand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="udivitrandes-markdown226" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Vitrand
          <ul>
            <li>Udivitrand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>