<ion-view title="Udoles" id="page376">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Régimen de humedad
          <a ui-sref="menu.DicoRGimenDeHumedad">údico</a>. </li>
        <li>• Otros Molisoles.</li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/n92DIZ1lRJuVelGN2hus_Hapludol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="udoles-markdown653" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Udol?</p>
    </div>
    <div id="udoles-button-bar66" class="button-bar">
      <a ui-sref="menu.subRdenesMolisoles()" id="udoles-button425" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposUdoles()" id="udoles-button426" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>