<ion-view title="Udoxes" id="page160">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Otros Oxisoles.
        </li>
        <li>• Régimen de humedad
          <a ui-sref="menu.DicoRGimenDeHumedad">údico</a>. </li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/P1v49Xr0TUqYRYIQgsGe_Hapludox.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="udoxes-markdown255" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Udox?</p>
    </div>
    <div id="udoxes-button-bar38" class="button-bar">
      <a ui-sref="menu.subRdenesOxisoles()" id="udoxes-button214" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposUdoxes()" id="udoxes-button215" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>