<ion-view title="Udultes" id="page284">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de humedad
        <a ui-sref="menu.DicoRGimenDeHumedad">údico</a>.</p>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/iVzkRlxS1WXOzeve1nkM_Kandiudult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="udultes-markdown487" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Udult?</p>
    </div>
    <div id="udultes-button-bar55" class="button-bar">
      <a ui-sref="menu.subRdenesUltisoles()" id="udultes-button332" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposUdultes()" id="udultes-button333" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>