<ion-view title="Ultisoles" id="page37">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Suelos con una
        <a ui-sref="menu.saturaciNConBases">saturación con bases</a> menor al 35% y horizonte
        <a ui-sref="menu.argLicoHorizonte">argílico</a> o
        <a ui-sref="menu.kNdicoHorizonte">kándico</a>.</p>
      <hr>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider8" delegate-handle="slider8" id="ultisoles-slider8" style="width:100%;height:300px;">
      <ion-slide-page id="ultisoles-slide222">
        <div>
          <img src="img/iVzkRlxS1WXOzeve1nkM_Kandiudult.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="ultisoles-slide223" style="background:url(&quot;img/1r9m8YJRQWunzjn8UozS_Ultisoles_cr300centro.jpg&quot;) no-repeat center;background-size:cover;">
        <p align="center">
          Distribución mundial de los Ultisoles
        </p>
      </ion-slide-page>
      <ion-slide-page id="ultisoles-slide255">
        <p align="center">Distribución de los Ultisoles en Argentina
          <img src="img/n3eUV2NyRP2dRLD9Fnoc_Ultisoles1y2.jpeg" style="max-width: 200px; max-height: 250px" alt="Distribución de los Ultisoles en Argentina">
          <br>
          <font color="green">• Dominantes </font> &nbsp; &nbsp;
          <font color="purple"> • Secundarios </font>
        </p>
      </ion-slide-page>
    </ion-slides>
    <div id="ultisoles-markdown33" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">¿El suelo es un Ultisol?</p>
    </div>
    <div id="ultisoles-button-bar11" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="ultisoles-button43" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesUltisoles()" id="ultisoles-button44" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Sí</a>
    </div>
  </ion-content>
</ion-view>