<ion-view title="Umbracultes" id="page294">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con
        <a ui-sref="menu.epipedN">epipedón</a>
        <a ui-sref="menu.MbricoHorizonte">úmbrico</a> o
        <a ui-sref="menu.mLicoHorizonte">mólico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/EE7aoj2sQWee1M0aWOmS_Umbracult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="umbracultes-markdown502" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Ultisol</strong>
      </h5>

      <ul>
        <li>Acult
          <ul>
            <li>Umbracult</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>