<ion-view title="Ustandes" id="page114">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <ul>
        <li>• Régimen de humedad
          <a ui-sref="menu.usticoRGimenDeHumedad">ústico</a>.
        </li>
        <li>• Climas semiáridos y subhúmedos. </li>
      </ul>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/oOKsYSE8TXyxRn7NUhjp_Haplustand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="ustandes-markdown172" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Ustand?</p>
    </div>
    <div id="ustandes-button-bar32" class="button-bar">
      <a ui-sref="menu.subRdenesAndisoles()" id="ustandes-button163" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposUstandes()" id="ustandes-button164" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>