<ion-view title="Ustalfes" id="page403">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de humedad
        <a ui-sref="menu.usticoRGimenDeHumedad">ústico</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/ZVTZbyCsTjKxpgPSyOn7_Haplustalf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="ustalfes-markdown703" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Ustalf?</p>
    </div>
    <div id="ustalfes-button-bar68" class="button-bar">
      <a ui-sref="menu.subRdenesAlfisoles()" id="ustalfes-button469" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposUstalfes()" id="ustalfes-button470" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>