<ion-view title="Ustertes" id="page194">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de humedad
        <a ui-sref="menu.usticoRGimenDeHumedad">ústico</a>.</p>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/OO6upbTVR9e0D8FmCX6g_Haplustert.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="ustertes-markdown318" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Ustert?</p>
    </div>
    <div id="ustertes-button-bar45" class="button-bar">
      <a ui-sref="menu.subRdenesVertisoles()" id="ustertes-button247" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposUstertes()" id="ustertes-button248" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>