<ion-view title="Ustico (régimen de humedad)" id="page591">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Es más seco que el
        <a ui-sref="menu.DicoRGimenDeHumedad">údico</a>, con la humedad suficiente en el momento apropiado para el crecimiento de las plantas. La
        <a ui-sref="menu.secciNDeControlDeHumedad">sección de control de humedad</a> se encuentra en parte seca por lo menos 90 días acumulativos, en la mayoría de los años.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.MbricoHorizonte()" id="usticoRGimenDeHumedad-button839" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="usticoRGimenDeHumedad-button840" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.valorN()" id="usticoRGimenDeHumedad-button841" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>