<ion-view title="Ustipsammentes" id="page494">
  <ion-content padding="true" class="has-header">
    <div>
      <p> Régimen de humedad
        <a ui-sref="menu.usticoRGimenDeHumedad">ústico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/vZjz9FaVRXCj4luHWyQF_Ustipsamment.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="ustipsammentes-markdown873" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Psamment
          <ul>
            <li>Ustipsamment</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>