<ion-view title="Ustoles" id="page368">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de humedad
        <a ui-sref="menu.usticoRGimenDeHumedad">ústico</a> o
        <a ui-sref="menu.arDico">arídico</a> que limita con un
        <a ui-sref="menu.usticoRGimenDeHumedad">ústico</a>.</p>
      <hr>
      <p></p>
    </div>
    <div>
      <img src="img/3biJacFZSc29qwPEAzLs_Haplustol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="ustoles-markdown638" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Ustol?</p>
    </div>
    <div id="ustoles-button-bar65" class="button-bar">
      <a ui-sref="menu.subRdenesMolisoles()" id="ustoles-button416" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposUstoles()" id="ustoles-button417" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>