<ion-view title="Ustultes" id="page286">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Régimen de humedad
          <a ui-sref="menu.usticoRGimenDeHumedad">ústico</a>.
        </li>
        <li>• Climas semiáridos o subhúmedos. </li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/R0LnfnSmmn0mWkKbGc9w_Kandiustult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="ustultes-markdown491" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Ustult?</p>
    </div>
    <div id="ustultes-button-bar57" class="button-bar">
      <a ui-sref="menu.subRdenesUltisoles()" id="ustultes-button336" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposUstultes()" id="ustultes-button337" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>