<ion-view title="Valor n" id="page592">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> El valor n describe la capacidad de un suelo
        <a ui-sref="menu.saturaciNAgua">saturado</a> para soportar una carga, tales como ganado de pastoreo o maquinaria pequeña. Considera el porcentaje de agua en condiciones de campo, así como porcentajes de limo, arena, arcilla y materia orgánica.
        <br>Para fines de clasificación de suelos, se utiliza un
        <b>valor n</b> crítico de 0,7.
        <br> Una simple prueba de campo permite estimarlo apretando un puñado de tierra. Si el suelo fluye entre los dedos, pero con dificultad (es decir, ligeramente fluido), el valor n esté probablemente entre 0,7 y 1,0. Si el suelo fluye fácilmente (es
        decir, moderadamente fluido o muy fluido), es mayor que 1,0. Si el suelo no fluye entre los dedos (no fluido), es menor que 0,7.
        <br> n = (A – 0,2 R)/(L+3H)
        <br> A es el porcentaje de agua (gravimétrico) en el suelo en condiciones de campo; R es el porcentaje de limo más arena; L es el porcentaje de arcilla; y H es el porcentaje de materia orgánica.</p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.usticoRGimenDeHumedad()" id="valorN-button851" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="valorN-button852" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.value()" id="valorN-button853" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>