<ion-view title="Value" id="page623">
  <ion-content padding="true" class="has-header">
    <p align="justify">
      Es una de las tres variables que en el sistema de Munsell definen el color. Representa lo claro u oscuro que es un color respecto de su color patrón.
      <br> Se traduce como
      <b>luminosidad</b>,
      <b>valor</b> o
      <b>brillo</b>.
    </p>
    <div>
      <a style="display:block;">
        <img src="img/h4OS3B9QRHyBTz7rRHfo_Munsellcolorsystem.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <p>
      <font size="-2"> Imagen extraída de Wikipedia</font>
    </p>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.valorN()" id="value-button793" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="value-button821" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.xRicoRGimenDeHumedad()" id="value-button822" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>