<ion-view title="Vermudoles" id="page374">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Por debajo del Ap o de los 18 cm tiene 50% o más (en volumen) de canales o excretas de lombrices o animales.
      </p>
      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="vermudoles-markdown650" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Molisol</strong>
      </h5>

      <ul>
        <li>Udol
          <ul>
            <li>Vermudol</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>