<ion-view title="Vermacualfes" id="page382">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Al menos 25 de los primeros 100 cm con 50% o más (en volumen) de canales o excretas de lombrices o animales.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/cUiCdqUwSmWQjwffLERT_Vermacualf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="vermacualfes-markdown665" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Alfisol</strong>
      </h5>

      <ul>
        <li>Acualf
          <ul>
            <li>Vermacualf</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>