<ion-view title="Vertisoles" id="page35">
  <ion-content padding="true" class="has-header">
    <div>
      <p align="justify">
        Suelos que presentan grietas y
        <a ui-sref="menu.slickensides">slickensides</a> o agregados
        <a ui-sref="menu.cuneiforme">cuneiformes</a>.
        <br> Tienen más de 30 % de arcilla entre los 18 y 50 cm de profundidad.
      </p>
      <hr>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider6" delegate-handle="slider6" id="vertisoles-slider6" style="width:100%;height:300px;">
      <ion-slide-page id="vertisoles-slide216">
        <div>
          <img src="img/XoBpV81mTEeTW30sAMqX_Haplustert.jpg" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page id="vertisoles-slide217" style="background:url(&quot;img/GDhzkdZTqSgsdSJPsWON_Vertisoles_cr300centro.jpg&quot;) no-repeat center;background-size:cover;">
        <p align="center">
          Distribución mundial de los Vertisoles
        </p>
      </ion-slide-page>
      <ion-slide-page id="vertisoles-slide260">
        <p align="center">Distribución de los Vertisoles en Argentina
          <img src="img/EYDISjozSwWlLrpDGJih_vertisoles1y2.jpeg" style="max-width: 200px; max-height: 250px" alt="Distribución de los Vertisoles en Argentina">
          <br>
          <font color="green">• Dominantes </font> &nbsp; &nbsp;
          <font color="purple"> • Secundarios </font>
        </p>
      </ion-slide-page>
    </ion-slides>
    <div id="vertisoles-markdown31" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="margin-top:0px;color:#000000;">¿El suelo es un Vertisol?</p>
    </div>
    <div id="vertisoles-button-bar9" class="button-bar">
      <a ui-sref="menu.clasificaciN()" id="vertisoles-button39" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close">No</a>
      <a ui-sref="menu.subRdenesVertisoles()" id="vertisoles-button40" style="font-weight:500;font-size:0px;border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done">Sí</a>
    </div>
  </ion-content>
</ion-view>