<ion-view title="Vitrixerandes" id="page141">
  <ion-content padding="true" class="has-header">
    <div id="vitrixerandes-markdown217" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Menos de 15% de humedad a 1500 kPa. Dominados por vidrio volcánico.</p>

      <hr>
    </div>
    <div>
      <img src="img/HrgG5ctTyy2fN8Ljsx82_Vitrixerand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="vitrixerandes-markdown218" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Xerand
          <ul>
            <li>Vitrixerand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>