<ion-view title="Vitracuandes" id="page128">
  <ion-content padding="true" class="has-header">
    <div id="vitracuandes-markdown191" class="show-list-numbers-and-dots">
      <ul>
        <li>Menos de 15% de humedad a 1500 kPa. </li>
        <li>Dominados por vidrio volcánico.</li>
      </ul>

      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="vitracuandes-markdown192" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Andisol</strong>
      </h5>

      <ul>
        <li>Acuand
          <ul>
            <li>Vitracuand</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>