<ion-view title="Wassentes" id="page480">
  <ion-content padding="true" class="has-header">
    <div id="wassentes-markdown845" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Con potencial de agua positivo en la superficie del suelo por más de 21 horas diarias todos los días.</p>

      <hr>
    </div>
    <div>
      <img src="img/9FgYOlCRUScoTDjgeSbU_Wassent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="wassentes-markdown846" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Wassent?</p>
    </div>
    <div id="wassentes-button-bar77" class="button-bar">
      <a ui-sref="menu.subRdenesEntisoles()" id="wassentes-button534" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposWassentes()" id="wassentes-button544" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>