<ion-view title="Wassistes" id="page46">
  <ion-content padding="true" class="has-header">
    <div id="wassistes-markdown45" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Potencial agua positivo en la superficie del suelo por más de 21 horas cada día en todos los años.</p>

      <hr>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="wassistes-markdown46" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Wassist?</p>
    </div>
    <div id="wassistes-button-bar17" class="button-bar">
      <a ui-sref="menu.subRdenesHistosoles()" id="wassistes-button75" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposWassites()" id="wassistes-button76" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>