<ion-view title="Xeralfes" id="page412">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de humedad
        <a ui-sref="menu.xRicoRGimenDeHumedad">xérico</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/dW8ct9rWQrmLDhlQ4teL_Haploxeralf.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="xeralfes-markdown720" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Xeralf?</p>
    </div>
    <div id="xeralfes-button-bar69" class="button-bar">
      <a ui-sref="menu.subRdenesAlfisoles()" id="xeralfes-button471" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposXeralfes()" id="xeralfes-button472" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>