<ion-view title="Xerandes" id="page112">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de humedad
        <a ui-sref="menu.xRicoRGimenDeHumedad">xérico</a> (veranos secos inviernos húmedos).
      </p>
      <hr>
    </div>
    <div>
      <img src="img/gYndjqoURMKWr4V5bUIq_Vitrixerand.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="xerandes-markdown168" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Xerand?</p>
    </div>
    <div id="xerandes-button-bar30" class="button-bar">
      <a ui-sref="menu.subRdenesAndisoles()" id="xerandes-button159" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposXerandes()" id="xerandes-button160" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>