<ion-view title="Xereptes" id="page463">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Régimen de humedad
        <a ui-sref="menu.xRicoRGimenDeHumedad">xérico</a>.
      </p>
      <hr>
    </div>
    <div>
      <img src="img/GgkXW11kQFCezx6gvPcp_Haploxerept.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="xereptes-markdown815" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Xerept?</p>
    </div>
    <div id="xereptes-button-bar75" class="button-bar">
      <a ui-sref="menu.subRdenesInceptisoles()" id="xereptes-button527" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposXereptes()" id="xereptes-button528" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>