<ion-view title="Xeroles" id="page359">
  <ion-content padding="true" class="has-header">
    <p>
      Régimen de humedad
      <a ui-sref="menu.xRicoRGimenDeHumedad">xérico</a> o
      <a ui-sref="menu.arDico">arídico</a> que limita con un
      <a ui-sref="menu.xRicoRGimenDeHumedad">xérico</a>.
    </p>
    <div>
      <img src="img/klUKAKoRHqqKU5gwnHZv_Calcixerol.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="xeroles-markdown621" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Xerol?</p>
    </div>
    <div id="xeroles-button-bar64" class="button-bar">
      <a ui-sref="menu.subRdenesMolisoles()" id="xeroles-button407" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposXeroles()" id="xeroles-button408" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>