<ion-view title="Xerortentes" id="page510">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Régimen de humedad
        <a ui-sref="menu.xRicoRGimenDeHumedad">xérico</a>. </p>
      <hr>
    </div>
    <div>
      <img src="img/PfaiCfIaSFWQ9wRw0EUO_Xerorthent.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="xerortentes-markdown903" class="show-list-numbers-and-dots">
      <hr>

      <h5>
        <strong>Entisol</strong>
      </h5>

      <ul>
        <li>Ortent
          <ul>
            <li>Xerortent</li>
          </ul>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>