<ion-view title="Xerultes" id="page287">
  <ion-content padding="true" class="has-header">
    <div>
      <ul>
        <li>• Régimen de humedad
          <a ui-sref="menu.xRicoRGimenDeHumedad">xérico</a>.
        </li>
        <li>• Otros Ultisoles. </li>
      </ul>
      <hr>
    </div>
    <div>
      <img src="img/neqCEmNTQFufaAbshoGk_Haploxerult.jpg" style="display: block; width: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="xerultes-markdown493" style="text-align:center;" class="show-list-numbers-and-dots">
      <hr>

      <p style="color:#000000;">¿El suelo es un Xerult?</p>
    </div>
    <div id="xerultes-button-bar58" class="button-bar">
      <a ui-sref="menu.subRdenesUltisoles()" id="xerultes-button338" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-close"></a>
      <a ui-sref="menu.grandesGruposXerultes()" id="xerultes-button339" style="border-radius:33px 33px 33px 33px;" class="button button-dark button-small button-block button-outline icon ion-android-done"></a>
    </div>
  </ion-content>
</ion-view>