<ion-view title="Óxico (horizonte)" id="page569">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> Horizonte con alta meteorización, formado por mezcla de óxidos hidratados de Fe y/o Al, con arcillas caoliníticas (<a ui-sref="menu.cIC">CIC aparente</a> menor de 16 meq/100 gr de arcilla) y minerales insolubles.
        <br> Constituye el "B" de los suelos rojos tropicales, el espesor debe ser por lo menos de 30 cm.</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	  <a ui-sref="menu.orsteinHorizonte()" id="XicoHorizonte-button761" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="XicoHorizonte-button762" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
      <a ui-sref="menu.plGenoPlaggenHorizonte()" id="XicoHorizonte-button763" style="font-weight:lighter;font-size:14px;text-align:right;" style="font-weight:lighter;font-size:14px;text-align:right;" class="button button-small button-light button-icon icon-right ion-arrow-right-b">Sig.&nbsp</a>
    </div>
  </ion-footer-bar>
</ion-view>