<ion-view title="Xérico (régimen de humedad)" id="page593">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <b></b>
      </p>
      <p align="justify"> La
        <a ui-sref="menu.secciNDeControlDeHumedad">sección de control de humedad</a>, en años normales, debe estar totalmente seca durante al menos 45 días consecutivos, dentro de los cuatro meses siguientes al solsticio de verano, y húmeda durante al menos 45 días consecutivos en los 4 meses
        siguientes al solticio de invierno.
        <br> Es el régimen de humedad que tipifica a las áreas con climas mediterráneos, donde los inviernos son húmedos y frescos y los veranos son cálidos y secos.
      </p>
    </div>
   </ion-content>
  <ion-footer-bar align-title="left" class="bar-light">
  <div class="button-bar">
	 <a ui-sref="menu.value()" id="xRicoRGimenDeHumedad-button854" style="font-weight:lighter;font-size:14px;text-align:left;" class="button button-light button-icon icon-left ion-arrow-left-b">&nbsp;Ant.</a>
      <a ui-sref="menu.glosario()" id="xRicoRGimenDeHumedad-button855" class="button button-small button-light button-icon icon ion-ios-list-outline"></a>
    </div>
  </ion-footer-bar>
</ion-view>